﻿@model PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel

@if(Model.Existed.HasValue)
{
    if (Model.Existed.Value && Model.ChangeToSubscibtionIndication)
    {
        <button type="submit" class="b-blck b-blck_bg-green b-blck_subscribe pull-right" style = "margin-bottom:0px;width:240px;background-color:gray" disabled="disabled">Вы подписаны на блог</button>
    } 
    else
    {
        using (Ajax.BeginForm("BlogSubscribe", "Subscription", new { blogID = Model.ObjectID, on = !Model.Existed.Value }, new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "_updateBlogSubscribeButton" + Model.ObjectID,
            LoadingElementId = "loadLayout"
        }))
        {
            if (Model.Existed.Value)
            {
                <button type="submit" class="b-blck b-blck_bg-green b-blck_subscribe pull-right" style = "margin-bottom:0px;width:240px;background-color:gray">Отписаться от блога</button>

            }
            else
            {
                <button type="submit" class="b-blck b-blck_bg-green b-blck_subscribe pull-right" style = "margin-bottom:0px;width:240px">Подписаться на блог</button>
            }
        }
    } 
}