﻿@model PascalWeb.DB.PageModels.SubscriptionProfileModel


@Styles.Render("~/Content/RoxieTheme/css/style-custom-program.css")
@Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css")

@Html.Partial("_PageTittle", "PascalFM - Мои подписки")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">
        <div class="container-fluid col-md-12 col-lg-12 ">
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Мои Подписки</h1>
            @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
        </div>
        @if (Model != null)
        {
            <div class="container-fluid col-md-6 col-lg-6 ">
                <div class="b-list-programs table-responsive">
                    <h1 class="b-title-h1_fs22 b-main_color" style="text-align:center">Подписки на подкасты</h1>
                    <br />
                    <table class="b-list-programs__item table">
                        @for (int i = 0; i < Model.SubscriptionProgramList.Count(); i++)
                        {
                            var programSubItem = @Model.SubscriptionProgramList[i];
                            <tr class="b-list-program">
                                <td>
@*                                    <img src="@programSubItem.ImagePath" width="50" height="50"/>*@
                                    @if (!string.IsNullOrEmpty(programSubItem.ImagePath))
                                    {
                                        @:<img src="@programSubItem.ImagePath" alt="" class="" style="min-width:50px">
                                    } else
                                    {
                                        @:<img alt="" class="b-main_image_default_program_small " style="min-width:50px">
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(programSubItem.ObjectName, "Details", "Program", routeValues: new { id = programSubItem.SubsciptionObjectID },
                                        htmlAttributes: new { @class = "b-main_color", withpjax = "withpjax"})
                                </td>
                                <td>
                                    <div class="pull-right" id="@("_updateProgramSubscribeButton" + programSubItem.SubsciptionObjectID.ToString())">
                                        @Html.Partial("_updateProgramSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(programSubItem.SubsciptionObjectID, programSubItem.Existed, false))
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>        
            </div>
            
                
             <div class="container-fluid col-md-6 col-lg-6 ">
                <div class="b-list-programs table-responsive">
                    <h1 class="b-title-h1_fs22 b-main_color" style="text-align:center">Подписки на блоги</h1>
                    <br />
                    <table class="b-list-programs__item table">
                        @for (int i = 0; i < Model.SubscriptionBlogList.Count(); i++)
                        {
                            var blogSubItem = @Model.SubscriptionBlogList[i];
                            <tr class="b-list-program">
                                <td>
                                  @*  <img src="@blogSubItem.ImagePath" width="50" height="50"/>*@
                                    @if (!string.IsNullOrEmpty(blogSubItem.ImagePath))
                                    {
                                        @:<img src="@blogSubItem.ImagePath" alt="" class="b-rating__list__item__img" style="min-width:50px">
                                    } else
                                    {
                                        @:<img alt="" class="b-main_image_default_blog_small b-rating__list__item__img" style="min-width:50px">
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(blogSubItem.ObjectName, "Index", "BlogRecord", routeValues: new { blogid = blogSubItem.SubsciptionObjectID },
                                        htmlAttributes: new { @class = "b-main_color", withpjax = "withpjax"})
                                </td>
                                <td>
                                    <div id="@("_updateBlogSubscribeButton" + blogSubItem.SubsciptionObjectID.ToString())">
                                        @Html.Partial("_updateBlogSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(blogSubItem.SubsciptionObjectID, blogSubItem.Existed, false))
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>        
            </div>
        }
    </div>
</div>