﻿@model IEnumerable<PascalWeb.DB.AuxiliaryModels.UserInfoModel>


<table id="userSearchResult" class="table table-bordered" style="width:100%">

    <tr>
        <th>Фото</th>
        <th>Email</th>
        <th>ФИО</th>
        <th>Роль</th>
        <th>Управление</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>
            @{var item = Model.ElementAt(i);          
                <td>
                    @if (item.PhotoStr != null)
                    {
                        @:<image src="@item.PhotoStr" width=50 height = 50 style="margin-right:10px;margin-bottom:10px;"  />
                    } else
                    {
                        @:<image width=50 height = 50 style=" margin-right:10px;margin-bottom:10px;"/>
                    }
                </td>
    
                <td>               
                     @item.Login
                </td>
                <td>
                    @item.FullName
                </td>
                
                <td>
                    @item.RoleName
                </td>
                
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Account", new { id = @item.UserID },
                        new { @class = "btn btn-info btn-xs btn-block" })              
                    @Html.ActionLink("Удалить", "Delete", "Account", new { id = @item.UserID },
                        new { data_modal = "", @class = "btn btn-danger btn-xs btn-block" })
                </td>
            }
        </tr>
    }

</table>



<script>
    $(function () {
        //$.ajaxSetup({ cache: false });
        $.ajax({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            // hide dropdown if any
            $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

    });

    function bindForm(dialog) {

        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        //Refresh
                        location.reload();
                    } else {
                        $('#myModalContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }
</script>