﻿@model PascalWeb.DB.PageModels.AdminBlogPageModel

@Html.Partial("_PageTittle", "PascalFM - Управление блогом")
@Html.Partial("_HeadNavigation", 4)

@*<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>*@


<div class="l-content">
    <div class="container">

        @if (Model.Blog == null)
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление блогом</h1>
            
            <div class=" ">
                <span>Добавить новый блог - </span>
                @Html.ActionLink("Создать блог", "CreateBlog", "BlogRecord", null, new { @class = "btn btn-primary" })

                @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
            </div>
    
        }
        else
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление блогом '@Model.Blog.Name'</h1>
            
            <div class=" ">
                <span>Добавить запись в блог - </span>
                @Html.ActionLink("Добавить запись в блог", "LoadBlogRecord", "BlogRecord", new { id = 0, blogID = Model.Blog.ID }, new { @class = "btn btn-small btn-primary" })
                @Html.ActionLink("Редактировать информацию о блоге", "CreateBlog", "BlogRecord", new { id = Model.Blog.ID }, new { @class = "btn btn-small btn-primary" })

                @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
            </div>
        }

        <br />

        @if (Model.Blog != null && Model.TableData != null)
        {
            <table id="userSearchResult" class="table table-bordered" style="width:100%">

                <tr>
                    <th>Дата</th>
                    <th>Название</th>
                    <th>Теги</th>
                    <th>Опубликовать</th>
                    <th>Управление</th>
                </tr>
                @for (int i = 0; i < Model.TableData.Data.Count(); i++)
                {
                    <tr>
                        @{
                    var item = Model.TableData.Data.ElementAt(i);
                    var formatDate = GeneralMethods.getFormatedDateAndTime(item.CreationDate);     
                            <td>
                                @formatDate
                            </td>
    
                            <td>               
                                 @item.Title
                            </td>
                            <td>
                                @for (int j = 0; j < item.BlogRecordAndTag.Count; j++)
                                {
                                    <span>@Html.ActionLink("#" + @item.BlogRecordAndTag.ElementAt(j).Tag.Name, "Search", "Search", routeValues: new { query = "#" + @item.BlogRecordAndTag.ElementAt(j).Tag.Name },
                                        htmlAttributes: new { @class = "link b-main_color", withpjax = "withpjax" })</span>
                                }
                            </td>
                
                            <td>
                                @if (item.Published)
                                {
                                    @Html.ActionLink("Убрать", "Publish", "BlogRecord", routeValues: new { id = @item.ID, publish = false },
                                        htmlAttributes: new { @class = "btn btn-danger btn-xs btn-block" })
                                }
                                else
                                {
                                    @Html.ActionLink("Опубликовать", "Publish", "BlogRecord", new { id = @item.ID, publish = true },
                                        new { @class = "btn btn-success btn-xs btn-block" })
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Редактировать", "LoadBlogRecord", "BlogRecord", new { id = @item.ID },
                                    new { @class = "btn btn-info btn-xs btn-block" })              
                                @Html.ActionLink("Удалить", "Delete", "BlogRecord", new { id = @item.ID },
                                    new { data_modal = "", @class = "btn btn-danger btn-xs btn-block" })
                            </td>
                        }
                    </tr>
                }

            </table>


                {
                    Html.RenderPartial("_pagination", Model.TableData.PaginationModel);
                }

        }

    </div>
</div>


<script>
    $(function () {
        //$.ajaxSetup({ cache: false });
        $.ajax({ cache: false });

        $("a[data-modal]").on("click", function (e) {
            // hide dropdown if any
            $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });

    });

    function bindForm(dialog) {

        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        //Refresh
                        location.reload();
                    } else {
                        $('#myModalContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }
</script>