﻿@model IEnumerable<PascalWeb.DB.Program>


@Html.Partial("_PageTittle", "PascalFM - Управление подкастами")
@Html.Partial("_HeadNavigation", 4)


<div class="l-content">
    <div class="container">

        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление подкастами</h1>

        <div class=" ">
            <span>Добавить новуй подкаст - </span>
            @Html.ActionLink("Добавить подкаст", "Create", "Program", null, new { @class = "btn btn-small btn-primary" })

            @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
        </div>
        <br />

        <table id="userSearchResult" class="table table-bordered" style="width:100%">
            <tr>
                <th>Logo</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Тэги</th>
                <th>Управление</th>
            </tr>
 
            @for(int i=0; i < Model.Count(); i++)
            {
                var program = Model.ElementAt(i);
                <tr>
                    <td>   
                        <img src="@program.SmallLogoPath" width="40" height="40" />
                    </td>
                    <td>@program.Name</td>
                    <td>@program.Description</td>
                    <td>
                        @{
                            for(int j =0; j < program.ProgramAndTag.Count(); j++)
                            {
                                <a class="header b-main_color" style="vertical-align: middle">#@program.ProgramAndTag.ElementAt(j).Tag.Name</a>
                            }                                                                                                                                         
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Список выпусков", "AdminProgramEditionView", "Admin", new { programID = @program.ID },
                            new { @class = "btn btn-info btn-xs btn-block"/*, withpjax = "withpjax"*/ })
                        @Html.ActionLink("Редактировать", "Edit", "Program", new { id = @program.ID },
                            new { @class = "btn btn-info btn-xs btn-block", withpjax = "withpjax" })
                        @Html.ActionLink("Удалить", "Delete", "Program", new { id = @program.ID },
                            new { data_modal = "", id = "btnDeleteModal", @class = "btn btn-danger btn-xs btn-block" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>