﻿@model PascalWeb.DB.AuxiliaryModels.QueryAndResultModel<List<PascalWeb.DB.Blog>>

@Html.Partial("_PageTittle", "PascalFM - Управление всеми блогами")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">
        
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление блогами</h1>
        @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
        <br />
        <br />
        <div class="" style="margin-top: 20px;">
            <h4 style="padding-top:0px">Поиск блога</h4>
            @using (Html.BeginForm("AdminAllBlogs", "Admin", FormMethod.Get, new
            {
                @class = "",
                role = "form",
                withpjax = "withpjax"
            }))
            {
                @*<input type="text" class="" name = "query"  style="width:49%;height:35px" placeholder="Поиск">*@
                
                @Html.TextBoxFor(m => Model.Query, new { @class = "", @style = "width:49%;height:35px;", placeholder = "Поиск" })
                <input type="submit" class="btn btn-primary pull-right"  style="width:49%;height:35px" value="Найти"/>
            }    
        </div>
        <br />

        <table id="userSearchResult" class="table table-bordered" style="width:100%">
            <tr>
                <th>№</th>
                <th>Лого</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Описание</th>
                <th>Управление</th>
            </tr>
            @for(int i=0; i<Model.Data.Count; i++)
            {
                var item = @Model.Data[i];
                var authorName = PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(item.UserAuth);
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        @if (item.SmallLogoPath != null)
                        {
                            @:<img src="@item.SmallLogoPath" width=50 height = 50 style="margin-right:10px;margin-bottom:10px;"  />
                        } else
                        {
                            @:<img width=50 height = 50 style=" margin-right:10px;margin-bottom:10px;"/>
                        }
                    </td>
                    <td>@item.Name</td>
                    <td>@authorName</td>
                    <td>@item.Description</td>
                    <td>
                        @Html.ActionLink("К странице блога", "AdminBlogView", "Admin", 
                            new { blogID = item.ID}, htmlAttributes: new { @class = "btn btn-info btn-xs btn-block", withpjax = "withpjax" })

                        @Html.ActionLink("Delete", "Delete", "Tag", new { id = @item.ID }, 
                            new {  @class="btn btn-danger btn-xs btn-block disabled" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>