﻿@model IEnumerable<PascalWeb.DB.ProgramEdition>


@Html.Partial("_PageTittle", "PascalFM - Управление выпусками")
@Html.Partial("_HeadNavigation", 4)


<div class="l-content">
    <div class="container">

        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление выпусками подкастов</h1>

        @if(ViewData.ContainsKey("programID"))
        {
            var programID = ViewData["programID"];
            <div class=" ">
                <span>Добавить новый выпуск - </span>
                @Html.ActionLink("Добавить выпуск", "Create", "ProgramEdition", new { programID = @programID}, new { @class = "btn btn-small btn-primary" /*, withpjax = "withpjax"*/ })

                @Html.ActionLink("Назад к подкастам", "AdminProgramView", "Admin", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
            </div>

        }

        <br />

        <table id="userSearchResult" class="table table-bordered" style="width:100%">
            <tr>
                <th>Дата выпуска</th>
                <th>Название</th>
                <th>Длительность</th>
                <th>Описание</th>
                <th>Тэги</th>
                <th>Выпуск в эфир</th>
                <th>Управление</th>
            </tr>

            @for(int i=0; i < Model.Count(); i++)
            {
                var programEdition = Model.ElementAt(i);
                var formatDate = GeneralMethods.getFormatedDateAndTime(programEdition.AirDate);
                var durationStr = GeneralMethods.getTrackDurationString(programEdition.Duration);
            
                <tr>
                    <td>@formatDate</td>
                    <td>
                        @if (programEdition.ContentID != null)
                        {
                            
                            @*@Ajax.AudioActionLinkTo("Play", "AudioElementForOneEdition", "Home", "", "Загрузка...", routeValues: new { editionID = programEdition.ID },
                                htmlAttributes: new { @class = "btn btn-success btn-xs", @style = "color:black;" })*@

                        } else
                        {
                            <span style="color:black;background-color:red">NO FILE</span>
                            <br />
                        }
                        @programEdition.EditionTittle  
                    </td>
                    <td>@durationStr</td>
                    <td>@programEdition.ShortDescription</td>
                    <td>
                        @{
                            var tagList = PascalWeb.Controllers.TagController.stringToTagList(programEdition.TagString);
                            for (int j = 0; j < tagList.Count(); j++)
                            {
                                <a class="header b-main_color" style="vertical-align: middle">#@tagList[j]</a>
                            }
                        }
                    </td>
                    <td>
                        @if (programEdition.Published.HasValue && programEdition.Published.Value)
                        {
                            @Html.ActionLink("Убрать", "Publish", "ProgramEdition", routeValues: new { id =  @programEdition.ID, publish = false},
                                htmlAttributes: new { @class = "btn btn-danger btn-xs btn-block" })
                        } else {
                            if (programEdition.ContentID != null)
                            {
                                @Html.ActionLink("Выпустить", "Publish", "ProgramEdition", new {id =  programEdition.ID, publish = true},
                                    new { @class = "btn btn-success btn-xs btn-block" })
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "Edit", "ProgramEdition", new { id = @programEdition.ID },
                            new { @class = "btn btn-info btn-xs btn-block", /*withpjax = "withpjax"*/ })
                        @Html.ActionLink("Удалить", "Delete", "ProgramEdition", new { id = @programEdition.ID },
                            new { data_modal = "", id = "btnDeleteModal", @class = "btn btn-danger btn-xs btn-block" })
                    </td>
                </tr>
            }
        </table>

    </div>
</div>
