﻿@model IEnumerable<PascalWeb.DB.AuxiliaryModels.SiteActionModel>

@Html.Partial("_PageTittle", "PascalFM - Управление правами")
@Html.Partial("_HeadNavigation", 0)


<div class="l-content">
    <div class="container">
        
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление правами</h1>

        <div >
            @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
        </div>
 

        <table id="userRightSearchResult" class="table table-bordered" style="width:100%">

            <tr>
                <th>№</th>
                <th>Контроллер</th>
                <th>Методы</th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    @{var item = Model.ElementAt(i);          
   
                        <td>               
                             @(i+1)
                        </td>
                        <td>
                            @item.ControllerName

                            <ul>
                                <li>БА - Без аунтификации</li>
                                <li>АП - Аунтентифицированный пользователь</li>
                                <li>Жу - Журналист</li>
                                <li>Мо - Модератор</li>
                                <li>Ре - Редактор</li>
                                <li>Ад - Администратор</li>
                                <li>ВР - ВСЕ РОЛИ</li>
                            </ul>
                        </td>
                        <td>
                            @if(item.ActionRules.Count> 0)
                            {
                                <div>
                                    @Html.ActionLink("- БА", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.withoutauth, isAddtion = false},
                                        htmlAttributes: new { @class = "btn btn-warning btn-xs ", @style="height:25px; width:35px; margin-bottom:5px" })

                                    @Html.ActionLink("- АП", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.generaluser, isAddtion = false},
                                        htmlAttributes: new { @class = "btn btn-warning btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("- Жу", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.journalist, isAddtion = false},
                                        htmlAttributes: new { @class = "btn btn-warning btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("- Мо", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.moderator, isAddtion = false},
                                        htmlAttributes: new { @class = "btn btn-warning btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("- Ре", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.editor, isAddtion = false},
                                        htmlAttributes: new { @class = "btn btn-warning btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("- Ад", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.admin, isAddtion = false},
                                        htmlAttributes: new { @class = "btn btn-warning btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                </div>

                                <div>
                                    @Html.ActionLink("+ БА", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.withoutauth, isAddtion = true},
                                        htmlAttributes: new { @class = "btn btn-info btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("+ АП", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.generaluser, isAddtion = true},
                                        htmlAttributes: new { @class = "btn btn-info btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("+ Жу", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.journalist, isAddtion = true},
                                        htmlAttributes: new { @class = "btn btn-info btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("+ Мо", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.moderator, isAddtion = true},
                                        htmlAttributes: new { @class = "btn btn-info btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("+ Ре", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.editor, isAddtion = true},
                                        htmlAttributes: new { @class = "btn btn-info btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                    @Html.ActionLink("+ Ад", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                        actionName = "", allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.admin, isAddtion = true},
                                        htmlAttributes: new { @class = "btn btn-info btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })

                                </div>
                            }
                                @for (int j = 0; j < item.ActionRules.Count; j++)
                                {
                                    var action = item.ActionRules.Values[j];
                                    <div>
                                        @if (action.Rights.ForNotAuth)
                                        {
                                            @Html.ActionLink("БА", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.withoutauth, isAddtion = false},
                                                htmlAttributes: new { @class = "btn btn-success btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        } else {
                                            @Html.ActionLink("БА", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.withoutauth, isAddtion = true},
                                                htmlAttributes: new { @class = "btn btn-danger btn-xs ", @style="height:25px; width:35px;  margin-bottom:5px" })
                                        }

                                        @if (action.Rights.ForGeneralUser)
                                        {
                                            @Html.ActionLink("АП", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.generaluser, isAddtion = false},
                                                htmlAttributes: new { @class = "btn btn-success btn-xs ", @style="height:25px; width:35px; margin-bottom:5px" })
                                        } else {
                                            @Html.ActionLink("АП", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.generaluser, isAddtion = true},
                                                htmlAttributes: new { @class = "btn btn-danger btn-xs ", @style="height:25px; width:35px; margin-bottom:5px" })
                                        }

                                        @if (action.Rights.ForJournalist)
                                        {
                                            @Html.ActionLink("Жу", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.journalist, isAddtion = false},
                                                htmlAttributes: new { @class = "btn btn-success btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        } else {
                                            @Html.ActionLink("Жу", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.journalist, isAddtion = true},
                                                htmlAttributes: new { @class = "btn btn-danger btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        }

                                        @if (action.Rights.ForModerator)
                                        {
                                            @Html.ActionLink("Мо", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.moderator, isAddtion = false},
                                                htmlAttributes: new { @class = "btn btn-success btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        } else {
                                            @Html.ActionLink("Мо", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.moderator, isAddtion = true},
                                                htmlAttributes: new { @class = "btn btn-danger btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        }

                                        @if (action.Rights.ForEditor)
                                        {
                                            @Html.ActionLink("Ре", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.editor, isAddtion = false},
                                                htmlAttributes: new { @class = "btn btn-success btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        } else {
                                            @Html.ActionLink("Ре", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.editor, isAddtion = true},
                                                htmlAttributes: new { @class = "btn btn-danger btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        }

                                        @if (action.Rights.ForAdministrator)
                                        {
                                            @Html.ActionLink("Ад", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.admin, isAddtion = false},
                                                htmlAttributes: new { @class = "btn btn-success btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        } else {
                                            @Html.ActionLink("Ад", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                                actionName = action.ActionName, allRoles = false, userRole = PascalWeb.DB.Enumerators.eUserRoles.admin, isAddtion = true},
                                                htmlAttributes: new { @class = "btn btn-danger btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })
                                        }

                                        @Html.ActionLink("+ ВР", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                            actionName = action.ActionName, allRoles = true, userRole = PascalWeb.DB.Enumerators.eUserRoles.generaluser, isAddtion = true},
                                            htmlAttributes: new { @class = "btn btn-info btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })

                                        @Html.ActionLink("- ВР", "SetRight", "Admin", routeValues: new { controllerName = @item.ControllerName, 
                                            actionName = action.ActionName, allRoles = true, userRole = PascalWeb.DB.Enumerators.eUserRoles.generaluser, isAddtion = false},
                                            htmlAttributes: new { @class = "btn btn-warning btn-xs", @style="height:25px; width:35px; margin-bottom:5px" })

                                        @action.ActionName

                                    </div>
                            
                                }
             
                        </td>
                
                    }
                </tr>
            }

        </table>


    </div>
</div>