﻿@model PascalWeb.DB.PageModels.Specific.UserSearchModel

@Html.Partial("_PageTittle", "PascalFM - Управление пользователями")
@Html.Partial("_HeadNavigation", 0)

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<div class="l-content">
    <div class="container">
        
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление правами</h1>
        <div class="container-fluid col-xs-12 col-md-12 col-lg-12" style="margin-top: 20px;">

            @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })

            <div class="" style="margin-top: 50px;">
@*                <h4 style="padding-top:0px">Поиск пользователя</h4>*@
                @using (Ajax.BeginForm(actionName: "AdminUserView", controllerName: "Admin", routeValues: null, ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "ajax_main_container",
                    LoadingElementId = "loadLayout"
                }, htmlAttributes: new { @style = "padding-bottom:10px" }))
                {          
                    <div class="form-group" >
                        @Html.Label("Роль", htmlAttributes: new { @class = "control-label" })
                       @* <div class="col-md-10">*@
                            @Html.DropDownListFor(model => model.RoleID, (SelectList)ViewBag.UserRoles, "---Выберите роль ---", htmlAttributes: new { @name = "roleID", @class = "form-control input-md"})  
                        @*</div>*@
                    </div>
                          
                    <div class="form-group" >
                        @Html.TextBoxFor(m => Model.UserData, new {@style = "width:49%;height:35px", placeholder = "Поиск" })
                        <input type="submit" class="btn btn-primary pull-right"  style="width:49%;height:35px" value="Найти"/>
                    </div>
                }

                <div id="userSearchResult" style="width:100%">
                    @{
                        Html.RenderPartial("..//Admin//_userTable", Model.UserList);
                    }
                </div>
            </div>

@*            <div class="" style="margin-top: 20px;">
                <h4 style="padding-top:0px">Поиск пользователя</h4>
                @using (Ajax.BeginForm( actionName:"UserSearch", controllerName:"Admin", routeValues: null, ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "userSearchResult",
                    LoadingElementId = "progress_author"
                }, htmlAttributes: new { @style = "padding-bottom:10px" }))
                {          
                    <input type="text" class="" name = "userData"  style="width:49%;height:35px" placeholder="Поиск">
                    <input type="submit" class="btn btn-primary pull-right"  style="width:49%;height:35px" value="Найти"/>
                }

                <div id="userSearchResult" style="width:100%">
                    @{
                        Html.RenderPartial("..//Admin//_userTable", Model);
                    }
                </div>
            </div>*@
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/modalform")
}
