﻿@model List<PascalWeb.DB.PageModels.LastProgramEditionPageModel.LastProgramEdition>



    <div class="b-podcasts g-clearfix">
        @{
            @Html.Partial("..//ProgramEdition//_TileList", Model);
        }
    </div>


@*<script src="@Url.Content("~/Scripts/audio/generalAudioFunctions.js")" type="text/javascript")></script>*@
@*<script src="@Url.Content("~/Scripts/require.js")" type="text/javascript")></script>*@

<!-- TODO + когда переключаются страницы - остался случай со списком в - это в программах -->
<!-- также нажатие паузы на плеере!! -->
<script type="text/javascript">

    $(document).ready(function () {
        // нужно состояние смотреть - если пауза - то ничего не делать
        try {
            //var Mod = require('~/Scripts/audio/generalAudioFunctions');
            audio = getAudioControl();
            if (!audio[0].paused)
            {
                editionID = document.getElementById("currentTrackID").innerHTML;
                showAndHideControl('start', 'stop', editionID);
            }           
        } catch (exc) { }

    });
</script>