﻿@model PascalWeb.DB.AuxiliaryModels.ExpandingContainerModel<List<PascalWeb.DB.PageModels.LastProgramEditionPageModel.LastProgramEdition>>

    @{
        Guid guid;
        guid = Guid.NewGuid();
        string key = guid.ToString();
        key = key.Replace("-", "");
    }
    <div class="b-podcasts g-clearfix" id="_moreProgramEditions_@key">
        @{
            @Html.Partial("..//ProgramEdition//_TileListView", Model.Data);
        }
    </div>
    <button class="b-blck b-blck_bg-green" style="margin: 10px auto;" onclick="loadMoreEditions_@(key)()">Больше</button>



<script type="text/javascript">
    var page_@(key) = 0;
    var _inCallback_@(key) = false;

    loadMoreEditions_@(key) = function () {
 
        if (page_@(key) > -1 && !_inCallback_@(key)) {
            _inCallback_@(key) = true;
            page_@(key)++;
            $('#loadLayout').show();

            $.post("@Url.Action(Model.ActionName, 
                Model.ControllerName)", { "pageNumber": page_@(key) }, function (data) {
                if (data != '') {
                    $("#_moreProgramEditions_@key").append(data);
                }
                else {
                    page_@(key) = -1;
                }

                _inCallback_@(key) = false;
                $('#loadLayout').hide();
            });
        }
    }
</script>