﻿@model List<PascalWeb.DB.PageModels.CommonCommentViewModel>


<ul class="b-comments__list">
    @for (int i = 0; i < Model.Count; i += 1)
    {
        var item = Model[i];
        
        <li class="b-comments__list__item">
            <div class="b-comment__wrap">      
                @*<img class="b-user-ava b-user-ava_40" src="@item.UserAuth.SmallLogoPath" />*@
                @if (!string.IsNullOrEmpty(@item.UserAuth.SmallLogoPath))
                {
                    @:<img src="@item.UserAuth.SmallLogoPath" alt="" class="b-user-ava b-user-ava_40">
                } else
                {
                @:<img alt="" class="b-user-ava b-user-ava_40 b-main_image_default_user_small">
                }
                <span class="b-comment__wrap__name">@item.UserName</span> <span class="b-comment__wrap__date">@item.CommentDateTime</span>
                <div class="b-comment__wrap__txt">@item.CommentText</div>
                <div class="b-comment__wrap__btns">
@*                    <span class="b-comment__wrap__btns__count">15</span>
                    <span class="b-comment__wrap__btns__show"></span>
                    <span class="b-comment__wrap__btns__hide"></span>
                    <span class="b-comment__wrap__btns__answer">Ответить</span>*@
@*                    <span class="b-comment__wrap__btns__del">Удалить</span>*@

                    @if (@item.CanEdit == true)
                    {
                            using (Ajax.BeginForm("DeleteComment", @item.ControllerName, routeValues: new { commentID = item.CommentID }, ajaxOptions: new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "_userCommentBox",
                                LoadingElementId = "loadLayout"
                            }))
                            {
                                <input type="submit" class="b-comment__wrap__btns__del" value="Удалить">
                            }
                    }

                </div>
                                    
            </div>
        </li>
    }
</ul>