﻿@model PascalWeb.DB.PageModels.CommonCommentViewModel

<div id="my-dialog"></div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content backgroundcolor">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Редактирование комментария</h4>
            </div>
            <div class="modal-body">
                @Html.TextAreaFor(model => model.CommentText, new { @class = "form-control input-md", placeholder= "Текст комментария (не более 500 символов)" })
                @Html.ValidationMessageFor(model => model.CommentText, null, htmlAttributes: new { @style = "color:red;"})

            </div>
            <div class="modal-footer">
                <div class="row" style="display:inline-block;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

                    @using (Ajax.BeginForm("EditComment", "ProgramEdition", ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "_userCommentBox",
                        LoadingElementId = "loadLayout"
                    }))
                    {
                        <input type="submit" class="btn btn-primary" value="Сохранить">
                    }
  
                </div>
            </div>
        </div>
    </div>
</div>


