﻿@model PascalWeb.DB.PageModels.CommentBoxModel

<div class="b-comments">
    <div class="b-comments__title">комментарии (@Model.CommentsList.Count.ToString())</div>
    <div class="g-clearfix">
        @if (@Model.UserLogo != null)
        {
            <img class="b-user-ava b-user-ava_40" src="@Model.UserLogo" />
        }
        @using (Ajax.BeginForm("AddComment", Model.ActionUpdateMethodInfo.Value, new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "_userCommentBox",
            LoadingElementId = "loadLayout",
            OnComplete = "clearField"
        }, new {@class="b-comments__form b-comments__form_top"}))
        {
            if (Request.IsAuthenticated)
            {
                @Html.TextArea("commentText", htmlAttributes: new { name = "commentText",  @class = "b-form__textarea b-comments__form__txtarea", placeholder= "Присоединиться к обсуждению (не более 500 символов)", @style="autocomplete:off"})
                <div class="b-comments__form__btn-wrap_al-r">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            }
            else
            {
                <span style="font-size:small">Необходимо @Html.ActionLink("авторизоваться", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", withpjax = "withpjax" }) или зарегистрироваться, чтобы оставить комментарий</span>
                <hr />
            }
        }

        <div id="_userComments">
            @Html.Partial("..//ProgramEdition//_ViewCommentList", Model.CommentsList)
        </div>
    </div>                 
</div>



<script type="text/javascript">
    var page = 0;
    var _inCallback = false;

    function loadComments() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').html('<p><img src="/Content/images/process.gif"></p>');
            
            $.post("@Url.Action(@Model.ActionUpdateMethodInfo.Key, 
                Model.ActionUpdateMethodInfo.Value)", { "pageNumber": page }, function (data) {
                if (data != '') {
                    $("#_moreProgramEditions").append(data);
                }
                else {
                    page = -1;
                }

                _inCallback = false;
                $('div#loading').empty();
            });
        }
    }

    var dcList = true;

    //alert('1. Обработчик window.scroll был добавлен. ');
    $(window).scroll(function () {

        if ($(window).scrollTop() > $(document).height() - $(window).height() - 10) {
            loadComments();
            //alert('конец');
        }
    });

    // for clearing textarea
    function clearField() {
        document.getElementById("commentText").value = "";
    }


</script>
