﻿@model PascalWeb.DB.PageModels.LastProgramEditionPageModel.LastProgramEdition

@{
    bool odd = false;
    if (ViewData.ContainsKey("TILE_INDEX"))
    {
        odd = (int)ViewData["TILE_INDEX"] % 2 == 0;
        odd = true;
    }
    
    
    if(odd) {
                      
        <div class="b-podcasts__item b-podcasts__item_first" @*style="padding:3px;"*@>
            @{               
                string imageSrc = @Model.Program.MediumLogoPath;

                //<div class="" style="padding:0px; margin:0px; border: 1px solid #97CECE;" >
                <div class="" style="padding:3px; margin:0px;"  >
@*                    <img src="@imageSrc" alt="" class="b-podcasts__item__img" style="padding:0px; margin:0px;opacity: 0.3;">*@
                    @if (!string.IsNullOrEmpty(imageSrc))
                    {
                        @:<img src="@imageSrc" alt="" class="b-podcasts__item__img" style="padding:0px; margin:0px;opacity: 0.3;">
                    } else
                    {
                        @:<img alt="" class="b-main_image_default_program_med b-podcasts__item__img" style="padding:0px; margin:0px;opacity: 0.3;">
                    }
                </div>
            }
            <div class="b-podcasts__item__wrap b-podcast b-podcast_green">
                <div class="b-podcast__body">
                    <div class="b-podcast__head">
                    @{
                        //string formatDate = GeneralMethods.getFormatedDateAndTime(Model.Edition.AirDate);
                        string shortDescription = GeneralMethods.limitStringAndAddDotsLength(Model.Edition.ShortDescription, 50);
                    }

                    @*<span class="b-podcast__head__date">@formatDate</span> *@
                        
                    @Html.ActionLink(Model.Program.Name, "Details", "Program", routeValues: new { id = Model.Program.ID },
                        htmlAttributes: new { @class = "b-podcast__head__cat", withpjax = "withpjax"})

                    </div>
                    <div class="b-podcast__title">
                        @Html.ActionLink(Model.Edition.EditionTittle, "Details", "ProgramEdition", routeValues:new { id=Model.Edition.ID }, 
                            htmlAttributes: new { @class = "b-podcast__title__link", withpjax = "withpjax"})
                    </div>      

                     @*@Model.Edition.ShortDescription*@
                    <div class="b-podcast__descr" >@shortDescription</div> 
                    @*<div id="start_@Model.Edition.ID">*@
                    <div  class="display: inline-block;" style="vertical-align:middle" >
@*                        <div style="float: right; margin-right: 30px;">                     
                            <a class = "b-podcast__download" href="@Url.Action("Download", "AudioPlayer", new { programEditionID = @Model.Edition.ID })" ></a>
                        </div>*@
                          
                        <div id="start_@Model.Edition.ID" style="text-align: center;margin-left:-120px">     
                            <a class = "b-podcast__play" onclick="changeButtonAndPlay('start', @Model.Edition.ID, null, '@Model.Edition.Content.AbsoluteFileUri', '@Model.Edition.Program.Name',
                                 '@Model.Edition.EditionTittle')" style="background: url('../../Content/Images/play.png');height:48px; width:48px;"> </a>
                        </div>

                        <div id="stop_@Model.Edition.ID" style="display:none; text-align: center;margin-left:-120px">
                            <a class = "b-podcast__play" onclick="changeButtonAndPlay('stop', @Model.Edition.ID, null, '@Model.Edition.Content.AbsoluteFileUri', '@Model.Edition.Program.Name', 
                                '@Model.Edition.EditionTittle')"  style="background: url('../../Content/Images/pause.png');height:48px; width:48px;"> </a>
                        </div>

                        <div style="text-align: center;margin-left:24px">     
                            @Html.ActionLink( " " , "Download" , "AudioPlayer", new { programEditionID = Model.Edition.ID },
                                new { @class = "b-podcast__play" , @style = "background: url('../../Content/Images/download.png'); height:48px; width:48px;"})
                        </div>

                    </div>

                    <div class="b-podcast__foot" style="margin-right:5px;overflow:hidden">
                        @Html.ActionLink(Model.Edition.CommentsCounter.ToString(), "Details", "ProgramEdition", null, null, fragment:"_userComments",          
                            routeValues:new { id=Model.Edition.ID }, 
                            htmlAttributes: new { @class = "b-podcast__foot__comment", @style = "", withpjax = "withpjax"})
                        @{
                            int letterCounter = 0;
                            for (int i = 0; i < Model.ProgramEditionTagList.Count; i++)
                            {
                                letterCounter += @Model.ProgramEditionTagList[i].Count();
                                if (letterCounter >= 20)
                                    break;

                                <span>@Html.ActionLink(@Model.ProgramEditionTagList[i], "Search", "Search", routeValues: new { query = "#" + @Model.ProgramEditionTagList[i] },
                                    htmlAttributes: new { @class = "b-podcast__foot__hashtag", withpjax = "withpjax" })</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    } else {
       <div class="b-podcasts__item b-podcasts__item_first" >
            @{
                string imageSrc = @Model.Program.MediumLogoPath;
                <div class="" style="padding:0px; margin:0px; background-color:#F1F1F1;">
                    <img src="@imageSrc" alt="" class="b-podcasts__item__img" style="opacity: 0.1;">
                </div>
            }
            <div class="b-podcasts__item__wrap b-podcast b-podcast_white">
                <div class="b-podcast__body">
                    <div class="b-podcast__head">
                    @{
                        string formatDate = GeneralMethods.getFormatedDateAndTime(Model.Edition.AirDate);
                        <span class="b-podcast__head__date">@formatDate</span> 
                        @Html.ActionLink(Model.Program.Name, "Details", "Program", routeValues: new { id = Model.Program.ID },
                            htmlAttributes: new { @class = "b-podcast__head__cat", withpjax = "withpjax"})
                    }
                    </div>
                    <div class="b-podcast__title">
                        @Html.ActionLink(Model.Edition.EditionTittle, "Details", "ProgramEdition", routeValues:new { id=Model.Edition.ID }, 
                            htmlAttributes: new { @class = "b-podcast__title__link", withpjax = "withpjax"})
                    </div>
                    <div class="b-podcast__descr">@Model.Edition.ShortDescription</div>
                    <div class="b-podcast__play">прослушать</div>
                    <div class="b-podcast__foot">
                        @Html.ActionLink(Model.Edition.CommentsCounter.ToString(), "Details", "ProgramEdition", null, null, fragment:"_userComments",          
                            routeValues:new { id=Model.Edition.ID }, 
                            htmlAttributes: new { @class = "b-podcast__foot__comment", @style = "", withpjax = "withpjax"})
                        
                        @{
                            int letterCounter = 0;
                            for (int i = 0; i < Model.ProgramEditionTagList.Count; i++)
                            {
                                letterCounter += @Model.ProgramEditionTagList[i].Count();
                                if (letterCounter >= 25)
                                    break;

                                <span>@Html.ActionLink(@Model.ProgramEditionTagList[i], "Search", "Search", routeValues: new { query = "#" + @Model.ProgramEditionTagList[i] },
                                    htmlAttributes: new { @class = "b-podcast__foot__hashtag", withpjax = "withpjax" })</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    
}


@*
@{
    int maxTilesInRow = 4;
    if(ViewData.ContainsKey("MAX_TILES_IN ROW"))
    {
        maxTilesInRow = (int)ViewData["MAX_TILES_IN ROW"];
    }
    
}
@if (@maxTilesInRow >=4)
{
    @:<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3" style="padding-left:10px;padding-right:10px">
}
else if (@maxTilesInRow == 3)
{
     @:<div class="col-xs-8 col-sm-8 col-md-6 col-lg-4" style="padding-left:10px;padding-right:10px">
}
else if (@maxTilesInRow == 2)
{
     @:<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-left:10px;padding-right:10px">
}
else if (@maxTilesInRow == 1)
{
     @:<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:10px;padding-right:10px">
}

    <div class="panel" style="padding-left:10px;padding-right:10px">
        <div class="programEdition" style="padding-top:10px; padding-bottom:5px;">
            @{
                string formatDate = GeneralMethods.getFormatedDateAndTime(Model.Edition.AirDate);
                <span class="header left">@formatDate</span>
            }
            <a>
                @Html.ActionLink(Model.Program.Name, "Details", "Program", routeValues: new { id = Model.Program.ID },
                    htmlAttributes: new { @class = "header link right", withpjax = "withpjax"})
            </a>
        </div>
        <hr style="margin-bottom:10px"/>
        <div>
            <div class="left">
        
            @if (@Model.Program.SmallLogoPath != null)
            {
                string imageSrc = @Model.Program.SmallLogoPath;
                <image src="@imageSrc" width=50 height = 50 style="margin-right:10px;margin-bottom:10px;"  />
            } else
            {
                @:<image width=50 height = 50 style=" margin-right:10px;margin-bottom:10px;"/>
            }

            </div>
            <div style="margin-bottom:10px;min-height:40px; max-height:40px;overflow:hidden;" >
                <span>@Html.ActionLink(Model.Edition.EditionTittle, "Details", "ProgramEdition", routeValues:new { id=Model.Edition.ID }, 
                    htmlAttributes: new { @class = "link", @style = "font-size:16px;color:black", withpjax = "withpjax"})</span>
            </div>
            <div style="min-height:105px; max-height:105px;overflow:hidden;text-align:justify;">
                <p>@Model.Edition.ShortDescription</p>
            </div>
        </div>
        <panel class="v-center" style="width:100%"  >

            @Ajax.AudioActionLinkTo("Прослушать", "AudioElement", "Home", "", "Загрузка...", routeValues:new { editionID=Model.Edition.ID }, 
                htmlAttributes: new { @class = "btn  button_with_image maincolor", @style= "width:100%; color:black;font-size:20px" })  
        </panel> 
        <hr style="margin:5px"/>

        <div class="programEdition vert_al_div" style="padding-bottom:10px;">
            <div class="vert_al_inner">

                @Html.ActionLink(Model.Edition.CommentsCounter.ToString(), "Details", "ProgramEdition", null, null, fragment:"_userComments",          
                    routeValues:new { id=Model.Edition.ID }, 
                    htmlAttributes: new { @class = "header link", @style = "", withpjax = "withpjax"})

                <image style="vertical-align: middle" height=30 src="https://portalvhds8dzdrm51bz8fc.blob.core.windows.net/site/comment32.png"></image>
                <span  style="vertical-align: middle; "> | </span>
            </div>
            <div class="vert_al_inner" style="overflow:hidden;">
                @{
                    int letterCounter = 0;
                    for (int i = 0; i < Model.ProgramEditionTagList.Count; i++)
                    {
                        letterCounter += @Model.ProgramEditionTagList[i].Count();
                        if (letterCounter >= 25)
                            break;

                        <span>@Html.ActionLink("#" + @Model.ProgramEditionTagList[i], "Search", "Search", routeValues: new { query = "#" + @Model.ProgramEditionTagList[i] },
                            htmlAttributes: new { @class = "link right", withpjax = "withpjax" })</span>
                      //  Html.ActionLink("#" + @Model.ProgramEditionTagList[i], "Search", "Search", routeValues: new { query = "#" },
                      //      htmlAttributes: new { @class = "link right", withpjax = "withpjax" });
                        //<a class="header" style="vertical-align: middle">#@Model.ProgramEditionTagList[i]</a>
                    }
                    
                }

            </div>
        </div>    
    </div>
</div>
*@