﻿@model PascalWeb.DB.PageModels.ProgramEditionPageView


@{
 //   ViewBag.SocialInfo = Model.ProgramEdition.ShortDescription;
    ViewBag.SocialImage = Model.ProgramEdition.Program.MediumLogoPath;
}
@Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ",Model.ProgramEdition.EditionTittle))
        

@Html.Partial("_HeadNavigation", 1)

@Styles.Render("~/Content/RoxieTheme/css/style-custom-blog.css") 
@Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css") 
@Styles.Render("~/Content/RoxieTheme/css/style-custom-comment.css") 


    <!-- CONTENT -->
    <div class="l-content">
        <div class="container b-blogs">
            @{
                string formatDate = GeneralMethods.getFormatedDateAndTime(Model.ProgramEdition.AirDate);
            }
            <div class="">
                <section class="b-news b-news_blog" >
                    <article class="">  @*class="b-news__item"*@
                        <div class="b-news__item__head">
                            <span class="b-news__item__head__date">@formatDate</span>
                            <span class="b-news__item__head__comment">@Model.ProgramEdition.CommentsCounter.ToString()</span>
                            <span class="b-news__item__head__count-watch">@Model.ProgramEdition.ViewedCounter.ToString()</span>
                            @Html.ActionLink(Model.ProgramEdition.Program.Name, "Details", "Program", routeValues: new { id = Model.ProgramEdition.Program.ID },
                                htmlAttributes: new { @class = "b-news__item__head__title pull-right", withpjax = "withpjax" })
                        </div>
                        <div class="b-news__item__wrap">
                            <div class="display: inline-block;" style="vertical-align:middle" >

                                <div id="start_@Model.ProgramEdition.ID" style="display:inline-block; margin-left:27px;vertical-align:middle">     
                                    @*<a  onclick="changePLayStateForTile('start', @Model.ProgramEdition.ID, 'inline-block')" style = "display:inline-block;background: url('../../Content/Images/play.png') no-repeat center right;display:inline-block; height:48px; width:48px;vertical-align:middle;cursor: pointer;"> </a>*@
                                    <a  onclick="changeButtonAndPlay('start', @Model.ProgramEdition.ID, 'inline-block', '@Model.ProgramEdition.Content.AbsoluteFileUri', '@Model.ProgramEdition.Program.Name', 
                                        '@Model.ProgramEdition.EditionTittle')" style = "display:inline-block;background: url('../../Content/Images/play.png') no-repeat center right;display:inline-block; height:48px; width:48px;vertical-align:middle;cursor: pointer;"> </a>
                                
                                </div>

                                <div id="stop_@Model.ProgramEdition.ID" style="display:none; margin-left:27px; vertical-align:middle">
                                    @*<a  onclick="changePLayStateForTile('stop', @Model.ProgramEdition.ID, 'inline-block')"  style = "display:inline-block;background: url('../../Content/Images/pause.png') no-repeat center right;display:inline-block; height:48px; width:48px;vertical-align:middle;cursor: pointer;"> </a>*@
                                    <a  onclick="changeButtonAndPlay('stop', @Model.ProgramEdition.ID, 'inline-block', '@Model.ProgramEdition.Content.AbsoluteFileUri', '@Model.ProgramEdition.Program.Name', 
                                        '@Model.ProgramEdition.EditionTittle')"  style = "display:inline-block;background: url('../../Content/Images/pause.png') no-repeat center right;display:inline-block; height:48px; width:48px;vertical-align:middle;cursor: pointer;"> </a>                                
                                </div>


                                @Html.ActionLink( " " , "Download" , "AudioPlayer", new { programEditionID = Model.ProgramEdition.ID },
                                    new { style = "background: url('../../Content/Images/download.png') no-repeat center right;display:inline-block; margin-left:12px;height:48px; width:48px;vertical-align:middle"})

     
                                <span class="b-news__item__title-cat" style="vertical-align: middle;">@Model.ProgramEdition.EditionTittle</span>
                            </div>
                            <br />
                            <span class="b-news__item__desrc b-news__item__desrc_multicol">
                                @Model.ProgramEdition.ShortDescription
                            </span>
                        </div>
                        <div class="b-news__item__foot b-news__item__foot_mtb">
                            <div class="b-news__item__foot__social pull-right">
                                <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter"></div>

@*                                <a onclick="Share.vkontakte('PascalFM.ru','Pascal FM Программа','www.google.it/images/nav_logo195.png','Подробно')"> {шарь меня полностью}</a>*@

                            </div>
                            <div class="b-hashtags">
                                @{
                                    var tagList = PascalWeb.Controllers.TagController.stringToTagList(Model.ProgramEdition.TagString);
                                    
                                    for (int i = 0; i < tagList.Count; i++)
                                    {
                                        <span>@Html.ActionLink(tagList[i], "Search", "Search", routeValues: new { query = "#" + tagList[i] },
                                            htmlAttributes: new { @class = "b-news__item__foot__item", withpjax = "withpjax" })</span>
                                    }
                                }
                            </div>

                        </div>

                        <div class="b-news__item__foot b-news__item__foot_mtb">
                            @if (Model.ProgramEdition.ProgramEditionText != null && !string.IsNullOrEmpty(Model.ProgramEdition.ProgramEditionText.Note))
                            {
                                <span class="b-news__item__desrc">
                                    @Html.Raw(Model.ProgramEdition.ProgramEditionText.Note)
                                </span>
                            }
                        </div>
                    </article>
                </section>


                @if (Model.Recommendation != null && Model.Recommendation.LastProgramEditions.Count > 0)
                {
                    <div class="">
                        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Рекомендуем также</h1>
                        @{Html.RenderPartial("..//ProgramEdition//_TileListView", Model.Recommendation.LastProgramEditions);}

                    </div>
                }

            <div id="_userCommentBox">
                @Html.Partial("_ViewCommentBox", Model.Comments)
            </div>
            </div>
        </div>
    </div>



<script type="text/javascript">
     @{
         ViewBag.firstEditionToSet = Model.ProgramEdition.ID;
     }
    $(document).ready(function () {
        audio = $('audio');
        editionID = @ViewBag.firstEditionToSet;
        
        // load next edition if nothing plays and something exists
        if (audio[0].currentTime == "0" && editionID != 0) {
            try {
                // загрузить первый выпуск - обращение к серверу
                $.ajax({
                    url: '/Home/AudioElement',
                    data: { programEditionID: editionID},
                    success: function (result) {
                        $('#mainAudio').html(result);
                    }
                });
            } catch (err) {
                alert('error');
            }
        }
    })
</script>

