﻿@model PascalWeb.DB.PageModels.ProgramEditionEditPageModel


@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">
        
        @if(Model.ProgramEdition.ID <= 0) {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Добавление выпуска подкаста</h1>
        }
        else
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Редактирование выпуска подкаста</h1>
        }

        @using (Html.BeginForm("Edit", "ProgramEdition", FormMethod.Post, new { enctype = "multipart/form-data",
                @class = "col-md-12 col-lg-12 form-horizontal", role = "form", @style="margin:20px"}))
        {
            @Html.ValidationSummary(true, null, htmlAttributes: new { @class = "text-danger"  })

            @Html.HiddenFor(model => model.ProgramEdition.ID)
            @Html.HiddenFor(model => model.ProgramEdition.ContentID)
            @Html.HiddenFor(model => model.ProgramEdition.Published)
            @Html.HiddenFor(model => model.ProgramEdition.CreationDate)

    //        @Html.HiddenFor(model => model.ProgramEditionText.ProgramEditionID)

            @Html.HiddenFor(x => x.ProgramEdition.ProgramID)

    
            <fieldset>
  
                <div class="form-group" style="vertical-align: top;">
                    @Html.LabelFor(model => model.ProgramEdition.CreationDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        <p class="form-control-static">@Model.ProgramEdition.CreationDate</p>
                    </div>
                </div>

                @{
                    var obj = (SelectList)ViewBag.Programs;
                    int m = obj.Count();
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEdition.ProgramID, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">        
                        @Html.DropDownListFor(expression: model => model.ProgramEdition.ProgramID, 
                        selectList: (SelectList)ViewBag.Programs, htmlAttributes: new { @class = "form-control input-md", placeholder= "--Выберете выпуск--", @disabled = "disabled" })  
                        @Html.ValidationMessageFor(model => model.ProgramEdition.ProgramID, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEdition.AirDate, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.ProgramEdition.AirDate, "{0:yyyy-MM-dd HH:mm}", new {  @class = "form-control input-md date form_datetime ", @readonly="readonly"})
                        @Html.ValidationMessageFor(model => model.ProgramEdition.AirDate, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>
 
        @*        <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEdition.AirDate, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ProgramEdition.AirDate, new {  @class = "form-control date input-md ", @readonly="readonly"})
                        @Html.ValidationMessageFor(model => model.ProgramEdition.AirDate, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>*@

                @*{0:yyyy-MM-dd hh:mm}*@

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEdition.EditionTittle, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.ProgramEdition.EditionTittle, new { @class = "form-control input-md", placeholder= "Название" })
                        @Html.ValidationMessageFor(model => model.ProgramEdition.EditionTittle, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>
 
                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEdition.ShortDescription, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.ProgramEdition.ShortDescription, new { @class = "form-control input-md", placeholder= "Описание" })
                        @Html.ValidationMessageFor(model => model.ProgramEdition.ShortDescription, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEdition.Duration, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.ProgramEdition.Duration, new { @class = "form-control input-md", placeholder= "Длительность"@*, @readonly="readonly"*@ })
                        @Html.ValidationMessageFor(model => model.ProgramEdition.Duration, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>
 

                <div class="form-group">
                    <label class = "col-md-4 control-label">Зарузить медиафайл: </label>
                    <div class="col-md-6">
                        @if (@Model.ProgramEdition.ContentID != null)
                        {
                            <label>Файл уже прикреплен. Заменить:</label>
                        } 
                        <input type="file" name="file"/>
                    </div>
                </div>    


                <div class="form-group">
                    @Html.LabelFor(model => model.ProgramEditionText.Note, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.ProgramEditionText.Note, htmlAttributes: new { @style = "min-height:500px", Id = "textNote"})
                        @Html.ValidationMessageFor(model => model.ProgramEditionText.Note, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>
           
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" class="btn btn-default col-md-3" onclick="backToPreviousPage();">Отмена</button>
                        <button type="submit" class="btn btn-success col-md-3" style="margin-left:10px">Сохранить</button>
                    </div>
                </div>

            </fieldset>
        }

        <div>
            @{
                Html.RenderPartial("..//Tag//_tagSelectionView", Model.TagList);
            }
        </div>

        <div>
            @{
                Html.RenderPartial("..//Profile//_authorsAttachingView", Model.AuthorList);
            }
        </div>
    </div>
</div>



  <!-- TinyMCE Script Reference -->
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript">

        tinymce.init({
            selector: "#textNote", //"textarea",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern"
            ],
            toolbar1: "insertfile undo redo | styleselect | forecolor backcolor emoticons | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
            toolbar2: "link image media pagebreak | preview ",
            image_advtab: true,
            default_link_target: "_blank"
        });
    </script>

<script type="text/javascript">
    jQuery.validator.methods["date"] = function (value, element) { return true; }
</script>


@*yyyy-mm-dd hh:ii*@

    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 1,
            showMeridian: 1,
            minuteStep: 1
        });
    </script> 