﻿@model PascalWeb.DB.PageModels.AuthorItemListCommonModel


<table id="" class="table table-bordered" style="width:100%">

    @for (int i = 0; i < Model.Users.Count(); i++)
    {
        <tr>
            @{var item = Model.Users.ElementAt(i);
                <td>
                    @if (item.PhotoStr != null)
                    {
                        @:<image src="@item.PhotoStr" width=50 height = 50 style="margin-right:10px;margin-bottom:10px;"  />
                    } else
                    {
                        @:<image width=50 height = 50 style=" margin-right:10px;margin-bottom:10px;"/>
                    }
                </td>
                <td>
                    
                    @using (Ajax.BeginForm(Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, 
                        new { id = @item.UserID }, new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = Model.ManageViewCommonModel.UpdateTargetID
                                        //LoadingElementId = "progress",
                                    }))
                                    {
                                        <input type="submit" name="AddUserAction" class="" value="@item.FullName" 
                                            style="	background-color: transparent;border: 0;text-decoration: underline;"/>
                                    }
                </td>
            }
        </tr>
    }

</table>