﻿@model IEnumerable<PascalWeb.DB.UserAuth>


<div class="panel panel-primary col-xs-12 col-sm-12 col-md-6 col-lg-6   col-md-offset-4 col-lg-offset-4" style="padding:10px">

    <div id="progress_author" style="display: none;">
        <img src="/Content/images/process.gif" alt="loader" class="ajax-loader"/>
    </div>

    <div class="panel-heading">
        <h3 class="panel-title">Управление списоком авторов</h3>
    </div>

    <h4>Ранее добавленные</h4>
    <div id="programAuthors" style="padding-bottom:10px">
        @{
            
            var @authorListModel = new PascalWeb.DB.PageModels.AuthorItemListCommonModel(PascalWeb.DB.AuxiliaryModels.UserInfoModel.convertFromToUserInfoList(Model),
                new PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel("Profile", "DeleteUserAction", "programAuthors", " (удалить)", PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel.eActionType.Delete));
            Html.RenderPartial("..//Profile//_authorsRepresentationForAttachingView", model: authorListModel);
        }
    </div>

    <h4 style="padding-top:0px">Найти и добавить</h4>
    @using (Ajax.BeginForm(actionName: "UserSearchByLoginAction", controllerName: "Profile", routeValues: null, ajaxOptions: new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "userSearchResult",
        LoadingElementId = "progress_author"
    }, htmlAttributes: new { @style = "padding-bottom:10px" }))
    {          
        <input type="text" class="" name = "userData"  style="width:49%;height:35px" placeholder="Email, имя пользователя">
        <input type="submit" class="btn btn-info"  style="width:49%;height:35px" value="Найти пользователя"/>
    }

    <div id="userSearchResult" style="width:100%">
    </div>

</div>