﻿@model PascalWeb.DB.PageModels.AuthorItemListCommonModel


<table id="" class="table table-bordered" style="width:100%">
    <tr>
        <th>
            Email
        </th>
        <th>
            Имя
        </th>
        <th>
            Доп. инфо
        </th>
        <th>
 
        </th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @item.Login
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                
            </td>          
            <td>
                @using (Ajax.BeginForm(Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, 
                    new { userID = @item.UserID }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = Model.ManageViewCommonModel.UpdateTargetID,
                    LoadingElementId = "progress",
                }))
                {                               
                    if (@Model.ManageViewCommonModel.ActionType == PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel.eActionType.Add)
                    {    
                        <input type="submit" class="btn-info btn-xs" value="Добавить" />
                    } 
                    if (@Model.ManageViewCommonModel.ActionType == PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel.eActionType.Delete)
                    {    
                        <input type="submit" class="btn-danger btn-xs" value="Удалить" />
                    } 
                }
            </td>
        </tr>
    }
    
</table>
