﻿@model PascalWeb.DB.PageModels.ProfileModel


@Html.Partial("_PageTittle", "PascalFM - Профиль")
@Html.Partial("_HeadNavigation", 4)

@Styles.Render("~/Content/RoxieTheme/css/style-custom-news.css")
@Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css")

<br />
<br />

<div class="l-content ">
@*    <div class="container">*@

        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Мой профиль</h1>

        @if (Request.IsAuthenticated) 
        {
            // #TODO страница как-то полностью не прогружается и диалог удаления не отображается в модальном режиме
    
            <div class="container" style="padding:0px">
                <div class="container-fluid col-md-12 col-lg-12 ">  
                    <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                        @Html.ActionLink("Мои подписки", "ShowSubscription", "Subscription", null, htmlAttributes: new { @class="btn btn-primary", @style="width:100%", withpjax = "withpjax"})
                    </div>

                    @if(Model.IsExternalAccount) {
                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Моя Анкета", "Edit", "Account", new { id = Model.UserID }, htmlAttributes: new { @class = "btn btn-primary", @style = "width:100%", withpjax = "withpjax" })
                        </div>

                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Сменить пароль", "ChangePassword", "Account", new { id = Model.UserID }, htmlAttributes: new { @class = "btn btn-primary", @style = "width:100%", withpjax = "withpjax" })
                        </div>
                    }
                </div>
                @if( GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.journalist.ToString()) ||
                    GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.moderator.ToString()) ||
                    GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.editor.ToString()) ||
                    GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.admin.ToString()) ||
                    GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.superadmin.ToString()))
                {
                    <div class="container-fluid col-md-12 col-lg-12 ">  
                        <h2 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Права журналиста</h2>
                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Управление блогом", "AdminBlogView", "Admin", new { blogID = Model.BlogID}, htmlAttributes: new { @class = "btn btn-primary", @style = "width:100%", withpjax = "withpjax" })
                        </div> 
                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Управление подкастами", "AdminProgramView", "Admin", null, htmlAttributes: new { @class = "btn btn-primary", @style="width:100%"/*, withpjax = "withpjax"*/})
                        </div>
                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Управление тегами", "Index", "Tag", null, htmlAttributes: new { @class="btn btn-primary", @style="width:100%"/*, withpjax = "withpjax"*/})
                        </div>
                    </div>
                }
                @if (GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.editor.ToString()) ||
                    GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.admin.ToString()) ||
                    GeneralMethods.compareStrings(Model.RoleName, PascalWeb.DB.Enumerators.eUserRoles.superadmin.ToString()))
                {
                    <div class="container-fluid col-md-12 col-lg-12 ">  
                        <h2 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Права администратора</h2>

                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Управление всеми блогами", "AdminAllBlogs", "Admin", new {query = ""}, htmlAttributes: new { @class = "btn btn-primary", @style = "width:100%", withpjax = "withpjax" })
                        </div>
                        <div class="container-fluid col-xs-4 col-xs-4" style="padding:10px;">
                            @Html.ActionLink("Управление пользователями", "AdminUserView", "Admin", null, htmlAttributes: new { @class = "btn btn-primary", @style="width:100%"/*, withpjax = "withpjax"*/ })
                        </div>
                        <div class="container-fluid col-xs-4 col-xs-4 " style="padding:10px">
                            @Html.ActionLink("Управление правами", "AdminUserRights", "Admin", null, htmlAttributes: new { @class="btn btn-primary", @style="width:100%", withpjax = "withpjax"})
                        </div>
                    </div>
                }
            </div>
            
            <div style="display:inline-block;width:100%;">
                <h2 class="b-title-h1 b-title-h1-center b-title-h1_fs22" style="margin-top: 30px;">Подписки на подкасты</h2>
                <br />
                @if (Model.SubscribedProgramEditions != null && Model.SubscribedProgramEditions.Data.Count > 0)
                {
                    Html.RenderPartial("..//ProgramEdition//_TileListWithMoreButton", Model.SubscribedProgramEditions);
                }
                else
                {
                    @:<div class="b-title" style="text-align: center;">вы не подписаны ни на один подкаст</div>
                }
            </div>

            
            <div style="display:inline-block;width:100%;">  
                <h2 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Подписки на блоги</h2>
                <br />
                @if (Model.SubscribedBlogRecords != null && Model.SubscribedBlogRecords.Data != null && Model.SubscribedBlogRecords.Data.Count > 0)
                {
                    <div class="container" style="padding:0px;">
                        @{Html.RenderPartial("..//BlogRecord//_blogRecordListWithMoreButton", Model.SubscribedBlogRecords);}
                    </div>
                }
                else
                {
                    @:<div class="b-title" style="text-align: center;">вы не подписаны ни на один блог</div>
                }
            </div>
                   
        }
</div>



 <script type="text/javascript">
     @{
        long editionID = 0;
        if (Model.SubscribedProgramEditions != null && Model.SubscribedProgramEditions.Data != null &&
            Model.SubscribedProgramEditions.Data.Count() > 0)
        {
            editionID = @Model.SubscribedProgramEditions.Data[0].Edition.ID;
        }
        ViewBag.firstEditionToSet = editionID;
     }
    $(document).ready(function () {
        audio = $('audio');
        editionID = @ViewBag.firstEditionToSet;
        
        // load next edition if nothing plays and something exists
        if (audio[0].currentTime == "0" && editionID != 0) {
            try {
                // загрузить первый выпуск - обращение к серверу
                $.ajax({
                    url: '/Home/AudioElement',
                    data: { programEditionID: editionID},
                    success: function (result) {
                        $('#mainAudio').html(result);
                    }
                });
            } catch (err) {
                alert('error');
            }
        }
    })
</script>
