﻿@model PascalWeb.DB.PageModels.UserUnitedModel


 <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:105px; overflow:hidden;text-align:justify;">
  
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  id="header">
        <div class="pull-left col-xs-2 col-sm-2" >
          <img class="pull-left "  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRa-iFPMfqvHgaLKaODytvXl_2j_OFOameuEyg5tr7oHXStEVAORA" style="width:100px"/>
        </div>
      
        <div class="col-xs-8 col-sm-8" >
            <div>
                @{
                    string fullName = PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(Model.UserAuth);
                }
              <span>@fullName</span>
              <a class="pull-right" style="">Мой блог</a>
            </div>
            <span>@Model.UserInfo.Info</span>
        </div>
        <div class="col-xs-2 col-sm-2" >
              <input type="submit" class="pull-right btn-primary btn-xs" style="height:30px;margin-left:10px" value="Подписаться на блог">
        </div>
      </div>
      
      
      <div id="programs" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Подкасты автора</h3>
        <div>
          <table>
            @for(int i =0; i<Model.UserPrograms.Count; i++)
            {
                var program = Model.UserPrograms.ElementAt(i);
                <tr>
                  <td>
                    @Html.ActionLink(@program.Name, "Details", "Program", routeValues: new { id = @program.ID },
                            htmlAttributes: new { @class = "header link", withpjax = "withpjax"})
                    <p>@program.Description</p>
                  </td>
                  <td>
                      <input type="submit" class="pull-right btn-primary btn-xs" style="height:30px;margin-left:10px" value="Подписаться">
                  </td>
                </tr>
            }
            
          </table>
        </div>
      </div>
      
      <div id="showeditions" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Последняя активность</h3>

        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" id="tabEditions" class="active"><a href="#content-programEditions" data-toggle="tab">Выпуски подкастов</a></li>
          <li role="presentation" id="tabBlogs"><a href="#content-blogRecords" data-toggle="tab">Записи блога</a></li>
        </ul>
      </div>
  </div>



<div class="tab-content">
    <div class="tab-pane active" role="tabpanel" id="content-programEditions">
        @{
            ViewData.Add("MAX_TILES_IN ROW", 3);
            Html.RenderPartial("..//ProgramEdition//_TileListView", Model.UserProgramEditions.Data, ViewData);
        }

        @{
            Html.RenderPartial("_pagination", Model.UserProgramEditions.PaginationModel);
        }
    </div>

    <div class="tab-pane" role="tabpanel" id="content-blogRecords">
123
    </div>
</div>





<script>
    //$('ul.nav-tabs li a').click(function (e) {
    //    $('ul.nav-tabs li.active').removeClass('active')
    //    $(this).parent('li').addClass('active')
    //})
    $('#tabEditions').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })

    $('#tabBlogs').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>