﻿@model PascalWeb.DB.AuxiliaryModels.DeleteDialogModel

@*<div style="vertical-align:middle">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Подтверждение удаления</h4>
    </div>

    @using (Ajax.BeginForm(Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, new { id = Model.ID }, AjaxHelpers.generateOptionsPost()))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, htmlAttributes: new { @class = "text-danger"  })

        <div class="modal-body">
              <span style="font-size: 20px">Удалить @Model.WhatDelete '@Model.SpecificName'?</span>
        </div>

        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal">Отмена</button>
            <input class="btn btn-danger" type="submit" value="Удалить" />
        </div>
    }
</div>*@

<style type="text/css">
    .modal-dialog {

        /*width: 400px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -25px;
        margin-left: -200px;
        padding: 20px;*/

        width: 60%;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 20%;
        margin-top: -25px;
        /*margin-left: 30%;*/
        padding: 20px;
    }
</style>

<!-- http://codepen.io/anon/pen/MwKZzo -->
<div>
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header" style="width:100%">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Подтверждение удаления</h4>
        </div>

        @using (Ajax.BeginForm(Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, new { id = Model.ID }, AjaxHelpers.generateOptionsPost()))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, htmlAttributes: new { @class = "text-danger"  })

            <div class="modal-body">
                  <span style="font-size: 20px">Удалить @Model.WhatDelete '@Model.SpecificName'?</span>
            </div>

            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Отмена</button>
                <input class="btn btn-danger" type="submit" value="Удалить" />
            </div>
        }

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


