﻿@model string


@Html.Partial("_PageTittle", "PascalFM")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">
        <h2 class ="" style="margin:20px">@Model</h2>

    </div>
</div>