/*-------------------------------------- 320 --------------------------------------*/
@media  (max-width: 480px) {
    /* HEAD */
    .b-logo__img {
        content: url(../img/logo/logo-480.png);
        width: 117px;
    }
    .b-slogan {
        visibility:collapse;
        padding-top: 10px;
        text-align: center;
    }
    .b-player {
        padding: 10px 0 10px;
    }
    /* SEARCH SMALL */
    .b-search-xs {
        background: #e0e0df;
        border-top: 1px solid #cecece;
    }
    .b-nav__list__item_xs-hide {
        display: none !important;
    }
    .b-form-search {
        padding: 17px 0 14px;
    }
    .b-form-search__field {
        height: 30px;
    }
    .b-form-search__field__inp {
        height: 26px;
    }
    .b-form-search__field__btn {
        height: 26px;
    }
    /* NAV */
    .b-nav {
        border-top: 1px solid #cecece;
    }
    .navbar-nav > li {
        background: #f0f0f0;
        border-bottom: 1px solid #ddd;
    }
    .navbar-nav {
        background-color: #fff;
        margin-top: 0;
    }
    /*CONTENT*/
    .l-content {
        padding-bottom: 130px;
    }
    /*FOOTER*/
    .l-foot {
        height: 118px;
        margin-top: -118px;
    }
    .b-copyright {
        float: left;
        /*width: 130px;*/
    }
    .b-copyright__text {
        font: 11px/24px 'Open Sans', sans-serif;
    }
    .b-foot-nav {
        float: right;
        padding-top: 12px;
        /*width: 160px;*/
    }
    .b-social {
        margin: 0 0;
    }
    .b-share__handle {
        margin: 0 3px;
    }
    .b-foot-nav__link {
        font: 12px/20px 'Open Sans', sans-serif;
        padding-left: 10px;   
    }
    .b-foot-nav__link:first-child {
        margin-right: 10px;
    }
    .b-foot-nav__link_contacts {
        margin-right: 24px;
    }
  
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){

    /* HEAD */
    .b-slogan {
        visibility:collapse;
        padding-top: 10px;
        text-align: center;
    }
    .b-player {
        padding: 10px 0 10px;
    }
    /* SEARCH SMALL */
    .b-search-xs {
        background: #e0e0df;
        border-top: 1px solid #cecece;
    }
    .b-form-search {
        padding: 17px 0 14px;
    }
    .b-form-search__field {
        height: 30px;
    }
    .b-form-search__field__inp {
        height: 26px;
    }
    .b-form-search__field__btn {
        height: 26px;
    }
    .desktop .b-nav__list__item_xs-hide {
        display: none !important;
    }
    /* NAV */
    .desktop .b-nav{
        border-top: 1px solid #cecece;
        height: 68px;
    }
    .desktop .navbar-nav {
        background-color: #fff;
        margin-top: 0;
    }
    .desktop .navbar-nav > li {
        background: #f0f0f0;
        border-bottom: 1px solid #ddd;
    }
    .desktop .navbar-default .navbar-toggle {
        margin-top: 16px;
    }

    /*CONTENT*/
    .l-content {
        padding-bottom: 130px;
    }
    /*FOOTER*/
    .l-foot {
        height: 118px;
        margin-top: -118px;
    }
    .b-copyright {
        float: left;
        /*width: 130px;*/
    }
    .b-copyright__text {
        font: 12px/26px 'Open Sans', sans-serif;
    }
    .b-foot-nav {
        float: right;
        padding-top: 28px;
        /*width: 200px;*/
    }
    .b-social {
        margin: 0 200px 0 130px;
    }
    .yashare-auto-init {
        padding-top: 0px;
    }
    .b-share__handle {
        margin: 0 3px;
    }
    .b-foot-nav__link {
        font: 14px/20px 'Open Sans', sans-serif;
        padding-left: 24px;
    }
    .b-foot-nav__link:first-child {
        margin-right: 18px;
    }
    .b-foot-nav__link_contacts {
        margin-right: 24px;
    }
   
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*COLUMN*/
    .col-240-fix {
        float: left;
        width: 240px;
    }
    .col-ml-240 {
        margin-left: 240px;
    }
    /* HEAD */
    .b-top-line {
        height: 49px;
    }
    .b-top-line .container {
        padding-right: 0;
    }
    .b-slogan {
        visibility:visible;
        float: left;
        padding-top: 10px;
        width: 226px;
    }
    .b-slogan__top,
    .b-slogan__bottom  {
        display: block;
    }
    .b-player {
        margin-left: 226px;
        padding: 10px 0 0 76px;
    }
    /* SEARCH SMALL */
    .b-search-xs {
        display: none;
    }
    .b-form-search {
        margin: 0 0 0 20px;
        max-width: 140px;
        padding: 24px 0 23px;
    }
    .b-form-search__field {
        height: 22px;
    }
    .b-form-search__field__inp {
        height: 20px;
    }
    .b-form-search__field__btn {
        height: 20px;
    }
    /* NAV */
    .b-nav{
        border-top: 1px solid #ddd;
        height: 68px;
    }
    .navbar-default .navbar-nav > li.dropdown > a {
        margin-right: 10px;
    }
    .navbar-default .navbar-collapse {
        border-top: none;
        display: block;
        float: right;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-default .navbar-nav > li > a{
        font: 14px/40px 'Roboto Light', sans-serif;
        padding-left: 14px;
        padding-right: 14px;
    }
    .b-nav__list__item__link{
        height: 66px;
    }

    /*CONTENT*/
    .l-content {
        padding-bottom: 90px;
    }
    /*FOOTER*/
    .l-foot {
        height: 72px;
        margin-top: -72px;
    }
    .b-copyright {
        float: left;
        /*width: 200px;*/
    }
    .b-copyright__text {
        font: 15px/26px 'Open Sans', sans-serif;
    }
    .b-foot-nav {
        float: right;
        padding-top: 28px;
        /*width: 220px;*/
    }
    .b-social {
        margin: 0 220px 0 200px;
    }
    .b-share__handle {
        margin: 0 4px;
    }
    .yashare-auto-init {
        padding-top: 0px;
    }
    .b-foot-nav__link {
        font: 15px/20px 'Open Sans', sans-serif;
        padding-left: 20px;
    }
    .b-foot-nav__link:first-child {
        margin-right: 20px;
    }
    .b-foot-nav__link_contacts {
        margin-right: 24px;
    }
   
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) {
    /*COLUMN*/
    .col-240-fix {
        float: left;
        width: 240px;
    }
    .col-ml-240 {
        margin-left: 240px;
    }
    /* HEAD */
    .b-top-line {
        height: 49px;
    }
    .b-top-line .container {
        padding-right: 0;
    }
    .b-slogan {
        visibility:visible;
        float: left;
        padding-top: 10px;
        width: 226px;
    }
    .b-slogan__top,
    .b-slogan__bottom  {
        display: block;
    }

    .b-player {
        margin-left: 226px;
        padding: 10px 0 0 116px;
    }
    /* SEARCH SMALL */
    .b-search-xs {
        display: none;
    }
       
    .b-form-search {
        margin: 0 0 0 20px;
        max-width: 160px;
        padding: 22px 0 23px;
    }
    .b-form-search__field {
        height: 24px;
    }
    .b-form-search__field__inp {
        height: 22px;
    }
    .b-form-search__field__btn {
        height: 22px;
    }
    /* NAV */
    .b-nav{
        border-top: 1px solid #ddd;
        height: 68px;
    }
    .navbar-default .navbar-nav > li.dropdown > a {
        margin-right: 10px;
    }
    .navbar-default .navbar-nav > li > a{
        font: 16px/40px 'Roboto Light', sans-serif;
        padding-left: 20px;
        padding-right: 20px;
    }
    .b-nav__list__item__link{
        height: 66px;
    }

    /*CONTENT*/
    .l-content {
        padding-bottom: 90px;
    }
    
    /*FOOTER*/
    .l-foot {
        height: 72px;
        margin-top: -72px;
    }
    .b-copyright {
        float: left;
        /*width: 200px;*/
    }
    .b-copyright__text {
        font: 15px/26px 'Open Sans', sans-serif;
    }
    .b-foot-nav {
        float: right;
        padding-top: 28px;
        /*width: 290px;*/
    }
    .b-social {
        margin: 0 290px;
    }
    .yashare-auto-init {
        padding-top: 0px;
    }
    .b-share__handle {
        margin: 0 12px;
    }
    .b-foot-nav__link {
        font: 16px/20px 'Open Sans', sans-serif;
        padding-left: 34px;
    }
    .b-foot-nav__link:first-child {
        margin-right: 20px;
    }
    .b-foot-nav__link_contacts {
        margin-right: 34px;
    }
  
    
}