/* ==========================================================================
   PAGE PROGRAM
   ========================================================================== */
.b-program {
    background-color: #d3d1d6;
    text-align: center;
}   

.b-program .b-blck_bg-green {
    margin: 0 auto;
    width: 160px;
} 

.b-program .b-blck_bg-green:hover {
    text-decoration: none;
} 

.b-program__descr,
.b-program__author {
    color: #413d3d; 
    /*#777*/
}

.b-list-programs {
    margin-top: 50px;
}   
   
.b-list-program {
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
}

.b-list-programs .table>tbody>tr>td {
    border-top: none;
    vertical-align: middle;
}

.b-list-program__pause,
.b-list-program__download,
.b-list-program__play {
    display: block;
    height: 40px;
    position: relative;
    width: 40px;
}

.b-list-program__pause:before,
.b-list-program__download:before,
.b-list-program__play:before {

    color: #fff;
    content: '\f04b';
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    left: 50%;
    line-height: 1;
    margin: -7px 0 0 -5px;
    opacity: .6;
    position: absolute;
    top: 50%;
    -webkit-font-smoothing: antialiased;
    transition: all .2s ease-in;
    
}

.b-list-program__download:before {
    content: '\f019';
}

.b-list-program__pause:before {
    content: '\f04c';
}

.b-list-program__pause:hover:before,
.b-list-program__download:hover:before,
.b-list-program__play:hover:before {
    opacity: 1;
}

.b-list-program__title {
    color: #505050;
    font: 16px/16px 'Open Sans';
    transition: color .1s linear;
}

.b-list-program__title:hover {
    color: #107d68;
    text-decoration: none;
}

.b-list-program__descr {
    font: 14px/14px 'Open Sans';   
}

.b-list-program__time,
.b-list-program__comment,
.b-list-program__watch,
.b-list-program__date,
.b-list-program__hashtags,
.b-list-program__author {
    font: 12px/12px 'Open Sans';   
}

.b-list-program__descr,
.b-list-program__time,
.b-list-program__comment,
.b-list-program__watch,
.b-list-program__date,
.b-list-program__hashtags,
.b-list-program__author {
    color: #777;
    position: relative;
    transition: color .2s ease-in;
}

.b-list-program__date {
    display: block;
}

.b-list-program__comment:hover,
.b-list-program__watch:hover,
.b-list-program__date:hover,
.b-list-program__hashtags:hover,
.b-list-program__author:hover {
    color: #16a085;   
}

.b-list-program__hashtags:before {
    content: '#';   
}

.b-list-program__comment {
    padding: 0 0 0 16px;
}

.b-list-program__comment:before {
    content: '\e111';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: 300;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 4px;
    -webkit-font-smoothing: antialiased;
}

.b-list-program__watch {
    padding: 0 0 0 16px;
}

.b-list-program__watch:before {
    content: '\f04b';
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    left: 0;
    line-height: 1;
    position: absolute;
    top: 4px;
    -webkit-font-smoothing: antialiased;
}

.b-other-programs {
    color: #16a085;
    font: 24px/24px 'Open Sans';
    padding: 18px 0 44px;
    text-align: center;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    /*.b-podcasts {
        margin-left: -15px;
        margin-right: -15px;
    }*/
    .b-program {
        /*background-image: url(../img/bg/bg-program1280.jpg);*/
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 197px;
    } 
    .b-title-h1_program {
        font: 600 24px/28px 'Open Sans', sans-serif;
        padding: 16px 0 10px;
    }
    .b-program__descr {
        font: 18px/18px 'Open Sans';
        padding-bottom: 8px;
    }
    .b-program__author {
        font: 12px/12px 'Open Sans';
        padding-bottom: 10px;
    }
    /*.b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-podcast__foot__comment {
        padding-left: 15px !important;
        padding-right: 8px !important;
    }*/

}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){

    .b-program {
        /*background-image: url(../img/bg/bg-program1280.jpg);*/
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 197px;
    } 
    .b-title-h1_program {
        font: 600 35px/35px 'Open Sans', sans-serif;
        padding: 26px 0 16px;
    }
    .b-program__descr {
        font: 20px/20px 'Open Sans';
        padding-bottom: 8px;
    }
    .b-program__author {
        font: 14px/14px 'Open Sans';
        padding-bottom: 15px;
    }
    /*.b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-podcast__title {
        font-size: 16px !important;
    }
    .b-podcast__foot__comment {
        padding-right: 8px !important;
    }
    .b-podcast__foot {
        font-size: 14px !important;
    }*/
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

    .b-program {
        /*background-image: url(../img/bg/bg-program1280.jpg);*/
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 263px;
    } 
    .b-title-h1_program {
        font: 600 45px/45px 'Open Sans', sans-serif;
        padding: 46px 0 25px;
    }
    .b-program__descr {
        font: 20px/20px 'Open Sans';
        padding-bottom: 14px;
    }
    .b-program__author {
        font: 14px/14px 'Open Sans';
        padding-bottom: 25px;
    }
    /*.b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-podcast__title {
        font-size: 16px !important;
    }
    .b-podcast__foot__comment {
        padding-right: 8px !important;
    }
    .b-podcast__foot {
        font-size: 14px !important;
    }*/
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) and (max-width: 1280px) {
    .b-program {
        /*background-image: url(../img/bg/bg-program1280.jpg);*/
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 329px;
    } 
    .b-title-h1_program {
        font: 600 45px/45px 'Open Sans', sans-serif;
        padding: 56px 0 45px;
    } 
    .b-program__descr {
        font: 20px/20px 'Open Sans';
        padding-bottom: 14px;
    }
    .b-program__author {
        font: 14px/14px 'Open Sans';
        padding-bottom: 35px;
    }
    /*.b-podcasts__item {
        float: left;
        width: 25%;
        text-align: left;
    }
    .b-podcast__title {
        font-size: 16px !important;
    }
    .b-podcast__foot__comment {
        padding-right: 8px !important;
    }
    .b-podcast__foot {
        font-size: 14px !important;
    }*/
}
/*-------------------------------------- 1280 -------------------------------------*/
@media (min-width: 1280px) {
    .b-program {
        /*background-image: url(../img/bg/bg-program1280.jpg);*/
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 329px;
    } 
    .b-title-h1_program {
        font: 600 45px/45px 'Open Sans', sans-serif;
        padding: 56px 0 45px;
    } 
    .b-program__descr {
        font: 20px/20px 'Open Sans';
        padding-bottom: 14px;
    }
    .b-program__author {
        font: 14px/14px 'Open Sans';
        padding-bottom: 35px;
    }
    /*.b-podcasts__item {
        float: left;
        width: 25%;
        text-align: left;
    }*/
}