/* ==========================================================================
   PAGE REGISTRATION
   ========================================================================== */
   
.b-reg {
    box-sizing: border-box;
    margin: 0 auto;
}

.b-reg .b-title-h1 {
    margin: 0 auto;
    padding: 38px 0 43px;
    text-align: center;
}

/* STEPS FORM */

.b-reg-form__step {
    position: relative;
}

.b-reg-form_active {
    display: block;
}

.b-reg-form_unactive {
    display: none;
}

.b-reg-form__item__label {
    display: block;
    font: 16px/16px 'Open Sans';
    padding-bottom: 7px;
}

.b-reg-form__item {
    padding-bottom: 13px;
}

.b-reg .b-form__textarea {
    box-sizing: border-box;
    height: 96px;
    padding: 6px 12px;
}

.b-reg-form__item-btn .btn-primary {
    margin: 36px auto;
    width: 160px;
}

.b-reg-form__item-btn {
    text-align: center;
}

.b-form__file {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: #8a8a8a;
    font: 10px/14px 'Open Sans';
    height: 198px;
    margin-bottom: 10px;
    padding-top: 62px;
    text-align: center;
    width: 158px;
}

.b-reg-form__item_file {
    padding: 23px 0 0;
}

.iphone .b-reg-form__item_file,
.mobile .b-reg-form__item_file {
    display: none;
}

.fileinput-button {
    line-height: 30px;
}

.b-captcha {
    padding-left: 130px;
    position: relative;
}

.b-captcha__img {
    left: 0;
    position: absolute;
    top: 2px;
}

.b-captcha__inp {
    width: 100%;
}

.b-day {
    float: left; 
    margin-right: 4px;
    width: 21.67%;  
}
.b-day .form-control {
    padding: 6px 2px 6px 6px !important;  
    width: 100% !important;  
}
.b-month {
    float: left;
    margin-right: 4px;
    width: 44.17% !important;    
}
.b-year {
    float: left;
    width: 30%;  
}
.b-year  .form-control {
    padding: 6px 2px 6px 6px !important;  
    width: 100% !important;  
}

.b-message {
    float: left;
}
.b-message__item {
    font: 13px/16px 'Open Sans';
}
.b-message__item .b-form__label {
    display: inline;
    font: 13px/16px 'Open Sans';
}
.b-message__item__link {
    color: #16a085;
    text-decoration: underline;
    transition: color .2s ease-in;
}

.b-message__item__link:hover {
    color: #12816b;
}

.b-message__item .cbx-container {
    float: left;
    margin-top: -2px;
}
.b-message__item__sign {
    color: #16a085;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-reg .b-form__textarea {
        width: 100%;
    }
    .b-reg-form__item_file {
        display: none;
    }
    .b-message {
        float: left;
    }
    .b-message__item {
        padding: 0 0 14px 0;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-reg .b-form__textarea {
        width: 100%;
    }
    .b-reg-form__item_file {
        display: none;
    }
    .b-message {
        float: left;
    }
    .b-message__item {
        padding: 0 0 14px 0;
    }
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .b-reg {
        width: 520px;
    }
    .desktop .b-reg-form__step_first {
        padding-right: 200px;
        position: relative;
    }
    .b-reg-form__step_first .b-reg-form__item {
        width: 100%;
    }
    .b-reg-form__item_file {
        right: 0;
        position: absolute;
        top: 0;
    }
    .b-reg-form__step_second .b-reg-form__item {
        float: left;
        width: 50%;
    }
    .b-reg-form__item_right {
        padding-left: 20px;
    }
    .b-reg-form__item_left {
        padding-right: 7px;
    }
    .b-reg .b-form__textarea {
        width: 520px;
    }
    .b-reg-form__step_second  .form-control {
        width: 240px;
    }
    .b-message {
        float: left;
    }
    .b-message__item {
        padding: 0 0 14px 0;
    }

}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) {
    .b-reg  {
        width: 720px;
    }
    .b-reg-form__step_first {
        padding-right: 160px;
        position: relative;
    }
    .b-reg-form__step_first .b-reg-form__item {
        float: left;
        width: 33.33%;
    }
    .b-reg-form__item_file {
        right: 0;
        position: absolute;
        top: 0;
    }
    .b-reg-form__step_first .b-reg-form__item {
        padding-right: 35px;
        width: 280px;
    }
    .b-reg-form__step_first .b-reg-form__item:last-child {
        padding-right: 0;
        width: 160px;
    }
    .b-reg-form__step_second {
        margin: 0 auto;
        width: 520px;
    }
    .b-reg-form__step_second .b-reg-form__item {
        float: left;
        width: 50%;
    }
    .b-reg-form__item_right {
        padding-left: 20px;
    }
    .b-reg-form__item_left {
        padding-right: 7px;
    }

    .b-reg .b-form__textarea {
        width: 520px;
    }
    .b-reg-form__step_second .form-control {
        width: 240px;
    }
    .b-message {
        float: left;
    }
    .b-message__item {
        padding: 0 0 14px 240px;
    }
    .b-message__item__sign {
        padding-left: 32px;
    }
}