/* ==========================================================================
   PAGE ENTER
   ========================================================================== */
   
.b-auth .b-auth-form {
    margin: 0 auto;
    width: 300px;
}

.b-auth .b-title-h1_fs25 {
    padding-bottom: 43px;
    text-align: center;
}

.b-auth-form__item__inp {
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    height: 29px;
    padding: 0 9px;
    vertical-align: middle;
    width: 100%;
}

.b-auth-form__item__inp_pass {
    font-size: 18px;
}

.b-auth .b-auth-form__item {
    padding-bottom: 13px;
}


.b-auth-form__item__inp::-webkit-input-placeholder {
   color: #8a8a8a;
}

.b-auth-form__item__inp:-moz-placeholder {
   color: #8a8a8a;
}

.b-auth-form__item__inp::-moz-placeholder {
   color: #8a8a8a; 
}

.b-auth-form__item__inp:-ms-input-placeholder {  
   color: #8a8a8a;  
}

/*.b-auth .btn-primary {
    height: 45px;
}

.b-auth .btn-primary:first-child {
    margin-right: 7px;
    width: 96px;
}*/

.b-auth-form__item__auth {
    float: left;
}

.b-auth-form__item__reg {
    float: right; 
}

.b-auth .b-form__label {
    padding-bottom: 7px;
}

.b-form__label__check {
    margin-right: 20px;
}

.b-share__icon {
    margin: 0 9px;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-auth {
        padding-bottom:40px;
    }
    .b-auth .b-title-h1 {
        padding-top: 40px;
    }
    .b-auth .b-auth-form {
        padding-bottom: 15px;
    }
    .b-auth .b-title-h3 {
        padding-bottom: 14px;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-auth {
        padding-bottom:40px;
    }
    .b-auth .b-title-h1 {
        padding-top: 40px;
    }
    .b-auth .b-auth-form {
        padding-bottom: 15px;
    }
    .b-auth .b-title-h3 {
        padding-bottom: 14px;
    }
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .b-auth {
        padding-bottom:50px;
    }
    .b-auth .b-title-h1 {
        padding-top: 60px;
    }
    .b-auth .b-auth-form {
        padding-bottom: 25px;
    }
    .b-auth .b-title-h3 {
        padding-bottom: 14px;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) {
    .b-auth {
        padding-bottom: 80px;
    }
    .b-auth .b-title-h1 {
        padding-top: 104px;
    }
    .b-auth .b-auth-form {
        padding-bottom: 35px;
    }
    .b-auth .b-title-h3 {
        padding-bottom: 14px;
    }
}