/* ==========================================================================
   PAGE CONTACT
   ========================================================================== */
   
.b-title-h1_news {
    padding: 44px 0 14px;
    text-align: center;
}


/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-news {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        margin: 0 -15px;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1% 2.7em;
        width: 99.99%;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-news {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1% 2.7em;
        width: 99.99%;
    }
}

/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .b-news {
        column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        -webkit-column-gap: 2.7em;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        margin: 1.5em 0 0;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1% 2.7em;
        width: 46%;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1280px) {
    .b-news {
        column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        -webkit-column-gap: 2.7em;
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        margin: 1.5em 0 0;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1.35em 2.7em;
        width: 29%;
    }
}