/* ==========================================================================
   PAGE INDEX
   ========================================================================== */

.b-main {
    background-color: #e2e3e8;
    position: relative;
}
   
.b-main .b-title-h1 {
    text-align: center;
}

.b-title-h1-center {
    padding: 44px 0 22px;
    text-align: center;
}


.b-main__about {
    text-align: center;
}

.b-main__about__txt {
    color: #777;
}

.b-podcasts {
    background: #f0f0f0;
    margin: 0 auto;
    max-width: 1280px;
}

/* my css */
.b-main_color {
    color:#16A085; 
   /*22 160 133*/
}

/* user default logos */
.b-main_image_default_user_small {
    content: url(../img/default/user_small.jpg);
}
.b-main_image_default_user_med {
    content: url(../img/default/user_med.jpg);
}
/* program default logos */
.b-main_image_default_program_small {
    content: url(../img/default/program_small.jpg);
}
.b-main_image_default_program_med {
    content: url(../img/default/program_med.jpg);
}

/* blog default logos */
.b-main_image_default_blog_small {
    content: url(../img/default/blog_small.jpg);
}
.b-main_image_default_blog_med {
    content: url(../img/default/blog_med.jpg);
}
/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-main {
        background-image: url(../img/bg/bg-index768.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 248px;
    }
    .b-main .b-title-h1 {
        font: 600 20px/26px 'Open Sans', sans-serif;
        padding: 14px 0 10px;
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
    }
    .b-main__about__txt {
        font: 12px/16px 'Roboto Light', sans-serif;
    }
    .b-main__about__txt br {
        display: none;
    }
    .b-main__about .btn {
        height: 40px;
        line-height: 28px;
        margin-top: 16px;
        width: 130px;
    }
    .b-podcasts {
        margin-bottom: 42px;
    }
    .b-main__about .b-main__about__btn_first {
        margin-right: 14px;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-main {
        background-image: url(../img/bg/bg-index768.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 180px;
    }
    .b-main .b-title-h1 {
        font: 600 26px/32px 'Open Sans', sans-serif;
        padding: 20px 0 14px;
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
    }
    .b-main__about .btn {
        height: 35px;
        line-height: 26px;
        margin-top: 20px;
        width: 160px;
    }
    .b-main__about__txt {
        font: 16px/24px 'Roboto Light', sans-serif;
    }
    .b-main__about__txt br {
        display: none;
    }
    .b-podcasts {
        margin-bottom: 42px;
    }
    .b-main__about .b-main__about__btn_first {
        margin-right: 28px;
    }
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .b-main {
        background-image: url(../img/bg/bg-index1024.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 190px;
    }
    .b-main .b-title-h1 {
        font: 600 40px/50px 'Open Sans', sans-serif;
        padding: 45px 0 24px;
    }
    .b-podcasts {
        min-height: 300px;
    }
    .b-podcasts__item {
        float: left;
        width: 33.33%;
    }
    .b-main__about .btn {
        height: 45px;
        line-height: 30px;
        margin-top: 34px;
        width: 180px;
    }
    .b-main__about__txt {
        font: 16px/26px 'Roboto Light', sans-serif;
    }
    .b-main__about .b-main__about__btn_first {
        margin-right: 38px;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) and (max-width: 1280px) {
    .b-main {
        background-image: url(../img/bg/bg-index1280-2.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 220px;
    }
    .b-main .b-title-h1 {
        font: 600 45px/56px 'Open Sans', sans-serif;
        padding: 50px 0 32px;
    }
    .b-podcasts {
        min-height: 300px;
    }
    .b-podcasts__item {
        float: left;
        width: 33.33%;
    }
    .b-main__about .btn {
        height: 45px;
        line-height: 30px;
        margin-top: 54px;
        width: 180px;
    }
    .b-main__about__txt {
        font: 22px/30px 'Roboto Light', sans-serif;
    }
    .b-main__about .b-main__about__btn_first {
        margin-right: 38px;
    }
}

/*-------------------------------------- 1280 -------------------------------------*/
@media (min-width: 1280px) {
    .b-main {
        background-image: url(../img/bg/bg-index1280-2.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 220px;
    }
    .b-main .b-title-h1 {
        font: 600 45px/56px 'Open Sans', sans-serif;
        padding: 50px 0 32px;
    }
    .b-podcasts {
        min-height: 300px;
    }
  
    .b-main__about .btn {
        height: 45px;
        line-height: 30px;
        margin-top: 54px;
        width: 180px;
    }
    .b-main__about__txt {
        font: 22px/30px 'Roboto Light', sans-serif;
    }
 
    .b-podcasts__item {
        float: left;
        width: 25%;
    }
    .b-main__about .b-main__about__btn_first {
        margin-right: 38px;
    }

}