/* ==========================================================================
   PAGE THEME
   ========================================================================== */

.b-theme .col-240-fix,
.b-theme .col-ml-240 {
    padding-top: 48px;
}

.b-podcasts {
    text-align: center;
}

.b-theme .b-news {
    margin-top: 20px;
}

.b-theme .b-title-h1 {
    min-height: 50px;
    margin-bottom: 26px;
}

.b-title-h1__img {
    float: left;
    margin-right: 20px;
}

.b-title-h1__count {
    color: #777;
    display: block;
    font: 12px/12px 'Open Sans';
    margin: 8px 0 0 60px;
    padding-left: 16px;
    position: relative;
}

.b-title-h1__count:before {
    content: "\f04b";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    left: 0;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    transform: translate(0, 0);
    top: 0;
}

.b-theme .col-240-fix .b-title-h2 {
    padding-top: 15px;
    text-align: left;
}

.b-theme .b-podcast__descr {
    font: 14px/20px 'Open Sans';
}

.b-theme .b-podcast__head {
    font: 700 13px/18px 'Open Sans';
}

.b-list-prog {
    padding: 20px 0 16px;
}

.b-list-prog__item {
    padding-bottom: 14px;
    position: relative;
}

.b-list-prog__item__link,
.b-list-prog__item__link:active,
.b-list-prog__item__link:visited {
    color: #505050;
    display: block;
    font: 16px/16px 'Open Sans';
    min-height: 24px;
    padding: 2px 46px 0 24px;
    position: relative;
    transition: color .1s ease-in, padding-left .2s ease-in;
    text-decoration: none !important;
}

.b-list-prog__item__link:before {
    color: #16a085;
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    left: 0;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 3px;
    transition: left .2s ease-in;
}

.b-list-prog__item__link__count {
    background: #16a085;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font: 14px/14px 'Open Sans';
    right: 0;
    padding: 4px 6px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: middle;
}

.b-list-prog__item__link:hover,
.b-dropdownlist__item:hover {
    color: #16a085;
    padding-left: 29px;
    text-decoration: none;
}

.b-list-prog__item__link:hover:before {
    left: 5px;
}

.b-dropdownlist {
    background-color: transparent !important;
    border: none !important;
    box-shadow: 0 0 0 0 transparent !important;
    float: none !important;
    position: relative !important;
}

.b-dropdownlist__item {
    padding-left: 4px;
    position: relative;
    transition: color .1s ease-in, padding-left .2s ease-in;
}

.b-dropdownlist__item:before {
    color: #16a085;
    content: "\f101";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    left: 4px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 5px;
    transition: left .2s ease-in;
}

.b-list-tags {
    padding-top: 4px;
}

.b-list-tags__item {
    color: #505050;
    display: inline-block;
    font-family: 'Open Sans';
    line-height: 28px;
    padding-right: 7px;
    text-decoration: none;
    transition: color .2s linear;
}

.b-list-tags__item a:hover {
    background-color: transparent;
    color: #16a085;
}

.b-dropdownlist__item:hover:before{
    left: 25px;
}

.b-list-tags__item:nth-child(4n+1) {
    font-size: 11px;
}

.b-list-tags__item:nth-child(5n-2) {
    font-size: 12px;
}

.b-list-tags__item:nth-child(6n-2) {
    font-size: 14px;
}

.b-list-tags__item:nth-child(7n-2) {
    font-size: 18px;
}

.b-blck_to-program {
    margin-top: 48px;
}

.b-blck_to-program:hover {
    text-decoration: none;
}

.b-program-about {
    color: #777;
    font: 20px/24px 'Open Sans';
    padding-bottom: 8px;
}

.b-program-author {
    color: #777;
    font: 14px/18px 'Open Sans';
}

.b-program-author__link {
    color: #777;
    font: 14px/18px 'Open Sans';
    transition: color .2s ease-in;
}

.b-program-author__link:hover {
    color: #16a085;
}

.b-last-record {
    color: #777;
    font: 20px/24px 'Open Sans';
    padding: 30px 0 22px;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }

    .b-theme .b-podcasts {
        margin-left: -15px;
        margin-right: -15px;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }

}

/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .b-theme .col-ml-240 {
        padding-left: 3.4%;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .b-theme .b-podcast__title {
        font: 700 18px/22px 'Open Sans';
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-podcast__foot {
        font-size: 14px !important;
    }
    .b-podcast__foot__comment {
        padding: 0 6px 0 14px !important;
    }
    .b-blck_to-program {
        width: 160px;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1100px) and (max-width: 1200px) {
    .b-theme .col-ml-240 {
        padding-left: 3.4%;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
   .b-theme .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
        min-width: 240px;
    }
    .b-blck_to-program {
        width: 160px;
    }
}
/*-------------------------------------- 1200 -------------------------------------*/
@media (min-width: 1200px) and (max-width: 1280px) {
    .b-theme .col-ml-240 {
        padding-left: 3.4%;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
   
    .b-podcasts__item {
        float: left;
        width: 33.33%;
        text-align: left;
        min-width: 240px;
    }
    .b-theme .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-blck_to-program {
        width: 160px;
    }
}
/*-------------------------------------- 1280 -------------------------------------*/
@media (min-width: 1280px) {
    .b-theme .col-ml-240 {
        padding-left: 3.4%;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
   
    .b-podcasts__item {
        float: left;
        width: 33.33%;
        text-align: left;
        min-width: 240px;
    }
    .b-theme .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-blck_to-program {
        width: 160px;
    }
}