/* ==========================================================================
   PAGE COMMENTS
   ========================================================================== */

.b-comments {
    background: #fff;
    padding: 28px 27px;
}   
  
.b-comments__title {
    color: #16a085;
    font: 700 18px/22px 'Open Sans', sans-serif;
    padding-bottom: 28px;
    text-transform: uppercase;
}

.b-comments__form {
    position: relative;
}

.b-comments__form__btn-wrap {
    position: relative;
}

.b-comments__form__btn-wrap_al-r {
    text-align: right;
}

.b-comments__form__txtarea {
    box-sizing: border-box;
    color: #777;
    font: italic 16px/20px 'Open Sans';
    padding: 12px 8px;
}

.b-comments__body {
    position: relative;
}

.b-comment__wrap {
    padding-left: 52px;
    position: relative;
}

.b-comment__wrap_nested {
    margin-top: 28px;
}

.b-comments__list__item {
    padding-bottom: 28px;
}

.b-comment__wrap .b-user-ava {
    left: 0;
    position: absolute;
    top: 0;
}

.b-comment__wrap .b-comment__wrap__name {
    color: #16a085;
    display: inline-block;
    font: 700 16px/20px 'Open Sans';
    padding-right: 14px;
}

.b-comment__wrap .b-comment__wrap__date {
    color: #b2b2b2;
    display: inline-block;
    font: 700 12px/20px 'Open Sans';
}

.b-comment__wrap .b-comment__wrap__txt {
    color: #777;
    font: 16px/24px 'Open Sans';
    padding-top: 4px;
}

.b-comment__wrap__btns {
    color: #b2b2b2;
    font: 700 12px/24px 'Open Sans';
}

.b-comment__wrap__btns__count {
    margin-right: 10px;
}

.b-comment__wrap__btns__show {
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin-right: 6px;
    position: relative;
    top: 3px;
    width: 14px;
}

.b-comment__wrap__btns__hide {
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin-right: 6px;
    position: relative;
    top: 3px;
    width: 14px;
}

.b-comment__wrap__btns__show:before {
    content: '\e114';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: 300;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 5px;
    -webkit-font-smoothing: antialiased;
}

.b-comment__wrap__btns__hide:before {
    content: '\e113';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: 300;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 5px;
    -webkit-font-smoothing: antialiased;
}

.b-comment__wrap__btns__answer {
    cursor: pointer;
    margin-right: 10px;
}

.b-comment__wrap__btns__del {
    cursor: pointer;
}

.b-comment__wrap__btns__answer.act,
.b-comment__wrap__btns__del.act,
.b-comment__wrap__btns__hide.act,
.b-comment__wrap__btns__show.act {
    color: #16a085;
}