/* ==========================================================================
   PAGE ANONS
   ========================================================================== */
   
.b-podcasts {
    position: relative;
}

.b-podcasts__item {
    position: relative;
}

.b-podcasts__item__img {
    width: 100%;
    vertical-align: top;
}

.b-podcasts__item__wrap {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.b-podcast {
    overflow: hidden;
}

.b-podcast:before {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s ease-in;
    width: 100%;
    z-index: 12;
}

.b-podcast__body {
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    padding: 9% 9% 9% 12%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 13;
}

.b-podcast.b-podcast_white:before {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: translate(100%, -100%) rotate(180deg);
    -moz-transform: translate(100%, -100%) rotate(180deg);
    -o-transform: translate(100%, -100%) rotate(180deg);
    -ms-transform: translate(100%, -100%) rotate(180deg);
    transform: translate(100%, -100%) rotate(180deg);
}

.b-podcast.b-podcast_green:before {
    background: rgba(22, 160, 133, 0.2);
    -webkit-transform: translate(-100%, 100%) rotate(-180deg);
    -moz-transform: translate(-100%, 100%) rotate(-180deg);
    -o-transform: translate(-100%, 100%) rotate(-180deg);
    -ms-transform: translate(-100%, 100%) rotate(-180deg);
    transform: translate(-100%, 100%) rotate(-180deg);
}

.b-podcast:hover:before {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.b-podcast__head {
    color: #97ccba;
    font: 700 14px/18px 'Open Sans';
    padding-bottom: 6%;
    transition: color .2s ease-in;
}

.b-podcast__head__cat {
    color: #97ccba;
    font: 700 14px/18px 'Open Sans';
    transition: color .2s ease-in;
}

.b-podcast.b-podcast_white:hover .b-podcast__head,
.b-podcast.b-podcast_white:hover .b-podcast__head__cat,
.b-podcast.b-podcast_white:hover .b-podcast__descr {
    color: #fff;
    text-decoration: none;
}

.b-podcast__head__date {
    margin-right: 12px;
}

.b-podcast__title {
    padding-bottom: 14%;
    text-transform: uppercase;
}

.b-podcast_green .b-podcast__title__link {
    color: #16a085;
}

.b-podcast_white .b-podcast__title__link {
    color: #fff;
}

.b-podcast__descr {
    font: 14px/22px 'Open Sans';
    position: absolute;
    top: 40%;

    /* height - that's one line, 2em for 2 lines, etc...*/
    /* line-height  - the height of one text line*/
    height: 3em; 
    line-height: 1em;
    overflow: hidden; 


    /*line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;*/
}

.b-podcast_green .b-podcast__descr {
    color: #22a38a;
}

.b-podcast_white .b-podcast__descr {
    color: #e0f0ed;
}

.b-podcast__play {
    background-image: url(../img/sprites/sprite-player.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    font: 600 20px/40px 'Open Sans';
    padding: 3px 0;
    position: absolute;
    top: 60%;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    width: 76%;
}

.b-podcast__download {
    background-image: url(../img/sprites/download.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    font: 600 20px/40px 'Open Sans';
    padding: 3px 0;
    position: absolute;
    top: 60%;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    width: 76%;
}

.b-podcast__pause {
    background-image: url(../img/sprites/sprite-pause.png);
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    font: 600 20px/40px 'Open Sans';
    padding: 3px 0;
    position: absolute;
    top: 60%;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
    width: 76%;
}

.b-podcast__pause,
.b-podcast_green .b-podcast__play {
    background-position: 0 -139px;
    color: #22a38a;
}

.b-podcast__pause,
.b-podcast_white .b-podcast__play {
    background-position: 0 -88px;
    color: #fff;
}

.b-podcast__foot {
    bottom: 6.2%;
    font: 700 14px/22px 'Open Sans';
    position: absolute;
}

.b-podcast_white .b-podcast__foot__comment,
.b-podcast_white .b-podcast__foot__hashtag {
    color: #fff;
}

.b-podcast_green .b-podcast__foot__comment,
.b-podcast_green .b-podcast__foot__hashtag {
    color: #16a085;
}

.b-podcast__foot__comment {
    display: inline;
    padding: 0 20px 0 20px;
}

.b-podcast__foot__comment:before {
    content: '\e111';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 5px;
    -webkit-font-smoothing: antialiased;
}

.b-podcast__foot__hashtag {
    display: inline-block;
}

.b-podcast__foot__hashtag:before {
    content: '#';
}

.b-podcast__pause,
.b-podcast.b-podcast_green:hover .b-podcast__head,
.b-podcast.b-podcast_green:hover .b-podcast__head__cat,
.b-podcast.b-podcast_green:hover .b-podcast__title__link,
.b-podcast.b-podcast_green:hover .b-podcast__play,
.b-podcast.b-podcast_green:hover .b-podcast__foot__comment,
.b-podcast.b-podcast_green:hover .b-podcast__foot__hashtag,
.b-podcast.b-podcast_green:hover .b-podcast__descr {
    color: #148c74;
    text-decoration: none;
}

.b-podcast__foot__comment:hover,
.b-podcast__foot__hashtag:hover {
    text-decoration: none;
}

.b-podcast__pause,
.b-podcast:hover .b-podcast__play {
    transform: scale(1.1);
}

.b-podcast .b-podcast__title__link:hover {
    text-decoration: none;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-podcast__descr,
    .b-podcast__head__cat,
    .b-podcast__head__date{
        display: none;
    }
    .b-podcast__title {
        font: 700 12px/16px 'Open Sans';
    }
    .b-podcast__pause,
    .b-podcast__play {
        /*left: 50%;*/
        margin: -21px 0 0 -15px;
        position: absolute;
        top: 50%;
        text-indent: -20000px;
        width: 30px;
    }
    .b-podcast__foot {
        font-size: 11px;
    }
    .b-podcast__foot__comment {
        padding-right: 0;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-podcast__pause,
    .b-podcast__play {
        padding-left: 48px;
    }
    .b-podcast__pause,
    .b-podcast__play {
        position: absolute;
        top: 45%;
    }
    .b-podcast__descr,
    .b-podcast__head{
        display: none;
    }
    .b-podcast__foot {
        font-size: 14px;
    }
    .b-podcast__foot__comment {
        padding-right: 6px;
    }
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-podcast__descr{
        display: none;
    }

    .b-podcast__pause,
    .b-podcast__play {
        padding-left: 48px;
        top: 50%;
    }


    .b-podcast__tile_first_background {
        background-color:#16A085;
    }
    .b-podcast__tile_second_background {
        background-color:#F1F1F1;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) {
    .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-podcast__pause,
    .b-podcast__play {
        padding-left: 48px;
    }

    .b-podcast__tile_first_background {
        background-color:#16A085;
    }
    .b-podcast__tile_second_background {
        background-color:#F1F1F1;
    }

    .b-podcast__descr {


    /* height - that's one line, 2em for 2 lines, etc...*/
    /* line-height  - the height of one text line*/
    /*height: 2em; 
    line-height: 1em;
    overflow: hidden;*/ 
}
    
}