/* ==========================================================================
   PAGE ABOUT
   ========================================================================== */

.b-about {
    text-align: center;
}

.b-title-h1_about {
    background-color: #c1c8ca;
    clear: both;
    position: relative;
    top: -1px;
}   

.b-about-pascal {
    text-align: center;
}

.b-about-pascal .b-title-h2 {
    padding: 18px 0 25px;
}

.b-footnote__txt {
    padding-bottom: 11px;
    position: relative;
    text-align: left;
}

.b-footnote__txt_last {
    color: #777;
    font: italic 14px/24px 'Open Sans', sans-serif;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-about__progect {
        margin: 23px auto 0;
        width: 90.28%;
    }
    .b-about__progect__item {
        margin-bottom: 18px;
    }
    .b-about__progect__item br {
        display: none;
    }
    .b-footnote {
        margin: 0 auto 40px;
        width: 90.28%;
    }
    .b-footnote__txt_first {
        padding-top: 25px;
    }
    .b-footnote__photo {
        content: url(/content/RoxieTheme/img/images/Pascal-480.png);
        width: 120px;
    }
    .b-title-h1_about {
        background-image: url(/content/RoxieTheme/img/bg/bg-about-480.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 35px/92px 'Open Sans', sans-serif;
        height: 97px;
    } 
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){

    .b-title-h1_about {
        background-image: url(/content/RoxieTheme/img/bg/bg-about-768.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 45px/150px 'Open Sans', sans-serif;
        height: 155px;
    } 
    .b-about__progect {
        margin: 33px auto 0;
        width: 90.28%;
    }
    .b-about__progect__item {
        margin-bottom: 28px;
    }
    .b-about__progect__item br {
        display: none;
    }
    .b-footnote {
        margin: 0 auto 50px;
        width: 90.28%;
    }
    .b-footnote__photo {
        content: url(/content/RoxieTheme/img/images/Pascal-480.png);
        width: 120px;
    }
    .b-footnote__txt_first {
        padding-top: 25px;
    }
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .b-about__progect {
        margin: 43px auto 0;
        width: 58.28%;
    }
    .b-about__progect__item {
        margin-bottom: 38px;
    }
    .b-about__progect__item br {
        display: none;
    }
    .b-footnote {
        margin: 0 auto 50px;
        width: 65.63%;
    }
    .b-title-h1_about {
        background-image: url(/content/RoxieTheme/img/bg/bg-about-1024.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 45px/200px 'Open Sans', sans-serif;
        height: 206px;
    } 
    .b-footnote__txt_first {
        padding-top: 35px;
    }
    .b-footnote__txt_first:before {
        background: url(../img/sprites/sprite-quotes.png) no-repeat 0 -232px;
        content: '';
        display: block;
        height: 71px;
        left: -117px;
        position: absolute;
        top: 41px;
        width: 80px;
    }

    .b-footnote__txt_last:after {
        background: url(../img/sprites/sprite-quotes.png) no-repeat 0 -313px;
        bottom: 0;
        content: '';
        display: block;
        height: 71px;
        right: -117px;
        position: absolute;
        width: 80px;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) {
    .b-title-h1_about {
        background-image: url(/content/RoxieTheme/img/bg/bg-about-1280-2.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 45px/250px 'Open Sans', sans-serif;
        height: 257px;
    } 
    .b-about__progect {
        margin: 43px auto 0;
        width: 58.28%;
    }
    .b-about__progect__item {
        margin-bottom: 38px;
    }
    .b-footnote {
        margin: 0 auto 50px;
        width: 65.63%;
    }
    .b-footnote__txt_first {
        padding-top: 35px;
    }
    .b-footnote__txt_first:before {
        background: url(/content/RoxieTheme/img/sprites/sprite-quotes.png) no-repeat 0 0;
        content: '';
        display: block;
        height: 106px;
        left: -160px;
        position: absolute;
        top: 41px;
        width: 120px;
    }

    .b-footnote__txt_last:after {
        background: url(/content/RoxieTheme/img/sprites/sprite-quotes.png) no-repeat 0 -114px;
        bottom: 0;
        content: '';
        display: block;
        height: 106px;
        right: -160px;
        position: absolute;
        width: 120px;
    }
    
}