/* ==========================================================================
   PAGE ARTICLES
   ========================================================================== */
   
.csscolumns .b-news {
    font-size: .78em;
    padding: 0;
}

.b-news__item {
    box-sizing: border-box;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
}

.csscolumns .b-news:not(.b-news_blog) .b-news__item {
    margin: 0 0 2.7em;
    width: 100%;
}

.no-csscolumns .b-news {
    padding: 0;
    text-align: center;
}

.no-csscolumns  .b-news__item {
    vertical-align: top;
}

.b-news__item__head {
    background: #fff;
    color: #b2b2b2;
    padding: 1em 22px 8px;
}

.b-news__item__head__date {
    position: relative;
}

.b-news__item__head__date:before {
    color: #16a085;
    content: '\e109';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: 300;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 5px;
    -webkit-font-smoothing: antialiased;
}

.b-news__item__head__comment {
    color: #b2b2b2;
    padding: 0 0 0 18px;
    position: relative;
}

.b-news__item__head__comment:hover {
    text-decoration: none;
}

.b-news__item__head__comment:before {
    color: #16a085;
    content: '\e111';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: 300;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 5px;
    -webkit-font-smoothing: antialiased;
}

.b-news__item__head__count-watch {
    margin-left: 16px;
    padding: 0 0 0 18px;
    position: relative;
}

.b-news__item__head__count-watch:before {
    color: #16a085;
    content: '\e105';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-size: 10px;
    font-weight: 300;
    left: 1px;
    line-height: 1;
    position: absolute;
    top: 5px;
    -webkit-font-smoothing: antialiased;
}

.b-news__item__head__title {
    color: #b2b2b2;
    float: right;
    transition: color .2s ease-in;
}

.b-news__item__head__title:hover {
    color: #119178;
    text-decoration: none;
}

.b-news__item__link,
.b-news__item__wrap {
    background: #fff;
    display: block;

}

.b-news__item__wrap {
    padding-right: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 30px;
}

.b-news__item__link:hover {
    text-decoration: none;
}

.b-news__item__photo {
    backface-visibility: hidden;
    display: block;
    overflow: hidden;
    opacity: 1;
    position: relative;
    text-align: center;
    transition: opacity .2s linear;
    width: 100%;
}

.b-news__item__video {
    display:  block;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.b-news__item__link:hover .b-news__item__photo {
    opacity: 0.7;
}

.b-news__item__title-cat {
    color: #16a085;
    /*display: block;*/
    font: 700 22px/22px 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 22px 27px 0;
}

.b-news__item__title {
    color: #16a085;
    display: block;
    font: bold 18px/22px 'Open Sans', sans-serif;
    padding: 20px 27px;
    text-transform: uppercase;
    transition: color .2s linear;
}

.b-news__item__link:hover .b-news__item__title {
    color: #119178;
}

.b-news__item__desrc {
    color: #777;
    display: block;
    font: 16px/24px 'Open Sans', sans-serif;
    padding: 0 27px;
    transition: color .2s linear;
}

.b-news__item__desrc_multicol {
    margin-bottom: 11px;
}

.b-news__item__desrc_c-green {
    color: #16a085;
}

.b-news__item__link:hover .b-news__item__desrc {
    color: #000;
}

.b-news__item__link:hover .b-news__item__photo {
    opacity: 0.7;
}

.b-news__item__foot {
    background: #fff;
    padding: 15px 27px 3em;
}

.b-news__item__foot_mtb {
    margin: 30px 0;
}

.b-news__item__foot__social {
    float: right;
    /*margin-top: -14px;*/
}

.b-news__item__foot__item {
    color: #16a085;
    display: inline-block;
    font: 15px/15px 'Open Sans', sans-serif;
}

.b-news__item__foot__item:hover {
    color: #107662;
}

.b-news__item__foot__item:before {
    content: '#';
}

.b-news__item__foot__item:after {
    content: ',';
}

.b-news__item__foot__item:last-child:after {
    content: '' !important;
}


.no-csscolumns  .b-news__item__head,
.no-csscolumns  .b-news__item__foot,
.no-csscolumns  .b-news__item__desrc,
.no-csscolumns  .b-news__item__title {
    text-align: left;
}


/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-news__item__head {
        font: 600 12px/18px 'Open Sans', sans-serif;
    }
    .b-news__item__head__date {
        padding: 0 14px 0 24px;
    }
    .b-news__item__head__title {
        display: block;
        float: none;
        padding-top: 4px;
    }
    .b-news__item {
        width: 320px;
    }
    .b-news__item__video iframe,
    .b-news__item__video object,
    .b-news__item__video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-news__item__head {
        font: 600 14px/18px 'Open Sans', sans-serif;
    }
    .b-news__item__head__date {
        padding: 0 18px 0 24px;
    }
    .b-news__item__video iframe,
    .b-news__item__video object,
    .b-news__item__video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .b-news__item__head {
        font: 600 14px/18px 'Open Sans', sans-serif;
    }
    .b-news__item__head__date {
        padding: 0 22px 0 24px;
    }
    .b-news__item__video iframe,
    .b-news__item__video object,
    .b-news__item__video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1280px) {
    .b-news__item__head {
        font: 600 14px/18px 'Open Sans', sans-serif;
    }
    .b-news__item__video iframe,
    .b-news__item__video object,
    .b-news__item__video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .b-news__item__head__date {
        padding: 0 22px 0 24px;
    }
}