/* ==========================================================================
   PAGE BLOGS
   ========================================================================== */

.b-blogs .col-240-fix,
.b-blogs .col-ml-240 {
    padding-top: 48px;
}

.b-blogs .b-news {
    margin-top: 20px;
}

.b-blogs .b-title-h1 {
    height: 50px;
}

.b-blogs .col-240-fix .b-title-h2 {
    padding-top: 15px;
    text-align: left;
}

.b-form-search-l {
    padding-top: 30px;
    width: 100%;
}


.b-form-search-l__field {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    height: 27px;
    position: relative;
}

.b-form-search-l__field__btn {
    background: #16a085 url(../img/bg/bg-green-submit.png) no-repeat 50% 50%;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #f3f3f3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 25px;
    right: 0;
    position: absolute;
    padding-top: 7px;
    text-align: center;
    top: 0;
    width: 27px;
}


.b-form-search-l__field__inp {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    font-style: italic;
    height: 25px;
    padding: 0 6px;
    width: 100%;
    vertical-align: middle;
}


.b-rating {
    padding: 34px 0 0;
}

.b-rating__title {
    color: #777;
    font: 11px/11px 'Open Sans', sans-serif;
    text-align: right;
}

.b-rating .nav-tabs {
    margin-bottom: 12px;
    text-align: center;
}

.b-rating .nav-tabs > li {
    margin-top: 8px;
}

.b-rating .nav-tabs > li.active {
    margin-top: 0 !important;
}

.b-rating .nav-tabs > li a {
    background: #e0e0e0;
    border: none;
    border-radius: 0;
    color: #505050;
    font: 600 12px/28px 'Open Sans', sans-serif;
    height: 43px;
    margin-right: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.b-rating .nav-tabs > li.active a {
    background: #16a085;
    border: none;
    border-radius: 0;
    color: #fff;
    font: 600 12px/33px 'Open Sans', sans-serif;
    height: 51px;
}

.b-rating__list__item {
    color: #505050;
    display: block;
    font: 16px/16px 'Open Sans', sans-serif;
    height: 54px;
    padding: 0 0 14px 55px;
    position: relative;
}

.b-rating__list__item__img {
    height: 40px;
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 40px;
}

.b-rating__list__item:before {
    background: #b2c294;
    content: '';
    display: block;
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .1s ease-in;
    width: 40px;
    z-index: 133;
}

.b-rating__list__item__name {
    display: inline-block;
    height: 40px;
    /*line-height: 40px;*/

    color: #16A085;
    font: 500 14px/10px 'Open Sans';
    transition: color .2s ease-in;
    vertical-align: middle;
}

.b-rating__list__item__rate {
    color: #777;
    float: right;
    height: 40px;
    line-height: 40px;
}

.b-rating__list__item:hover .b-rating__list__item__name {
    color: #16a085;
}

.b-rating__list__item:hover:before {
    opacity: .4;
}


/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-rating .nav-tabs > li {
        width: 49.9%;
    }
    .no-csscolumns  .b-news__item {
        margin-bottom: 20px;
    }
    .b-blogs .b-news {
        margin-left: -15px;
        margin-right: -15px;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-rating .nav-tabs > li {
        width: 49.9%;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .no-csscolumns  .b-news__item {
        margin-bottom: 2.7em;
    }
}

/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .b-blogs .col-ml-240 {
        padding-left: 3.4%;
    }
    .b-rating .nav-tabs > li {
        width: 120px;
    } 
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }    
    .no-csscolumns  .b-news__item {
        margin-bottom: 2.7em;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1280px) {
    .b-blogs .col-ml-240 {
        padding-left: 3.4%;
    }
    .b-rating .nav-tabs > li {
        width: 120px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .b-news {
        column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        -webkit-column-gap: 2.7em;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        margin: 1.5em 0 0;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1em 2.7em;
        width: 45%;
    }
}