/* ==========================================================================
   PAGE AUTHOR
   ========================================================================== */
.b-title-h1 .b-user-ava_120 {
    float: left;
}
.b-author-about {
    color: #777;
    font: 12px/14px 'Open Sans';
    text-transform: capitalize;
}

.b-podcasts {
    text-align: center;
}

.b-author .b-news {
    margin-top: 0;
}

.b-author .b-title-h1 {
    min-height: 50px;
    margin-bottom: 26px;
}

.b-author .col-240-fix .b-title-h2 {
    padding-top: 15px;
    text-align: left;
}

.b-author .b-podcast__descr {
    font: 14px/20px 'Open Sans';
}

.b-author .b-podcast__head {
    font: 700 13px/18px 'Open Sans';
}

.b-form-search-l {
    width: 100%;
    padding-bottom: 27px;
}

.b-form-search-l__field {
    border: 1px solid #ddd;
    border-radius: 5px;
    display: block;
    height: 27px;
    position: relative;
}

.b-form-search-l__field__btn {
    background: #16a085 url(../img/bg/bg-green-submit.png) no-repeat 50% 50%;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #f3f3f3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    height: 25px;
    right: 0;
    position: absolute;
    padding-top: 7px;
    text-align: center;
    top: 0;
    width: 27px;
}


.b-form-search-l__field__inp {
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    font-size: 10px;
    font-style: italic;
    height: 25px;
    padding: 0 6px;
    width: 100%;
    vertical-align: middle;
}

.b-rating__list__item {
    color: #505050;
    display: block;
    font: 16px/16px 'Open Sans', sans-serif;
    height: 54px;
    padding: 0 0 14px 55px;
    position: relative;
}

.b-rating__list {
    padding-top: 22px;
}

.b-rating__list__item__img {
    height: 40px;
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 40px;
}

.b-rating__list__item:before {
    background: #b2c294;
    content: '';
    display: block;
    height: 40px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .1s ease-in;
    width: 40px;
    z-index: 133;
}

.b-rating__list__item__name {
    display: inline-block;
    height: 40px;
    /*line-height: 40px;*/

    color: #16A085;
    font: 500 14px/10px 'Open Sans';
    transition: color .2s ease-in;
    vertical-align: middle;
}

.b-rating__list__item__rate {
    color: #777;
    float: right;
    height: 40px;
    line-height: 40px;
}

.b-rating__list__item:hover .b-rating__list__item__name {
    color: #16a085;
}

.b-rating__list__item:hover:before {
    opacity: .4;
}

.b-title {
    color: #777;
    font: 20px/24px 'Open Sans';
}

.b-title.b-last-activity {
    padding: 0 0 25px;
}

.b-my-program-list {
    margin-bottom: 43px;
}

.b-my-program-list__item {
    border-bottom: 1px solid #ddd;
    margin-top: 6px;
    position: relative;
    width: 100%;
}

.b-my-program-list__item__title {
    color: #777;
    font: 14px/14px 'Open Sans';
    transition: color .2s ease-in;
    vertical-align: middle;
}

.b-my-program-list__item__title:hover {
    color: #107d68;
    text-decoration: none;
}

.b-my-program-list__item__descr {
    color: #777;
    font: 14px/14px 'Open Sans';
    vertical-align: middle;
}

.b-my-program-list__item__img {
    min-width: 50px;
    height: 40px;
    left: 0;
    /*position: absolute;*/
    top: 0;
    width: 40px;
    padding-right:10px;
}


.b-author .nav-tabs {
    text-align: center;
}

.b-author .nav-tabs > li {
    margin-top: 8px;
    width: 50%;
}

.b-author .nav-tabs > li.active {
    margin-top: 0 !important;
}

.b-author .nav-tabs > li a {
    background: #e0e0e0;
    border: none;
    border-radius: 0;
    color: #505050;
    height: 43px;
    margin-right: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.b-author .nav-tabs > li.active a {
    background: #16a085;
    border: none;
    border-radius: 0;
    color: #fff;
    height: 51px;
}


/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-author .col-240-fix,
    .b-author .col-ml-240 {
        padding-top: 28px;
    }
    .b-title-h1 .b-user-ava_120 {
        margin-right: 20px;
    }
    .b-title-h1_fs22 {
        font-size: 18px;
    }
    .b-my-program-list__item {
        padding: 0 0 8px 5px;
    }
    .b-my-program-list__item__title {
        display: block;
        padding: 0 0 8px;
    }
    .b-my-program-list__item .b-blck_bg-green {
        margin: 8px 0;
        width: 100%;
    }
    .b-title.b-my-program {
        padding: 36px 0 22px;
    }
    .b-author-about {
        padding-top: 10px;
    }
    .b-author .nav-tabs {
        margin-left: -15px;
        margin-right: -15px;
    }
    .b-author .nav-tabs > li a {
        font: 600 11px/28px 'Open Sans', sans-serif;
    }

    .b-author .nav-tabs > li.active a {
        font: 600 11px/33px 'Open Sans', sans-serif;
    }
    .b-author .tab-content {
        margin-left: -15px;
        margin-right: -15px;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .b-author .col-240-fix,
    .b-author .col-ml-240 {
        padding-top: 38px;
    }
    .b-title-h1 .b-user-ava_120 {
        margin-right: 20px;
    }
    .b-author-about {
        margin: 18px 0 0 140px;
        width: 180px;
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-my-program-list__item {
        padding: 0 0 8px 5px;
    }
    .b-my-program-list__item__title {
        display: block;
        padding: 0 0 8px;
    }
    .b-my-program-list__item .b-blck_bg-green {
        margin: 8px 0;
        width: 100%;
    }
    .b-title.b-my-program {
        padding: 36px 0 22px;
    }
    .b-author-about {
        padding-top: 10px;
    }
    .b-author .nav-tabs {
        margin-left: -15px;
        margin-right: -15px;
    }
    .b-author .nav-tabs > li a {
        font: 600 11px/28px 'Open Sans', sans-serif;
    }

    .b-author .nav-tabs > li.active a {
        font: 600 11px/33px 'Open Sans', sans-serif;
    }
    .b-author .tab-content {
        margin-left: -15px;
        margin-right: -15px;
    }

}

/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .b-author .col-ml-240 {
        padding-left: 3.4%;
    }
    .b-author .col-240-fix,
    .b-author .col-ml-240 {
        padding-top: 48px;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .b-author .b-podcast__title {
        font: 700 18px/22px 'Open Sans';
    }
    .b-author-about {
        margin: 18px 0 0 140px;
        width: 180px;
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
    }
    .b-title-h1 .b-user-ava_120 {
        margin-right: 40px;
    }
    .b-podcast__foot {
        font-size: 14px !important;
    }
    .b-podcast__foot__comment {
        padding: 0 6px 0 14px !important;
    }
    .b-blck_to-program {
        width: 160px;
    }
    .b-my-program-list__item {
        display: table;
        height: 50px;
        padding: 0 180px 8px 5px;
    }

    .b-my-program-list__item__title {
        display: table-cell;
    }
    .b-my-program-list__item .b-blck_bg-green {
        right: 0;
        position: absolute;
        top: 0;
        width: 160px;
    }
    .b-my-program-list__item__descr {
        display: table-cell;
    }
    .b-my-program-list__item__title {
        padding-right: 27px;
    }
    .b-title.b-my-program {
        padding: 36px 0 22px;
    }
    
    .b-author .nav-tabs > li a {
        font: 600 12px/28px 'Open Sans', sans-serif;
    }

    .b-author .nav-tabs > li.active a {
        font: 600 12px/33px 'Open Sans', sans-serif;
    }

}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1100px) and (max-width: 1200px) {
    .b-author .col-ml-240 {
        padding-left: 3.4%;
    }
    .b-author .col-240-fix,
    .b-author .col-ml-240 {
        padding-top: 48px;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .b-title-h1 .b-user-ava_120 {
        margin-right: 40px;
    }
   .b-author .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-podcasts__item {
        float: left;
        width: 50%;
        text-align: left;
        min-width: 240px;
    }
    .b-blck_to-program {
        width: 160px;
    }
    .b-my-program-list__item {
        display: table;
        height: 50px;
        padding: 0 180px 8px 5px;
    }
    .b-author-about {
        margin: 18px 0 0 160px;
        width: 200px;
    }
    .b-my-program-list__item__title {
        display: table-cell;
    }
    .b-my-program-list__item .b-blck_bg-green {
        right: 0;
        position: absolute;
        top: 0;
        width: 160px;
    }
    .b-my-program-list__item__descr {
        display: table-cell;
    }
    .b-my-program-list__item__title {
        padding-right: 57px;
    }
    .b-news {
        column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        -webkit-column-gap: 2.7em;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        margin: 1.5em 0 0;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1em 2.7em;
        width: 45%;
    }
    .b-title.b-my-program {
        padding: 56px 0 22px;
    }
    
    .b-author .nav-tabs > li a {
        font: 600 12px/28px 'Open Sans', sans-serif;
    }

    .b-author .nav-tabs > li.active a {
        font: 600 12px/33px 'Open Sans', sans-serif;
    }

}
/*-------------------------------------- 1200 -------------------------------------*/
@media (min-width: 1200px) and (max-width: 1280px) {
    .b-author .col-ml-240 {
        padding-left: 3.4%;
    }
    .b-author .col-240-fix,
    .b-author .col-ml-240 {
        padding-top: 48px;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
    .b-my-program-list__item {
        display: table;
        height: 50px;
        padding: 0 180px 8px 5px;
    }
    .b-title-h1 .b-user-ava_120 {
        margin-right: 40px;
    }
    .b-my-program-list__item__title {
        display: table-cell;
    }
    .b-author-about {
        margin: 18px 0 0 160px;
        width: 200px;
    }
    .b-my-program-list__item__descr {
        display: table-cell;
    }
    .b-podcasts__item {
        float: left;
        width: 33.33%;
        text-align: left;
        min-width: 240px;
    }
    .b-author .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-blck_to-program {
        width: 160px;
    }
    .b-my-program-list__item .b-blck_bg-green {
        right: 0;
        position: absolute;
        top: 0;
        width: 160px;
    }
    .b-my-program-list__item__title {
        padding-right: 57px;
    }
    .b-news {
        column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        -webkit-column-gap: 2.7em;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        margin: 1.5em 0 0;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1em 2.7em;
        width: 45%;
    }
    .b-title.b-my-program {
        padding: 56px 0 22px;
    }
    
    .b-author .nav-tabs > li a {
        font: 600 12px/28px 'Open Sans', sans-serif;
    }

    .b-author .nav-tabs > li.active a {
        font: 600 12px/33px 'Open Sans', sans-serif;
    }

}
/*-------------------------------------- 1280 -------------------------------------*/
@media (min-width: 1280px) {
    .b-author .col-ml-240 {
        padding-left: 3.4%;
    }
    .b-author .col-240-fix,
    .b-author .col-ml-240 {
        padding-top: 48px;
    }
    .col-240-fix .b-blck {
        width: 160px;
    }
    .b-author-about {
        margin: 18px 0 0 160px;
        width: 200px;
    }
    .b-blck_subscribe {
        float: right;
        width: 160px;
    }
   .b-title-h1 .b-user-ava_120 {
        margin-right: 40px;
    }
    .b-podcasts__item {
        float: left;
        width: 33.33%;
        text-align: left;
        min-width: 240px;
    }
    .b-author .b-podcast__title {
        font: 700 20px/24px 'Open Sans';
    }
    .b-blck_to-program {
        width: 160px;
    }
    .b-my-program-list__item {
        display: table;
        height: 50px;
        padding: 0 180px 8px 5px;
    }

    .b-my-program-list__item__title {
        display: table-cell;
    }

    .b-my-program-list__item__descr {
        display: table-cell;
    }
    .b-my-program-list__item .b-blck_bg-green {
        right: 0;
        position: absolute;
        top: 0;
        width: 160px;
    }
    .b-my-program-list__item__title {
        padding-right: 57px;
    }
    .b-news {
        column-gap: 2.7em;
        -moz-column-gap: 2.7em;
        -webkit-column-gap: 2.7em;
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        margin: 1.5em 0 0;
    }
    .no-csscolumns  .b-news__item {
        margin: 0 1em 2.7em;
        width: 45%;
    }
    .b-title.b-my-program {
        padding: 56px 0 22px;
    }
    
    .b-author .nav-tabs > li a {
        font: 600 12px/28px 'Open Sans', sans-serif;
    }

    .b-author .nav-tabs > li.active a {
        font: 600 12px/33px 'Open Sans', sans-serif;
    }

}