/* ==========================================================================
   PAGE SEARCH
   ========================================================================== */
   
.b-list-result__item {
    color: #777;
    font: 16px/14px 'Open sans', sans-serif;
    padding-bottom: 34px;
    position: relative;
}

.b-list-result__item__cat {
    color: #777;
    display: block;
    font-size: 14px;
}

.b-list-result__item a:hover span,
.b-list-result__item a:hover {
    color: #107d68;
    text-decoration: none;
}

.b-list-result__item__title {
    color: #16a085;
    display: block;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
}

.b-list-result__item__txt {
    color: #777;
    line-height: 24px;
}

.b-form {
    position: relative;
}

.b-form__inp {
    box-sizing: border-box;
    display: block;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
}

.b-form__check_bg .cbx {
    height: 20px;
    width: 20px;
}

.b-form__check_bg .cbx .glyphicon {
    top: 3px;
}

.b-form__check_bg {
    padding-top: 16px;
}

.b-form__check_bg .b-form__label {
    font: 18px/18px 'Open Sans', sans-serif;
    padding: 0 38px 0 14px;
    position: relative;
    top: 3px;
}

.b-search .btn-primary {
    width: 160px;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-search .b-title-h1 {
        font-size: 23px;
        padding: 30px 0 32px;
    }
    .b-list-result__item {
        list-style-type: none;
    }
    .b-form__check_bg .b-form__label {
        font-size: 14px;
    }
    .b-list-result__item__img {
        float: left;
        margin-right: 12px;
    }
    .b-list-result__item__cat {
        padding-bottom: 6px;
    }
    .b-message {
        padding: 18px 0 40px 0;
    }
    .b-search .btn-primary {
        /*margin-top: 20px;*/
        width: 100%;
    } 
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-search .b-title-h1 {
        padding: 36px 0 38px;
    }
    .b-list-result__item {
        list-style-position: outside;
        margin-left: 23px;
        padding-left: 70px;
    }
    .b-list-result__item__img {
        left: 10px;
        position: absolute;
        top: 0;
    }
    .b-list-result__item__cat {
        padding-bottom: 12px;
    }
    .b-message {
        padding: 18px 0 40px 0;
    }
    .b-search .btn-primary {
        margin-top: 20px;
    }     
}

/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .b-search .b-title-h1 {
        padding: 42px 0 44px;
    }
    .b-list-result__item {
        list-style-position: outside;
        margin-left: 23px;
        padding-left: 80px;
    }
    .b-list-result__item__img {
        left: 17px;
        position: absolute;
        top: 0;
    }
    .b-list-result__item__cat {
        padding-bottom: 12px;
    }
    .b-message {
        padding: 28px 0 50px 0;
    }
    .b-form {
        padding-right: 240px;
    }    
    .b-search .btn-primary {
        right: 0;
        position: absolute;
        top: 0;
    } 
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1280px) {
    .b-search .b-title-h1 {
        padding: 42px 0 44px;
    }
    .b-list-result__item {
        list-style-position: outside;
        margin-left: 23px;
        padding-left: 80px;
    }
    .b-list-result__item__img {
        left: 17px;
        position: absolute;
        top: 0;
    }
    .b-list-result__item__cat {
        padding-bottom: 12px;
    }
    .b-message {
        padding: 28px 0 50px 0;
    }
    .b-form {
        padding-right: 240px;
    }
    .b-search .btn-primary {
        right: 0;
        position: absolute;
        top: 0;
    }  
}