/* ==========================================================================
   RESET
   ========================================================================== */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}
nav ul, 
ul li {
    list-style: none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    background: transparent;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    
}
img {
    display: inline-block; 
    max-width: 100%;
}
a img {
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


input, select {
    vertical-align:middle;
}

html {
-webkit-text-size-adjust: none;
}

/* ==========================================================================
   BASE
   ========================================================================== */
   
html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}


/* ==========================================================================
   CROSSSITES CLASS
   ========================================================================== */

.g-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.g-clearfix {
    display: inline-block;
}

* html .g-clearfix {
    height: 1%;
}

.g-clearfix {
    display: block;
}

/* ==========================================================================
   COLUMN
   ========================================================================== */
   
.col-240-fix {
    
}

.col-ml-240 {
    
}

/* ==========================================================================
   PAGER
   ========================================================================== */
   
.b-pager {
    margin: 30px 0;
    text-align: center;
}

.b-pager__link {
    display: inline-block;
    font: 14px/14px 'Open Sans';
    margin: 0 6px;
}

.b-pager__link_active {
    color: #42b09a;
}

.b-pager__link_unactive {
    color: #505050;
}


/* ==========================================================================
   STYLES FOR TEXT
   ========================================================================== */

/* TITLE */

.b-title-h1 {
    color: #16a085;
    text-transform: uppercase;
}

.b-title-h1_fs25 {
    font: 700 25px/28px 'Open Sans', sans-serif;
}

.b-title-h1_fs22 {
    font: 700 22px/22px 'Open Sans', sans-serif;
}

.b-title-h2 {
    color: #16a085;
    font: 600 16px/20px 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.b-title-h3 {
    color: #16a085;
    font: 600 14px/18px 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* TEXT */

.b-text {
    color: #777;
    font: 16px/24px 'Open Sans', sans-serif;
}

.b-semibold {
    font-weight: 600;
}

/* ==========================================================================
   STYLES FOR BLOCKS
   ========================================================================== */
   
.b-blck {}

.b-blck.b-blck_bg-green {
    background: #16a085;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font: 600 15px/44px 'Open Sans', sans-serif;
    height: 44px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow .1s ease-in;
}

.b-blck.b-blck_bg-green:not(.b-blck_disabled):hover {
    box-shadow:  inset 1px 1px 2px #0a463a;
}

.b-blck_disabled {
    cursor: default;
    opacity: 0.5;
}

.b-blck_disabled:hover {
    cursor: default;
}

/* ==========================================================================
   FORMS
   ========================================================================== */

/*DEFAULT*/

.btn-primary {
    background-color: #16a085;
    border: none;
    /*border-radius: 6px;*/
    font: 600 15px/15px 'Open Sans', sans-serif;
    /*min-height: 40px;*/
    text-align:center;
    vertical-align:middle;
    text-transform: uppercase;
    /*transition: background-color .2s ease-in;*/
}

.btn-primary:not(.btn-primary_disabled):hover {
    background-color: #119178;
}

.btn-primary_disabled {
    opacity: 0.5;
}

.btn-primary_disabled:hover {
    background-color: #16a085;
    cursor: default;
}

.b-form__inp {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    vertical-align: middle;
}

.b-form__textarea {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    vertical-align: top;
}

.b-form__label,
.b-form__link {
    color: #777;
}

.b-form__label_require:after {
    color: #16a085;
    content: '*';
}

.b-form__link {
    text-decoration: underline;
}

.b-form__txt_fs-16 {
    font: 16px/16px 'Open Sans', sans-serif;
}

.b-form__txt_fs-12 {
    font: 12px/12px 'Open Sans', sans-serif;
}

.cbx .glyphicon:before {
    color: #50b7a3;
    font-size: 10px;
    vertical-align: top;
}

.b-form .b-form__check_bg .cbx {
    background: #fff;
}

/*SEARCH TOP*/


.b-form-search__field {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    position: relative;
}

.b-form-search__field__inp {
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    padding: 0 24px 0 6px;
    width: 100%;
    vertical-align: middle;
}

.b-form-search__field__btn {
    background: #fff url(../img/bg/bg-white-submit.png) no-repeat 50% 50%;
    margin:1px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    right: 0;
    position: absolute;
    text-align: center;
    vertical-align:central;
    top: 0;
    width: 22px;
    height:18px;
}

/* ==========================================================================
   USER AVA
   ========================================================================== */
   
.b-user-ava {
    display: inline-block;
} 

.b-user-ava_40 {
    height: 40px;
    width: 40px;
}

.b-user-ava_120 {
    height: 120px;
    width: 120px;
}     
   
/* ==========================================================================
   SHARE BUTTONS
   ========================================================================== */

/*YANDEX*/

.b-custom-style {}

.b-custom-style .b-share {
    text-align: center;
    width: 100%;
        -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.b-custom-style .b-share-icon {
    background-color: #6d6d6d !important;
    background-image: url(../img/sprites/sprite-social-btns.png) !important;
    border-radius: 30px;
    height: 40px !important;
    outline: none;
    transition: all .1s ease-in;
    width: 40px !important;

}

.b-custom-style .b-share__handle {
    display: inline-block;
    float: none !important;
    height: 40px !important;
    outline: none;
    padding: 0 !important;
    width: 40px;
}

.b-custom-style .b-share-icon_facebook {
    background-position: 0 0 !important;
}

.b-custom-style .b-share-icon_facebook:hover {
    background-color: #516191 !important;
    transform: scale(1.1);
}

.b-custom-style .b-share-icon_vkontakte {
    background-position: -65px 0 !important;
}

.b-custom-style .b-share-icon_vkontakte:hover {
    background-color: #7795c4 !important;
    transform: scale(1.1);
}

.b-custom-style .b-share-icon_twitter {
    background-position: -129px 0 !important;
}

.b-custom-style .b-share-icon_twitter:hover {
    background-color: #72c2fd !important;
    transform: scale(1.1);
}

.b-custom-style .b-share-icon_gplus {
    background-position: -194px 0 !important;
}

.b-custom-style .b-share-icon_gplus:hover {
    background-color: #e16d4d !important;
    transform: scale(1.1);
}

/*OTHER*/


.b-custom-style .b-share,
.b-custom-style.b-share {
    text-align: center;
    width: 100%;
}

.b-custom-style .b-share__icon {
    background-color: #6d6d6d;
    background-image: url(../img/sprites/sprite-social-btns.png);
    border-radius: 30px;
    display: inline-block;
    height: 40px;
    outline: none;
    text-indent: -20000px;
    transition: all .1s ease-in;
    width: 40px;
}

.b-custom-style .b-share__icon_facebook {
    background-position: 0 0;
}

.b-custom-style .b-share__icon_facebook:hover {
    background-color: #516191;
    transform: scale(1.1);
}

.b-custom-style .b-share__icon_facebook.b-share__icon_act {
    background-color: #516191;
}

.b-custom-style .b-share__icon_vkontakte {
    background-position: -65px 0;
}

.b-custom-style .b-share__icon_vkontakte:hover {
    background-color: #7795c4;
    transform: scale(1.1);
}

.b-custom-style .b-share__icon_vkontakte.b-share__icon_act {
    background-color: #7795c4;
}

.b-custom-style .b-share__icon_twitter {
    background-position: -129px 0;
}

.b-custom-style .b-share__icon_twitter:hover {
    background-color: #72c2fd;
    transform: scale(1.1);
}

.b-custom-style .b-share__icon_twitter.b-share__icon_act {
    background-color: #72c2fd;
}

.b-custom-style .b-share__icon_gplus {
    background-position: -194px 0;
}

.b-custom-style .b-share__icon_gplus:hover {
    background-color: #e16d4d;
    transform: scale(1.1);
}
 
.b-custom-style .b-share__icon_gplus.b-share__icon_act {
    background-color: #e16d4d;
}

/* ==========================================================================
   MODULES
   ========================================================================== */

  
   
/* WRAP */
   
.l-wrap {
    background: #f0f0f0;
    min-height: 100%;
    position: relative;
}

/* HEAD */


.b-head {

}

.b-top-line {
    background: #f0f0f0;
}

.b-slogan {
    color: #505050;
}

.b-slogan__top {
    font: 13px/16px 'Open Sans', sans-serif;
}

.b-slogan__bottom {
    font: 12px/16px 'Open Sans', sans-serif;
}


/* NAV */

.b-nav {
    background: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a  {
    transition: background-color .1s ease-in;
}

.navbar-default .navbar-nav > li.active > a {
    color: #fff;
    background-color: #16A085;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #119178;
}

.navbar-default .navbar-nav > li > a > i {
    font-size: 11px;
    left: 3px;
    position: relative;
    top: -1px;
}

/* CONTENT */

.l-content_bg {
    background: #fff;
}

/* FOOTER */
.l-foot {
    background: #ddd;
    position: relative;
    width: 100%;
}

.b-copyright {
    padding-top: 12px;
}

.b-copyright__text {
    color: #777;
}

.b-foot-nav__link {
    color: #777;
    font: 18px/20px 'Open Sans', sans-serif;
    padding-left: 38px;
    position: relative;
    transition: color .1s ease-in;
}

.b-foot-nav__link:hover {
    color: #16a085;
    text-decoration: none;
}

.b-foot-nav__link_act {
    color: #16a085;
}

.b-foot-nav__link:before {
    /*content: '|';*/
    left: 0;
    position: absolute;
    top: 0;
}


/*
    VB  my classes
    
    */

.site-logo
{
    background: url(../img/logo/logo-480.png) no-repeat;
    width: 120px;

    height: 30px;
    
  
    /*height: 30px;*/
    vertical-align:middle;
    display:block;
    text-indent: -9999px; /* hides the link text */
}