/* ==========================================================================
   PAGE CONTACT
   ========================================================================== */
.b-contact {
    text-align: center;
}
  
.b-title-h1_contact {
    background-color: #edeae6;
    clear: both;
    position: relative;
    top: -1px;
}   

.b-contact__list {}

.b-contact__list__item {
    display: inline-block;
    margin: 0 3%;
}

.b-contact__list__item__title {
    color: #16a085;
    font: 600 16px/16px 'Open Sans', sans-serif;
    padding-bottom: 24px;
    text-transform: uppercase;
}

.b-contact__list__item__link {
    color: #777;
    display: block;
    font: 16px/16px 'Open Sans', sans-serif;
    padding-bottom: 8px;
}

.b-contact__share__title {
    color: #16a085;
    font: 700 22px/22px 'Open Sans', sans-serif;
    padding: 9px 0 33px;
    text-transform: uppercase;
}

.b-share__icon {
    margin: 0 9px;
}

/*-------------------------------------- 320 --------------------------------------*/
@media (min-width: 320px)  and (max-width: 480px) {
    .b-contact {
        padding-bottom: 40px;
    }
    .b-title-h1_contact {
        background-image: url(/content/RoxieTheme/img/bg/bg-contact-480.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 35px/92px 'Open Sans', sans-serif;
        height: 97px;
    }
    .b-contact__share__title {
        padding-top: 30px;
    }
    .b-contact__list__item {
        padding: 35px 0 0;
    }
}
/*-------------------------------------- 480 --------------------------------------*/
@media (min-width: 480px)  and (max-width: 768px){
    .b-contact {
        padding-bottom: 40px;
    }
    .b-title-h1_contact {
        background-image: url(/content/RoxieTheme/img/bg/bg-contact-768.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 35px/150px 'Open Sans', sans-serif;
        height: 155px;
    }
    .b-contact__share__title {
        padding-top: 30px;
    }
    .b-contact__list__item {
        padding: 35px 0 0;
    }
}
/*-------------------------------------- 768 --------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .b-contact {
        padding-bottom: 50px;
    }
    .b-title-h1_contact {
        background-image: url(/content/RoxieTheme/img/bg/bg-contact-1024.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 45px/200px 'Open Sans', sans-serif;
        height: 206px;
    } 
    .b-contact__list__item {
        padding: 45px 0;
    }
}
/*-------------------------------------- 1024 -------------------------------------*/
@media (min-width: 1024px) {
    .b-contact {
        padding-bottom: 50px;
    }
    .b-title-h1_contact {
        background-image: url(/content/RoxieTheme/img/bg/bg-contact-1280.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        font: 600 45px/250px 'Open Sans', sans-serif;
        height: 257px;
    } 
    .b-contact__list__item {
        padding: 45px 0;
    }
}