﻿
@Styles.Render("~/Content/RoxieTheme/css/style-custom-about.css") 

@Html.Partial("_PageTittle", "PascalFM - О проекте")
@Html.Partial("_HeadNavigation", 0)

  <!-- CONTENT -->
<div class="l-content l-content_bg">
    <section class="b-about">
        <h1 class="b-title-h1 b-title-h1_about">о проекте</h1>
        <div class="b-about__progect">
            <p class="b-text b-about__progect__item">Мы собрали для вас все самое интересное, полезное и познавательное. <br>Наши авторы - лучшие профессионалы в разных областях, <br>которые готовы поделиться своими знаниями и навыками. <br>А ещё, это творческие личности, которые публикуют у нас свои произведения. </p>
            <p class="b-text b-about__progect__item">Слушайте и скачивайте наши подкасты. Зарегистрируйтесь, чтобы оформить подписку <br>на любимые подкасты и быть в числе первых пользователей, которые услышат свежие выпуски. <br>Мы решили назвать радиостанцию в честь великого ученого Блеза Паскаля. <br>Создав первую счетную машину, он проявил себя в публицистике. Pascal FM, <br>по примеру великого ученого, объединяет в себе вычислительные технологии и журналистику. </p>
        </div>
    </section>
    <section class="b-about-pascal">
        <div class="container">
            <h2 class="b-title-h2">подробнее о блезе паскале</h2>
            <div class="b-footnote">
                <img src="~/Content/RoxieTheme/img/images/Pascal.png" alt="" class="b-footnote__photo">
                <p class="b-text b-footnote__txt b-footnote__txt_first">Паскаль (Pascal) Блез (19.6.1623, Клермон-Ферран, — 19.8.1662, Париж), французский религиозный философ, писатель, математик и физик. Родился в семье высокообразованного юриста, занимавшегося математикой и воспитывавшего своих детей под влиянием педагогических идей М. Монтеня, рано проявил выдающиеся математические способности, войдя в историю науки как классический пример отроческой гениальности.</p>
                <p class="b-text b-footnote__txt"> В 1641 (по другим сведениям, в 1642) П. сконструировал суммирующую машину. К 1654 закончил ряд работ по арифметике, теории чисел, алгебре и теории вероятностей (опубликованных в 1665).</p>
                <p class="b-text b-footnote__txt">Работа П. над проблематикой точных наук в основном относится к 1640—1650-м гг. Разочаровавшись в «отвлечённости» этих наук, П. обращается к религиозным интересам и философской антропологии. Сблизившись с представителями янсенизма, он с 1655 ведёт полумонашеский образ жизни в янсенистской обители Пор-Руаяль-де-Шан, вступив в энергичную полемику по вопросам религиозной этики с иезуитами; плодом этой полемики стали «Письма к провинциалу» (1657) — шедевр французской сатирической прозы.</p>
                <p class="b-text b-footnote__txt">Место П. в истории философии определяется тем, что это первый мыслитель, который прошёл через опыт механистического рационализма 17 в. и со всей остротой поставил вопрос о границах «научности», указывая при этом на «доводы сердца», отличные от «доводов разума», и тем предвосхищая последующую иррационалистическую тенденцию в философии</p>
                <p class="b-footnote__txt b-footnote__txt_last">(Материал из БСЭ)</p>
            </div>
        </div>
    </section>
</div>

@*<script>
    function handleClick() {
        this.value = (this.value == '+' ? '-' : '+');
    }
    document.getElementById('collapsible').onclick = handleClick;
</script>*@