﻿@model PascalWeb.DB.PageModels.AudioPlayerModel

    <script src="@Url.Content("~/Scripts/audio/lightAudioTrackSwitcher.js")" type="text/javascript")></script>

    <script src="@Url.Content("~/Scripts/audio/playaudio.js")" type="text/javascript")></script>
    <script src="@Url.Content("~/Scripts/audio/playButton.js")" type="text/javascript")></script>
    <script type="text/javascript">

        // $(document).load important
        $(document).load(function () {
            $('audio').mediaelementplayer({
                shuffle: false,
                playlist: true,
                preload: "auto",
                autoplay:"true",
                features: ['playlistfeature',
                    //'prevtrack',
                    'playpause',
                    //'nexttrack',
                    'progress', 'current', 'duration', 'volume'],
            });

            $('audio').mediaelementplayer({
                plugins: ['html5', 'flash', 'silverlight'],
                success: function (mediaElement, domObject) {

                    //alert('play1!');
                    if (mediaElement.pluginType == 'audio' || mediaElement.pluginType == 'native') {
                        //alert('play0!');
                        mediaElement.addEventListener('canplay', function () {
                            // Player is ready
                            // mediaElement.play(); THIS IS FOR MOBILE
                     //       alert('ready!');
                        }, false);
                        mediaElement.play();
                    }
                },
                error: function () {
                    alert('Error setting media!');
                }

                //sequencialPlayerInit();
            });
            //   alert('play!');
            try {
                //$('audio').mediaelementplayer.play();

            }
            catch (err) {
                alert('achtung! :' + err.message);
            }
            // $('audio').mediaelementplayer.play();
        });

        $('audio').mediaelementplayer({
            plugins: ['html5', 'flash', 'silverlight'],
            success: function (mediaElement, domObject) {
                //alert(mediaElement.pluginType);
                if (mediaElement.pluginType == 'audio' || mediaElement.pluginType == 'native') {
                    //  alert('play31!');
                    mediaElement.addEventListener('canplay', function () {
                        // Player is ready to play

                        }, false);

                }

            },
            error: function () {
                alert('Error setting media!');
            }
        });
    </script>

@if (@Model.FirstElement == null)
{   
    //class="b-top-line" 
    
    @*<nav class="b-top-line"  style="position: fixed;top: 0;left: 0;z-index: 9999; width: 100%;height: 65px;	">*@
    <nav class="b-nav navbar yamm navbar-default navbar-fixed-top" style="background-color:#efefef" >
        <div class=" container">
            <div class="b-slogan">
                <span class="b-slogan__top"></span>
                <span class="b-slogan__bottom"></span>
            </div>
            <div class="b-player">
                <audio controls width="100%">
                    <source src= "" type="audio/mpeg">
                    Ваш браузер не поддерживает тэг HTML5 Audio.
                </audio>
            </div>
        </div>
    </nav>  
} else
{  // border-style: solid;border-bottom: 1px solid  #16A085;"
    <nav class="b-nav navbar yamm navbar-default navbar-fixed-top" style="background-color:#efefef;height:60px" >
        <div class="container" style="height:auto">
            <div class="b-slogan" >
                <span id="programname" >@Model.FirstElement.ProgramName</span>
                <span id="trackname" >@Model.FirstElement.ProgramEditionName</span>
                <span id="currentTrackID" style="display:none">@Model.FirstElement.ProgramEditionID</span>
                <span id="isplayed" style="display:none">0</span>
            </div>
            <div class="b-player"  >
                <audio id="audio"  preload="auto" tabindex="0" controls="" type="audio/mpeg" style="width:100%;height:auto;background:blue" seeking="true" >
                    <source src=@Model.FirstElement.ResourceLink type="audio/mpeg">
                    Ваш браузер не поддерживает тэг HTML5 Audio.
                </audio>
@*                <ul id="playlist" hidden>
                    @foreach (var item in Model.Elements)
                    {
                        <li class="active" id="@item.ProgramEditionID"><a id="@item.ProgramEditionID" data-name="@item.ProgramName" href=@item.ResourceLink>@item.ProgramEditionName</a></li>
                    }
                </ul>*@
            </div>
        </div> 
    </nav>
}