﻿@Styles.Render("~/Content/RoxieTheme/css/style-custom-contact.css")


@Html.Partial("_PageTittle", "PascalFM - Контакты")
@Html.Partial("_HeadNavigation", 0)

<!-- VK Widget -->
@*<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
<script type="text/javascript">
    VK.Widgets.Group("vk_groups", { mode: 0, width: "220", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6' }, 75760925);
</script>*@


@*<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>*@

<!-- CONTENT -->
<div class="l-content l-content_bg">
    <section class="b-contact">
        <h1 class="b-title-h1 b-title-h1_contact">контакты</h1>
        <div class="container">
            <ul class="b-contact__list">
                <li class="b-contact__list__item">
                    <div class="b-contact__list__item__title">редакция</div>
                    <a href="mailto:people@pascal.fm" title="" class="b-contact__list__item__link">people@pascal.fm</a>
@*                    <a href="tel:+74956260666" title="" class="b-contact__list__item__link">+7(495)626-06-66</a>*@
                </li>
                <li class="b-contact__list__item">
                    <div class="b-contact__list__item__title">smm и реклама</div>
                    <a href="mailto:ads@pascal.fm" title="" class="b-contact__list__item__link">ads@pascal.fm</a>
                </li>
                <li class="b-contact__list__item">
                    <div class="b-contact__list__item__title">связи с общественностью</div>
                    <a href="mailto:pr@pascal.fm" title="" class="b-contact__list__item__link">pr@pascal.fm</a>
                </li>
                <li class="b-contact__list__item">
                    <div class="b-contact__list__item__title">техподдержка</div>
                    <a href="mailto:support@pascal.fm" title="" class="b-contact__list__item__link">support@pascal.fm</a>
                </li>
            </ul>
            <div class="b-contact__share b-custom-style">
  @*              <div class="b-contact__share__title">мы в соцсетях</div>
                <div class="b-share">
                    <a class="b-share__icon b-share__icon_act b-share__icon_facebook" href="#" title="">facebook</a>
                    <a class="b-share__icon b-share__icon_act b-share__icon_vkontakte" href="#" title="">vkontakte</a>
                    <a class="
                 b-share__icon_act b-share__icon_twitter" href="#" title="">twitter</a>
                    <a class="b-share__icon b-share__icon_act b-share__icon_gplus" href="#" title="">gplus</a>*@




                    <!-- VK Widget -->
@*                    <div id="vk_groups"></div>
                    <div class="fb-like-box" data-href="https://www.facebook.com/groups/781406628622257/" data-width="220" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>*@

          @*      </div>*@
            </div>
        </div>
    </section>
</div>