﻿@model PascalWeb.DB.PageModels.FirstPageModel

@*@Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css")*@
@Styles.Render("~/Content/RoxieTheme/css/style-custom-theme.css")
@Styles.Render("~/Content/RoxieTheme/css/style-custom-blogs.css")

@Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css")

@Html.Partial("_PageTittle", "PascalFM. Твой эфир. Вовремя")
@Html.Partial("_HeadNavigation", 0)


    <div class="l-content">

@*        @if (!Request.IsAuthenticated) {
            <section class="b-main">
                <div class="container b-main__about">
                    <br />
                    <p class="b-main__about__txt">В наших подкастах - все самое интересное, полезное и познавательное<br>
                    Зарегистрируйтесь, чтобы иметь возможность подписываться на интересные Вам<br>подкасты и блоги и формировать собственный плейлист.</p>
                    @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "btn btn-primary b-main__about__btn_first", withpjax = "withpjax"})
                    @Html.ActionLink("Регистрация", "RegStepOne", "Account", null, new { @class = "btn btn-primary",  withpjax = "withpjax"})
                </div>
            </section>
        }*@
        <div class="container b-theme">
            <aside class="col-240-fix">
                    <div class="b-rating">
                        
                        <ul class="nav nav-tabs">
                            @{
                                string activeThemeTab = Model.ChosenAuthorID.HasValue == false ? " active " : "";
                                string activeAuthorTab = Model.ChosenAuthorID.HasValue == true ? " active " : "";
                                string showAll = !Model.ChosenThemeID.HasValue && !Model.ChosenAuthorID.HasValue ? " background-color:#b8e2da; " : "";
                                    
                                <li class= "@activeThemeTab"><a href="#themes" data-toggle="tab">Темы</a></li>
                                <li class= "@activeAuthorTab"><a href="#authors" data-toggle="tab">Авторы</a></li>
                            }
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane @activeThemeTab"  id="themes">
                                <div class="b-rating__list b-main_color"  >
                                    @Html.ActionLink("Все", "Index", "Home", null, new { @class = "list-group-item", @style="color:#16A085;;background-color:white;" + showAll, withpjax = "withpjax"})
                                    @for (int i = 0; Model.ThemeList != null && i < Model.ThemeList.Count; i++)
                                    {
                                        var item = Model.ThemeList[i];
                                        string activeKeyword = Model.ChosenThemeID == item.ID ? "background-color:#b8e2da;" : "";
                                        @Html.ActionLink(item.Name, "Index", "Home", new { themeID = @item.ID }, new { @class = "list-group-item  b-main_color ", @style="color:#16A085;background-color:white;" + activeKeyword, withpjax = "withpjax" });
                                    }
@*                                    <a href="#" title="" class="b-rating__list__item">
                                        <span class="b-rating__list__item__name">Здоровье</span>
                                    </a>*@
                                </div>
                            </div>
                            <div class="tab-pane @activeAuthorTab" id="authors">
                                <div class="b-rating__list">
                               
                                    @Html.ActionLink("Все", "Index", "Home", null, new { @class = "list-group-item", @style="color:#16A085;;background-color:white;" + showAll, withpjax = "withpjax"})
                                    @for (int i = 0; Model.PopularAuthorList != null && i < Model.PopularAuthorList.Count; i++)
                                    {
                                        var item = Model.PopularAuthorList[i];
                                        string activeKeyword = Model.ChosenAuthorID == item.UserID ? "background-color:#b8e2da;" : "";
                                        <div class="list-group-item" style= @activeKeyword>
                                            @if (!string.IsNullOrEmpty(@item.PhotoStr))
                                            {
                                                @:<img src="@item.PhotoStr" alt="" class="b-rating__list__item__img" style="vertical-align:middle">
                                            }
                                            else
                                            {
                                                @:<img alt="" class="b-main_image_default_user_small b-rating__list__item__img"  style="vertical-align:middle">
                                            }
                                            @Html.ActionLink(item.FullName, "Index", "Home", new { authorID = @item.UserID }, new { @class = "b-rating__list__item__name", @style="height: 0px; vertical-align: initial;", withpjax = "withpjax" })
                                        </div>
                                    }                                        
                                         @*<a href="#" title="" class="list-group-item" style="background-color:transparent">
                                            <img src="/img/images/img-test-rate1.jpg" alt="" class="b-rating__list__item__img">
                                            <span class="b-rating__list__item__name">Илья Гольдовский</span>
                                        </a>*@

                                </div>
                            </div>
                        </div>
                    </div>           
            </aside>

                
@*            <div id="" class="col-ml-240">
                <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Популярные выпуски </h1>
                @{Html.RenderPartial("..//ProgramEdition//_TileListView", Model.TopProgramEditions);}
            </div>*@

            @if (Model.LastProgramEditions.Data.Count() > 0)
            {
                <div id="" class="col-ml-240">
                    <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Последние выпуски </h1>
                    @{Html.RenderPartial("..//ProgramEdition//_TileListWithMoreButton", Model.LastProgramEditions);}

                    @*@{Html.RenderPartial("..//ProgramEdition//_TileListView", Model.LastProgramEditions);}*@
                </div> 
            } 
      
            @if (Model.LastBlogRecords.Data.Count() > 0)    
            {  
                 <div id="" class="col-ml-240">
                    <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Последние записи </h1>
                     @{Html.RenderPartial("..//BlogRecord//_blogRecordListWithMoreButton", Model.LastBlogRecords);}
                </div>        
            }
        </div>

    </div>


<!-- CONTENT -->
@*<div class="l-content" style="padding-bottom: 72px;">
    @if (!Request.IsAuthenticated) {
        <section class="b-main">
            <h1 class="b-title-h1 b-title-h1_main">тематические подкасты,<br>новости и обзоры</h1>
            <div class="container b-main__about">
                <p class="b-main__about__txt">В наших подкастах - все самое интересное, полезное и познавательное<br>
                Зарегистрируйтесь, чтобы иметь возможность подписываться на интересные Вам<br>подкасты и блоги и формировать собственный плейлист.</p>
                @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "btn btn-primary b-main__about__btn_first", withpjax = "withpjax"})
                @Html.ActionLink("Регистрация", "RegStepOne", "Account", null, new { @class = "btn btn-primary",  withpjax = "withpjax"})
            </div>
        </section>
        

        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Популярные выпуски </h1>
        Html.RenderPartial("..//ProgramEdition//_TileListView", Model.TopProgramEditions);
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Последние выпуски </h1>
        Html.RenderPartial("..//ProgramEdition//_TileListView", Model.LastProgramEditions);
        
    } else {
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Популярные выпуски </h1>
        Html.RenderPartial("..//ProgramEdition//_TileListView", Model.TopProgramEditions);
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Последние выпуски </h1>
        Html.RenderPartial("..//ProgramEdition//_TileListView", Model.LastProgramEditions);
    }

     
</div>*@




@*
<button class="b-blck b-blck_bg-green" style="margin: 10px auto;" onclick="loadComments()">Больше</button>
<script type="text/javascript">
    function loadComments() {
        alert('__');
        $.post("/Home/AddToListenCounterForEdition", { programEditionID: '123' }, function (data) {
            alert('12');
        });
    }
</script>*@


@*
@if (Request.IsAuthenticated) {

    Html.RenderPartial("..//ProgramEdition//_TileListView", Model);
} else
{
    @*http://stackoverflow.com/questions/16390370/bootstrap-box-spanning-multiple-rows
        http://jsbin.com/puyew/82/edit
    
  
    
    <div class="container-fluid col-md-12 col-lg-12 ">  


    <div class="row" style="padding-top:10px">

        <div class="hidden-xs col-sm-6 col-md-4 col-lg-3 " style="padding-left:10px;padding-right:10px;">
            <div class="panel main color maincolor" style="padding-left:10px;padding-right:10px;padding-bottom:10px;height:300px">
                <h4 style="overflow:hidden;">Pascal.FM - интернет-радио для каждого</h4>
                <p style="text-align:justify;text-indent:25px; font-size:13px">Тематические подкасты, новости и обзоры! В наших программах - всё самое интересное, полезное и познавательное.</p>
                <p style="text-align:justify;text-indent:25px; font-size:13px">Зарегистрируйтесь, чтобы оформить подписку на понравившиеся программы.</p>
                    @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "btn btn-primary btn-sm btn-block", withpjax = "withpjax"})
                 @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "btn btn-primary btn-sm btn-block", withpjax = "withpjax"})
          </div>
        </div>

        <div class="visible-xs col-xs-12 " style="padding-left:10px;padding-right:10px;">
            <div class="panel main color maincolor" style="padding-left:10px;padding-right:10px;padding-bottom:10px;">
                <h4 style="overflow:hidden;">Pascal.FM - интернет-радио для каждого</h4>
                <p style="text-align:justify;text-indent:25px;">Тематические подкасты, новости и обзоры! В наших программах - всё самое интересное, полезное и познавательное.</p>
                <p style="text-align:justify;text-indent:25px;">Зарегистрируйтесь, чтобы оформить подписку на понравившиеся программы.</p>
                @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "btn btn-primary btn-md btn-block", withpjax = "withpjax"})
                 @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "btn btn-primary btn-sm btn-block", withpjax = "withpjax"})
          </div>
        </div>

        @for (int i = 0; Model != null && i < Model.LastProgramEditions.Count; i += 32)
        {
            int tilesInRow = 32;

            bool newRow = i % tilesInRow == 0 ? true : false;
            if (newRow)
            {
     
            }

            for (int j = i; j < Model.LastProgramEditions.Count && j < i + tilesInRow; j++)
            {
                var item = Model.LastProgramEditions[j];
                @Html.Partial("..//ProgramEdition//_ViewTileProgramEdition", item);
            }

            if (newRow)
            {
                @:
            }
        }
    </div>
 </div>
   
}

*@

 <script type="text/javascript">
     @{
        ViewBag.firstEditionToSet = 0;
        if(@Model.LastProgramEditions != null && @Model.LastProgramEditions.Data != null &&
            @Model.LastProgramEditions.Data.Count > 0)
        {
            long editionID = @Model.LastProgramEditions.Data[0].Edition.ID;
            ViewBag.firstEditionToSet = editionID;
        }
     }
    $(document).ready(function () {
        audio = $('audio');
        editionID = @ViewBag.firstEditionToSet;
        
        // load next edition if nothing plays and something exists
        if (audio[0].currentTime == "0" && editionID != 0) {
            try {
                // загрузить первый выпуск - обращение к серверу
                $.ajax({
                    url: '/Home/AudioElement',
                    data: { programEditionID: editionID },
                    success: function (result) {
                        $('#mainAudio').html(result);
                    }
                });
            } catch (err) {
                alert('error');
            }
        }
    })
</script>