﻿
html {
    background-color: #f0e8dd !important;
	height: 100%;
}

body{
	height: 100%;
	background: #f0e8dd; 
}


#body{
	height: 100%;
	background: #f0e8dd; 
	padding-bottom: 80px;
	/*padding-top: 80px;*/
}


#holder {
    min-height: 100%;
    position:relative;
}

#footer {
    bottom: 0;
	position:absolute;
	margin:auto;
    /*height: 100px;*/
	width:100%;
	right:0;
	left:0;

	text-align: center;
}
      
/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	background-color: transparent;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
      
/* Customize the nav-justified links to be fill the entire space of the .navbar */
      
.nav-justified {
	background-color: #e0c6b1;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.nav-justified > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #d5d5d5;
	background-color: #e0c6b1; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #64c9a4 0%, #64c9a4 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c9a4), color-stop(100%,#64c9a4)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #64c9a4 0%,#64c9a4 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #64c9a4 0%,#64c9a4 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #64c9a4 0%, #64c9a4 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c9a4', endColorstr='#64c9a4',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #64c9a4 0%, #64c9a4 100%); /* W3C */
}
.nav-justified > .active > a,
.nav-justified > .acmaster > a:hover,
.nav-justified > .active > a:focus {
	background-color: #4b9682;
	background-image: none;
	box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
	
}
.nav-justified > li:last-child > a {
	border-bottom: 0;
	border-radius: 0 0 5px 5px;
}
      
.programEdition .header
{
	font-size: 12px;
	color:grey;
}

.backgroundcolor
{
	background: #f0e8dd;
}

.maincolor
{
	background : #64c9a4;
}
      
.programEdition 
{
	font-size: 12px;
	color:black;
}
      
.vert_al_div
{
	display: table-cell;
	vertical-align: middle;
}
      
.vert_al_inner
{
	display: inline-block;

}
.right
{
	float: right; 
}
      
.left
{
	float: left; 
}

.link
{
	text-decoration: underline;
}  

.blacklink
{
	color:black;
	text-decoration: underline;
}  
      
.v-center {display:table!important;}

.v-center div[class*='col-'] {
	display: table-cell!important;
    vertical-align:middle;
    float:none;
}
      
.panel {
	border-width: 3px;
	border-color:#91796e;
	border-radius: 10px;
}
      
@media (min-width: 768px) {
	.nav-justified {
		max-height: 52px;
	}
	.nav-justified > li > a {
		border-left: 1px solid #fff;
		border-right: 1px solid #d5d5d5;
	}
	.nav-justified > li:first-child > a {
		border-left: 0;
		border-radius: 5px 0 0 5px;
	}
	.nav-justified > li:last-child > a {
		border-radius: 0 5px 5px 0;
		border-right: 0;
	}
}
      
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.masthead,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
}


.button_with_image
{
  background-image:url('images/play64.png');
  background-size:30px 30px;
  background-repeat:no-repeat;
  background-position-x:10px;
  background-position-y:center;
  padding-left:30px;
}


.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}


/*special table style*/
    gridtable
    {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }
    gridtable th
    {
        background: #b5cfd2;
        border-width: 1px;
        padding: 14px;
        border-style: solid;
        border-color: #999999;
    }
    gridtable td
    {
        background: #dcddc0;
        border-width: 1px;
        padding: 12px;
        border-style: solid;
        border-color: #999999;
    }
    .foot
    {
        text-align: center;
    }

/*
	tree style
	*/

/*
-------------------------------------------------------------------------
	attenuated text
	*/


	/*
-------------------------------------------------------------------------
	attenuated text
	*/