﻿
<footer class="l-foot" style="margin-top: 0px;">
    <div class="container ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin:0px">
        <div class="b-copyright col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin:0px">
            <p class="b-copyright__text">&copy; Pascal FM 2014-2016.</p>
            <p class="b-copyright__text">Все права защищены.</p>
        </div>
        <div class="b-foot-nav col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin:0px">
            @Html.ActionLink("Контакты", "Contact", "Home", null, new { withpjax = "withpjax", @class = "b-foot-nav__link" })
            @Html.ActionLink("О проекте", "About", "Home", null, new { withpjax = "withpjax", @class = "b-foot-nav__link", @style = "white-space:nowrap" })
        </div>
@*        <div class="b-social b-custom-style" >
            <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="facebook,vkontakte,twitter,gplus"></div>
                <div class="b-share">
                    <a class="b-share__icon b-share__icon_act b-share__icon_facebook" href="http://facebook.com" target="_blank" title="">facebook</a>
                    <a class="b-share__icon b-share__icon_act b-share__icon_vkontakte" href="https://vk.com/pascalfm" target="_blank" title="" >vkontakte</a>
                    <a class="b-share__icon b-share__icon_act b-share__icon_twitter" href="http://twitter.com" target="_blank" title="">twitter</a>
                    <a class="b-share__icon b-share__icon_act b-share__icon_gplus" href="http://plus.google.com" target="_blank" title="">gplus</a>
                </div>
        </div>*@
            <div class="b-contact__share b-custom-style col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin:0px;padding: 15px 0 15px;">
                <div class="" style="text-align:center">

                        <a class="b-share__icon b-share__icon_act b-share__icon_facebook"  href="https://www.facebook.com/Pascal-FM-451186858406101/" target="_blank" title="" style="margin: 0 9px;">facebook</a>
                        <a class="b-share__icon b-share__icon_act b-share__icon_vkontakte" href="https://vk.com/pascalfm" target="_blank" title="" style="margin: 0 9px;">vkontakte</a>

                        @*<a class="
                         b-share__icon_act b-share__icon_twitter" href="https://twitter.com/Pascal__FM" target="_blank" title="" style="margin: 0 9px;">twitter</a>*@
                        @*<a class="b-share__icon b-share__icon_act b-share__icon_gplus" href="https://plus.google.com/u/0/communities/109733084503503733330" target="_blank" title="" style="margin: 0 9px;">gplus</a>*@

                </div>
            </div>
        </div>
    </div>
</footer>