﻿@model int

@Html.Partial("..//Shared//Counters/YandexMetric")

<nav class="b-nav navbar yamm navbar-default navbar-fixed-top" style="margin-top:65px;border-style: solid;border-bottom: 1px solid  #16A085;" >
    <div class="container">

        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div >
                @Html.ActionLink("pascal", "Index", "Home", null, new { @class="site-logo", @style="position:relative;float:left;margin-left:10px;margin-top:20px;margin-bottom:15px",withpjax = "withpjax"})
            </div>
        </div>

        <div id="navbarCollapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right b-nav__list">
                    @if(@Model == 1) { 
                        @:<li class="dropdown b-nav__list__item active">
                    }
                    else{ @:<li class="dropdown b-nav__list__item">  
                    }
                    @Html.ActionLink("Подкасты", "Index", "Program", null, new {@class="b-nav__list__item__link", withpjax = "withpjax" })
                    @*<a href="#" class="dropdown-toggle b-nav__list__item__link" data-toggle="dropdown">Подкасты <b class="caret"></b></a>*@
@*                    <ul class="dropdown-menu maincolor" style="color:black;font-size:16px">
                        <li>
                            <a href="">@Html.ActionLink("Последние выпуски", "Index", "Program", null, new { withpjax = "withpjax"})</a>
                        </li>
                        <li>
                            <a href="">@Html.ActionLink("Выпуски по темам", "ShowProgramsByTheme", "Program", null, new { withpjax = "withpjax"})</a>
                        </li>
                        <li>
                            <a href="">@Html.ActionLink("Выпуски по авторам", "ShowProgramsByAuthors", "Program", null, new { withpjax = "withpjax"})</a>
                        </li>
                    </ul>*@
                </li>

                @if(@Model == 2) { 
                    @:<li class="b-nav__list__item active">
                }
                else{ @:<li class="b-nav__list__item">  
                }
                    @Html.ActionLink("Блоги", "Index", "BlogRecord", null, new {@class="b-nav__list__item__link", withpjax = "withpjax" })
                </li>
                @if(@Model == 3) { 
                    @:<li class="b-nav__list__item active">
                }
@*                else{ @:<li class="b-nav__list__item">  
                }
                    @Html.ActionLink("Новости", "News", "BlogRecord", null, new {@class="b-nav__list__item__link", withpjax = "withpjax" })
                </li>*@

                @Html.Partial("_LoginPartial", @Model == 4)
       
                <li class="b-nav__list__item">
                    @using (Ajax.BeginForm(actionName: "Search", controllerName: "Search", routeValues: null, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "ajax_main_container",
                        LoadingElementId = "loadLayout"
                    }, htmlAttributes: new { @class = "b-form-search", @style = "padding-bottom:10px" }))
                    {          
                        <div class="b-form-search__field">
                            <input type="text" id= "query" name="query" placeholder="Поиск" style="vertical-align:central" class="b-form-search__field__inp">
                            <button type="submit" class="b-form-search__field__btn" style="margin-left:10px;"></button>
                        </div>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>

@*<script type="text/javascript">
    //Hamburger menu toggle
    $(".navbar-nav li a").click(function (event) {
        // check if window is small enough so dropdown is created
        var toggle = $(".navbar-toggle").is(":visible");
        if (toggle) {
            $(".navbar-collapse").collapse('hide');
        }
    });
</script>*@