﻿@using PascalWeb.Ajax.Core

@*@{
    ViewBag.Title = "PascalFM";
    ViewBag.SocialInfo = "В наших программах - все самое интересное, полезное и познавательное";
}*@

<!DOCTYPE html>
<html class=" desktop portrait">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

@*        <title>PSC</title>*@

        @if(ViewBag.SocialImage == null)
        {
            <meta property="og:image" content="http://psc20072012.azurewebsites.net/Content/RoxieTheme/img/logo/logo.png" />
        }
        else
        {
            <meta property="og:image" content="@ViewBag.SocialImage" />
        }
        <meta property="og:title" content="@ViewBag.Title" />
        <meta property="og:description" content="@ViewBag.SocialInfo" />
        <meta property="og:url" content=""/>


       @* @Styles.Render("~/Content/RoxieTheme/bootstrap")*@
        @Styles.Render("~/Content/RoxieTheme/css/css")


        @Styles.Render("~/Content/datetimepicker/css")

        @*NEW!!!*@
        @*RoxieTheme/css*@
       @* @Styles.Render("~/Content/RoxieTheme/bootstrap/bootstrap.min.css")    *@
@*  te      @Styles.Render("~/Content/RoxieTheme/css/font-awesome.min.css")   
        @Styles.Render("~/Content/RoxieTheme/css/animate.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom.css")*@


@*        @Styles.Render("~/Content/RoxieTheme/css/jquery.fileupload.css")


        @Styles.Render("~/Content/RoxieTheme/css/style-custom-about.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-author.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-blog.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-blogs.css")


        @Styles.Render("~/Content/RoxieTheme/css/style-custom-comment.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-contact.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-enter.css")*@
   @* temp    @Styles.Render("~/Content/RoxieTheme/css/style-custom-main.css")*@
        @* te @Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css")*@
 @*       @Styles.Render("~/Content/RoxieTheme/css/style-custom-news.css")

        @Styles.Render("~/Content/RoxieTheme/css/style-custom-program.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-registration.css")
        @Styles.Render("~/Content/RoxieTheme/css/style-custom-search.css")*@
@*        @Styles.Render("~/Content/RoxieTheme/css/style-custom-theme.css") *@
          
 @*  te     @Styles.Render("~/Content/RoxieTheme/css/media.css")*@
@*        @Styles.Render("~/Content/RoxieTheme/css/checkbox-x.css")*@

        
        @*Pajax работает с версией 7 (как минимум)*@
        <script src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>

        @*RoxieTheme/js*@
        @*<script src="@Url.Content("~/Content/RoxieTheme/vendor/jquery-1.11.2.min.js")" type="text/javascript")></script>*@
        <script src="@Url.Content("~/Content/RoxieTheme/vendor/checkbox-x.min.js")" type="text/javascript")></script>
@*        <script src="@Url.Content("~/Content/RoxieTheme/vendor/jquery.fileupload.js")" type="text/javascript")></script>*@
        <script src="@Url.Content("~/Content/RoxieTheme/vendor/jquery.iframe-transport.js")" type="text/javascript")></script>
        <script src="@Url.Content("~/Content/RoxieTheme/vendor/jquery.ui.widget.js")" type="text/javascript")></script>
        <script src="@Url.Content("~/Content/RoxieTheme/vendor/modernizr.custom.18733.js")" type="text/javascript")></script>


        <script src="@Url.Content("~/Content/RoxieTheme/js/bootstrap.min.js")" type="text/javascript")></script>

        <script src="@Url.Content("~/Content/RoxieTheme/js/device.min.js")" type="text/javascript")></script>
        <script src="@Url.Content("~/Content/RoxieTheme/js/forms.js")" type="text/javascript")></script>
        <script src="@Url.Content("~/Content/RoxieTheme/js/formSteps.js")" type="text/javascript")></script>

        <script src="@Url.Content("~/Content/RoxieTheme/js/socialnets.js")" type="text/javascript")></script>
        
        @*Multi view js*@
        <script type="text/javascript" src="Multipartial.axd.js"></script>


        @*RoxieTheme/mediaelement*@
        @Styles.Render("~/Content/RoxieTheme/mediaelement/mediaelementplayer.css")
        @Styles.Render("~/Content/RoxieTheme/mediaelement/mep-feature-playlist.css")

       <script src="@Url.Content("~/Content/RoxieTheme/mediaelement/mediaelement-and-player.min.js")" type="text/javascript")></script>
       <script src="@Url.Content("~/Content/RoxieTheme/mediaelement/mep-feature-playlist.js")" type="text/javascript")></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('audio').mediaelementplayer({
                    shuffle: true,
                    playlist: false,
                    playlistposition: 'bottom',
                    features: ['playlistfeature',
                        //'prevtrack',
                        'playpause',
                        //'nexttrack',
                        'progress', 'current', 'duration', 'volume'],
                });
            });
        </script>


        @*modal windows*@
@*        <script src="@Url.Content("~/Scripts/modalform.js")" type="text/javascript")></script>

        <!-- ==========================
    	    Favicons 
        =========================== -->
      @*  <link rel="shortcut icon" href="http://taty.tatykolcova.lclients.ru/icons/favicon.ico">
	    <link rel="apple-touch-icon" href="http://taty.tatykolcova.lclients.ru/icons/apple-touch-icon.png">
	    <link rel="apple-touch-icon" sizes="72x72" href="http://taty.tatykolcova.lclients.ru/icons/apple-touch-icon-72x72.png">
	    <link rel="apple-touch-icon" sizes="114x114" href="http://taty.tatykolcova.lclients.ru/icons/apple-touch-icon-114x114.png">*@
    
        <!-- ==========================
    	    Fonts 
        =========================== -->
       @* <link href="~/Content/RoxieTheme/css/css.css" rel="stylesheet" type="text/css">
	    <link href="~/Content/RoxieTheme/css/css_002.css" rel="stylesheet" type="text/css">*@


        @*NEW FONTS*@
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
   
    

@*            <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>*@
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript")></script>
            <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript")></script>
            <script src="@Url.Content("~/Scripts/jquery.pjax.js")" type="text/javascript")></script>


            <script src="@Url.Content("~/Scripts/ajaxnavigation.js")" type="text/javascript")></script>
    
            @Scripts.Render("~/bundles/bootstrap")
@*            @Scripts.Render("~/bundles/jqueryval")*@

            @Scripts.Render("~/bundles/modalform")
            @RenderSection("scripts", required: false)

            <link rel="shortcut icon" href="/Content/images/pascalfm_icon.ico" type="image/x-ico" />

             <script type="text/javascript">
                $(function () {
                    // good example
                    //$('#pjaxOffscreenContainer').on('pjax:start', function () { $('#pjaxOffscreenContainer').fadeOut(500); })
                    //$('#pjaxOffscreenContainer').on('pjax:end', function () { $('#pjaxOffscreenContainer').fadeIn(500); })

                    //Create offscreen buffer
                    var offscreenContainer = $("<div id='pjaxOffscreenContainer'/>").hide().appendTo($("body"));

                    //Initialize pjax
                    $.pjax.defaults.timeout = 15000;
                    $('a[withpjax]').pjax("#ajax_main_container");

                    $(document)
                        .on('pjax:start', function ()
                        {
                            $('#ajax_main_container').fadeOut(100);
                            //$('#ajax_main_container').hide();
                            $('#loadLayout').show();
                        })
                        .on('pjax:end', function ()
                        {
                            $('#loadLayout').hide();
                            $('#ajax_main_container').fadeIn(100);
                        })
                });
            </script>



        </head>
    <body>

    <div class="l-wrap">
        <!-- HEADER -->
        <header class="b-head">

            @*player*@
            <div id="mainAudio" >
                @Html.Partial("..//Home//AudioElement", new PascalWeb.DB.PageModels.AudioPlayerModel())
            </div>

            <div id="loadLayout" style="display: none; position: fixed; z-index: 20; top: 0px;
                left: 0px; width: 100% !important; height: 100% !important;">
                <div style="margin-left: -24px; margin-top: -24px; position: relative; top: 50%;
                    left: 50%; z-index: 20;">
                    <div id="loadMessage">
                    </div>
                    <div>
                        <img src="@Url.Content("~/Content/images/process.gif")" alt="Загрузка..." />
                    </div>
                </div>
            </div>
            <!-- SEARCH FOR SMALL DEVICES -->
            <div class="b-search-xs">
                <div class="container">
                    <form action="#" method="post" class="b-form-search">
                        <fieldset class="b-form-search__field">
                            <input type="text" placeholder="" class="b-form-search__field__inp">
                            <input type="button" class="b-form-search__field__btn">
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- NAV -->

        </header>
        

        <div id="ajax_main_container" style="padding-top: 130px;">            
            @RenderBody()
        </div>


    </div>
        <!-- FOOTER -->
        @Html.Partial("_Footer")
    </body>
</html>


<!--for modal windows-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script>
    $('.dropdown-toggle').dropdown()
</script>

@section Scripts {
@*    @Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/modalform")
}