﻿@model bool
@*active or not*@

@if (Request.IsAuthenticated) {
 
    if(Model == true)
    {
        <li class="dropdown b-nav__list__item active">
            <a href="#" class="dropdown-toggle b-nav__list__item__link" data-toggle="dropdown">Привет, @User.Identity.Name!<b class="caret"></b>
            </a>
            <ul class="dropdown-menu maincolor" style="color:black;font-size:16px">
               <li><a href="">@Html.ActionLink("Профиль", "Index", "Profile", null, new { withpjax = "withpjax" })</a></li>
               <li><a href="">@Html.ActionLink("Мои подписки", "ShowSubscription", "Subscription", null, htmlAttributes: new { withpjax = "withpjax"})</a></li>
               <li class="divider"></li>
                <li>
                    @using (Ajax.BeginForm(actionName: "LogOff", controllerName: "Account", routeValues: new { url = Request.RawUrl }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "ajax_main_container",
                        LoadingElementId = "loadLayout"
                    }, htmlAttributes: new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Выйти" class= "" style="border:0;background-color:transparent;width:100%;padding: 3px 20px;text-align: left;"/>
                            
                    }
                </li>
            </ul>
         </li>
    } else
    {
        <li class="dropdown b-nav__list__item ">
            <a href="#" class="dropdown-toggle b-nav__list__item__link" data-toggle="dropdown">Привет, @User.Identity.Name!<b class="caret"></b>
            </a>
            <ul class="dropdown-menu maincolor" style="color:black;font-size:16px">
               <li><a href="">@Html.ActionLink("Профиль", "Index", "Profile", null, new { withpjax = "withpjax" })</a></li>
               <li><a href="">@Html.ActionLink("Мои подписки", "ShowSubscription", "Subscription", null, htmlAttributes: new { withpjax = "withpjax"})</a></li>
               <li class="divider"></li>
                <li>
@*                    @Html.ActionLink("Выйти", "LogOff", "Account", null, new { withpjax = "withpjax" })*@
@*                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                    }*@

                    @using (Ajax.BeginForm(actionName: "LogOff", controllerName: "Account", routeValues: new { url = Request.RawUrl }, ajaxOptions: new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "ajax_main_container",
                        LoadingElementId = "loadLayout"
                    }, htmlAttributes: new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Выйти" class= "" style="border:0;background-color:transparent;width:100%;padding: 3px 20px;text-align: left;"/>
                            
                    }
                </li>
            </ul>
         </li>
    }
    
} else {   
    if(Model == true)
    {
        <li class="b-nav__list__item active">
            @Html.ActionLink("Войти", "Login", "Account", routeValues: new { url = Request.RawUrl }, htmlAttributes: new { @class = "b-nav__list__item__link", id = "loginLink", withpjax = "withpjax" })
        </li>
    } else
    {
        <li class="b-nav__list__item">
            @Html.ActionLink("Войти", "Login", "Account", routeValues: new { url = Request.RawUrl }, htmlAttributes: new { @class="b-nav__list__item__link", id = "loginLink", withpjax = "withpjax" })
        </li> 
    }
}
