﻿@model PascalWeb.DB.AuxiliaryModels.PaginationModel

<div class="b-pager">
    
   @{
       if(Model != null)
       {
            int pageCount = Model.PageCount;
            int pageNumber = Model.CurrentPageNumber;

            if (pageCount > 1)
            {
                int standartDistance = 3;
                for (int i = 0; i < pageCount; i++)
                {
                    RouteValueDictionary rvDic = new RouteValueDictionary(); //new { paginationNumber = i, blogID = "2"}
                    rvDic.Add("paginationNumber", i.ToString());
                    
                    if (Model.ManageViewCommonModel.RouteValueDictionary != null)
                    {
                        for (int k = 0; k < Model.ManageViewCommonModel.RouteValueDictionary.Count; k++)
                        {
                            var element = Model.ManageViewCommonModel.RouteValueDictionary.ElementAt(k);
                            rvDic.Add(element.Key, element.Value);
                        }
                    }

                    // new { @class="b-pager__link b-pager__link_unactive", withpjax = "withpjax" }
                    Dictionary<string, object> htmlAttributesActive = new Dictionary<string, object>() { 
                        {"class", "b-pager__link b-pager__link_active"},
                        {"withpjax", "withpjax"} };
                    Dictionary<string, object> htmlAttributesInactive = new Dictionary<string, object>() { 
                        {"class", "b-pager__link b-pager__link_unactive"},
                        {"withpjax", "withpjax"} };
                    
                    int distance = Math.Abs(i - pageNumber);
                    
                    if (distance == 0)
                    {
                        <a class="b-pager__link b-pager__link_active">@Html.ActionLink((i + 1).ToString(), Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, routeValues: rvDic, htmlAttributes: htmlAttributesActive)</a>
                        continue;
                    }
                    
                    if (distance < standartDistance)
                    {
                        <a class="b-pager__link b-pager__link_unactive">@Html.ActionLink((i + 1).ToString(), Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, routeValues: rvDic, htmlAttributes: htmlAttributesInactive)</a>
                        continue;
                    }
                    
                    if(i == 0 || i == (pageCount - 1))
                    {
                        <a class="b-pager__link b-pager__link_unactive">@Html.ActionLink((i + 1).ToString(), Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, routeValues: rvDic, htmlAttributes: htmlAttributesInactive)</a>
                        continue;
                    }
                    
                    if (distance < standartDistance + 1)
                    {
                        <a class="b-pager__link b-pager__link_unactive">...</a>
                        continue;
                    }
                        
                   /* if (pageNumber == i) {
                        <a class="b-pager__link b-pager__link_active">@Html.ActionLink((i + 1).ToString(), Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, new { paginationNumber = i}, new { @class="b-pager__link b-pager__link_active", withpjax = "withpjax" })</a>
                    } else {
                        <a class="b-pager__link b-pager__link_unactive">@Html.ActionLink((i + 1).ToString(), Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, new { paginationNumber = i}, new { @class="b-pager__link b-pager__link_unactive", withpjax = "withpjax" })</a>
                    }*/

                }
            }
        }
   }

@*  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
    <li class="active">@Html.ActionLink("Последние выпуски", "Index", "Program", null, new { withpjax = "withpjax" })</li>*@
</div>