﻿@model IEnumerable<PascalWeb.DB.Program>

@{
   ViewBag.Title = "Подкасты. Популярное - PascalFM";
}

@Styles.Render("~/Content/RoxieTheme/css/style-custom-program.css")


    <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Популярные подкасты</h1>
    <div class="b-list-programs table-responsive">
        <table class="b-list-programs__item table">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var program = Model.ElementAt(i);
                <tr class="b-list-program">
                    <td>
@*                        <img src="@program.SmallLogoPath" alt="" style="min-width:40px">*@
                        @if (!string.IsNullOrEmpty(program.SmallLogoPath))
                        {
                            @:<img src="@program.SmallLogoPath" alt="" class="b-my-program-list__item__img" style="min-width:40px">
                        } else
                        {
                            @:<img alt="" class="b-main_image_default_program_small b-my-program-list__item__img" style="min-width:40px">
                        }
                    </td>
                    <td>
                        @Html.ActionLink(program.Name, "Details", "Program", routeValues: new { id = program.ID },
                            htmlAttributes: new { @class = "b-list-program__title", withpjax = "withpjax"})
                    </td>
                    <td>
                        <span class="b-list-program__descr">@program.Description</span>
                    </td>   
                    <td>
                        <span class="b-list-program__descr">@program.ProgramTheme.Name</span>
                    </td>
                </tr>
            }
        </table> 
    </div>    
