﻿@model PascalWeb.DB.PageModels.ProgramPageModel 

@{
    if(Model != null)
    {
        ViewBag.Title = "Подкаст " + Model.Program.Name + " - PascalFM";
    }
}

<div style="display:inline-block;width:100%">
    <div id="@("_updateProgramSubscribeButton" + Model.Program.ID.ToString())">
        @Html.Partial("..//Subscription//_updateProgramSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(Model.Program.ID, Model.UserIsSubscribed, true))
    </div>

    <div class="b-title-h1 b-title-h1_fs22">
        @if (!string.IsNullOrEmpty(Model.Program.MediumLogoPath))
        {
            @:<img src="@Model.Program.MediumLogoPath" alt="" class="b-title-h1__img" style="float: left;">
        } else
        {
            @:<img alt="" class="b-main_image_default_program_med b-title-h1__img" style="float: left;">
        }

        @Model.Program.Name
    </div>
    <div class="b-program-about">@Model.Program.Description</div>

    <div class="b-program-about">   @*b-program-author*@          
        @{
            var authors = Model.Program.ProgramAuthors.Select(data => data.UserAuth);
            if (authors.Count() == 1)
            {
                @:Автор:
            }
            else if (authors.Count() > 1)
            {
                @:Авторы:
            }
            for (int i = 0; i < authors.Count(); i++)
            {
                string fullName = PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(authors.ElementAt(i));
                    
                //@Html.ActionLink(fullName, "Edit", "Program", routeValues:new { authors.ElementAt(i).ID }, htmlAttributes: new { @class="b-program__author", withpjax = "withpjax" })
                @fullName
                // if it is not last
                if(i != authors.Count() - 1)
                {
                    @:,
                } 
            }  
        }
    </div>
</div>

<div class="h4">Последние выпуски:</div>
    @{
        Html.RenderPartial("..//ProgramEdition//_TileListView", Model.LastProgramEditions.Data.LastProgramEditions);
    }

@Html.ActionLink("к подкасту", "Details", "Program", routeValues: new { id = Model.Program.ID },
    htmlAttributes: new { @class = "b-blck b-blck_bg-green b-blck_to-program", withpjax = "withpjax"})


