﻿@model PascalWeb.DB.PageModels.ProgramPageModel


@Styles.Render("~/Content/RoxieTheme/css/style-custom-program.css")
@Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css")

@Html.Partial("_HeadNavigation", 1)

@if(Model.Program != null)
{
    @Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ", Model.Program.Name))
    string imageIDName = "-" + Model.Program.ID.ToString();
    string imageBackgroundName = Path.Combine("/Content/RoxieTheme/img/program/bg-1280-program" + imageIDName + ".jpg");
    // check whether image exists, else - take default
    bool imageBackgroundNameExists = File.Exists(Server.MapPath(imageBackgroundName));
    if (!imageBackgroundNameExists)
    {
        imageBackgroundName = Path.Combine("/Content/RoxieTheme/img/program/bg-1280-program.jpg");
    }
    
    <!-- CONTENT -->
    <div class="l-content">
        <div class="container">
            <section class="b-program" style="background-image: url(@imageBackgroundName);background-size:100% 100%; ">
                <h1 class="b-title-h1 b-title-h1_program">@Model.Program.Name</h1>
                <p class="b-program__descr">@Model.Program.Description</p>
                <div class="b-program__author">            
                    @{
                        var authors = Model.Program.ProgramAuthors.Select(data => data.UserAuth);
                        if (authors.Count() == 1)
                        {
                            @:Автор:
                        }
                        else if (authors.Count() > 1)
                        {
                            @:Авторы:
                        }
                        for (int i = 0; i < authors.Count(); i++)
                        {
                            string fullName = PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(authors.ElementAt(i));
                            //@Html.ActionLink(fullName, "Edit", "Program", routeValues:new { authors.ElementAt(i).ID }, htmlAttributes: new { @class="b-program__author", withpjax = "withpjax" })
                            @fullName;
                            // if it is not last
                            if(i != authors.Count() - 1)
                            {@:,
                            } 
                        }  
                    }
                </div>
                <div id="@("_updateProgramSubscribeButton" + Model.Program.ID.ToString())">
                    @Html.Partial("..//Subscription//_updateProgramSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(Model.Program.ID, Model.UserIsSubscribed, true))
                </div>
                
            </section>
            <div class="container">
                <div class="b-list-programs table-responsive">
                    <table class="b-list-programs__item table">
                        @for(int i =0; i< Model.LastProgramEditions.Data.LastProgramEditions.Count(); i++)
                        {
                            var programAndEdition = @Model.LastProgramEditions.Data.LastProgramEditions[i];
                            string airDateStr = GeneralMethods.getFormatedDate(programAndEdition.Edition.AirDate);
                            <tr class="b-list-program">
                                <td>
                                    <a class="">
@*                                        @Ajax.AudioActionLinkTo(" ", "AudioElement", "Home", "", "Загрузка...", routeValues:new { programEditionID = programAndEdition.Edition.ID }, 
                                            htmlAttributes: new { @class = "b-list-program__play", @style = "background-image:url(/Content/RoxieTheme/img/bg/square-back.jpg)"}) *@

                                        <div id="start_@programAndEdition.Edition.ID" style="display:inline-block; margin-left:27px;vertical-align:middle">     
                                            @*<a class="b-list-program__play" onclick="changePLayStateForTile('start', @programAndEdition.Edition.ID)" style = "display:inline-block;background: url('/Content/RoxieTheme/img/bg/square-back.jpg') no-repeat center right;display:inline-block; vertical-align:middle;cursor: pointer;"> </a>*@
                                            <a class="b-list-program__play" onclick="changeButtonAndPlay('start', @programAndEdition.Edition.ID, null, '@programAndEdition.Edition.Content.AbsoluteFileUri', '@programAndEdition.Edition.Program.Name', 
                                                '@programAndEdition.Edition.EditionTittle')" style = "display:inline-block;background: url('/Content/RoxieTheme/img/bg/square-back.jpg') no-repeat center right;display:inline-block; vertical-align:middle;cursor: pointer;"> </a>                                        
                                        </div>

                                        <div id="stop_@programAndEdition.Edition.ID" style="display:none; margin-left:27px; vertical-align:middle">
                                            <a class="b-list-program__pause" onclick="changeButtonAndPlay('stop', @programAndEdition.Edition.ID, null, '@programAndEdition.Edition.Content.AbsoluteFileUri', '@programAndEdition.Edition.Program.Name', 
                                                '@programAndEdition.Edition.EditionTittle')"  style = "display:inline-block;background: url('/Content/RoxieTheme/img/bg/square-back.jpg') no-repeat center right;display:inline-block; vertical-align:middle;cursor: pointer;"> </a>
                                        </div>

                                    </a>
                                </td>
                                <td>
                                    <a class="">
                                        @Html.ActionLink(" ", "Download", "AudioPlayer", routeValues:new { programEditionID = programAndEdition.Edition.ID }, 
                                            htmlAttributes: new { @class = "b-list-program__download", @style = "background-image:url(/Content/RoxieTheme/img/bg/square-back.jpg);"}) 
                                    </a>
                                </td>
                                <td>
                                    @Html.ActionLink(@programAndEdition.Edition.EditionTittle, "Details", "ProgramEdition", routeValues:new { id = @programAndEdition.Edition.ID }, 
                                        htmlAttributes: new { @class = "b-list-program__title", withpjax = "withpjax"})
                                </td>
                                <td>
                                    <span class="b-list-program__descr">@programAndEdition.Edition.ShortDescription</span>
                                </td>
                                <td>
                                    <span class="b-list-program__time">@GeneralMethods.getTrackDurationString(programAndEdition.Edition.Duration)</span>
                                </td>
                                <td>
                                    <span class="b-list-program__comment">@programAndEdition.Edition.CommentsCounter.ToString()</span>
                                </td>
                                <td>
                                    <span class="b-list-program__watch">@programAndEdition.Edition.ListenedCounter.ToString()</span>
                                </td>
                                <td>
                                    <a href="#" title="" class="b-list-program__date">@airDateStr</a>
                                    <a href="#" title="" class="b-list-program__author">
                                        @{
                                            var authorsOfEdition = programAndEdition.Edition.ProgramEditionAuthors.Select(data => data.UserAuth);
                                            for (int j = 0; j < authorsOfEdition.Count(); j++)
                                            {
                                                string fullName = PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(authorsOfEdition.ElementAt(j));
                    
                                                //@Html.ActionLink(fullName, "Edit", "Program", routeValues:new { authorsOfEdition.ElementAt(j).ID }, htmlAttributes: new { @class="b-list-program__author", withpjax = "withpjax" })    
                                                @fullName
                                                if (j != authorsOfEdition.Count() - 1)
                                                {
                                                    @:,
                                                } 
                                            }  
                                        }
                                    </a>
                                </td>
                                <td>
                                    @{
                                        int letterCounter = 0;
                                        for (int h = 0; h < programAndEdition.ProgramEditionTagList.Count; h++)
                                        {
                                            letterCounter += programAndEdition.ProgramEditionTagList[h].Count();
                                            if (letterCounter >= 25)
                                            {
                                                break;
                                            }

                                            <span>@Html.ActionLink(programAndEdition.ProgramEditionTagList[h], "Search", "Search", routeValues: new { query = "#" + programAndEdition.ProgramEditionTagList[h] },
                                                htmlAttributes: new { @class = "b-list-program__hashtags", withpjax = "withpjax" })</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                    @{
                        Html.RenderPartial("_pagination", Model.LastProgramEditions.PaginationModel);
                    }
                </div>        
            </div>
        </div>
    </div>

}


 <script type="text/javascript">
     @{
        long editionID = 0;
        if (Model.LastProgramEditions != null && Model.LastProgramEditions.Data != null &&
            Model.LastProgramEditions.Data.LastProgramEditions.Count != null && Model.LastProgramEditions.Data.LastProgramEditions.Count() > 0)
        {
            editionID = @Model.LastProgramEditions.Data.LastProgramEditions[0].Edition.ID;
        }
        ViewBag.firstEditionToSet = editionID;
     }
    $(document).ready(function () {
        audio = $('audio');
        editionID = @ViewBag.firstEditionToSet;
        
        // load next edition if nothing plays and something exists
        if (audio[0].currentTime == "0" && editionID != 0) {
            try {
                // загрузить первый выпуск - обращение к серверу
                $.ajax({
                    url: '/Home/AudioElement',
                    data: { programEditionID: editionID},
                    success: function (result) {
                        $('#mainAudio').html(result);
                    }
                });
            } catch (err) {
                alert('error');
            }
        }
    })
</script>