﻿@model  PascalWeb.DB.PageModels.ProgramEditPageModel

@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">
        
        @if(Model.Program.ID <= 0) {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Добавление нового подкаста</h1>
        }
        else
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Редактирование данных подкаста</h1>
        }

        @using (Html.BeginForm("CreateOrEdit", "Program", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            @class = "col-md-12 col-lg-12 form-horizontal", role = "form"}))
        {
            @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

            <fieldset>

                @Html.HiddenFor(model => model.Program.ID)
                @Html.HiddenFor(model => model.Program.CreationDate)

                <div class="form-group" style="vertical-align: top;">
                    @Html.LabelFor(model => model.Program.CreationDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-6">
                        <p class="form-control-static">@Model.Program.CreationDate</p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Program.Name, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Program.Name, new { @class = "form-control input-md", placeholder= "Название" })
                        @Html.ValidationMessageFor(model => model.Program.Name, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Program.ThemeID, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Program.ThemeID, (SelectList)ViewBag.ProgramThemes, htmlAttributes: new { @class = "form-control input-md", placeholder= "--Выберете тему--" })  
                        @Html.ValidationMessageFor(model => model.Program.ThemeID, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Program.Description, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Program.Description, new { @class = "form-control input-md", placeholder= "Описание" })
                        @Html.ValidationMessageFor(model => model.Program.Description, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-md-4 control-label">Загрузить логотип (логотип квадратный, размер до 200 пикс на 200 пикс)</label>
                    <div class="col-md-6">
                        @if (@Model.Program.SmallLogoPath != null)
                        {
                            string imageSrc = @Model.Program.SmallLogoPath;
                            <img src="@imageSrc" width=100 height = 100 style="margin-right:10px;margin-bottom:10px;"  />
                            <br />
                            <label>Заменить:</label>
                        } 
                        <input type="file" name="file"/>
                    </div>
                </div>  

                <br />
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" class="btn btn-default col-md-3" onclick="backToPreviousPage();">Отмена</button>
                        <button name="action:Edit" type="submit" class="btn btn-success col-md-3" style="margin-left:10px">Сохранить</button>
                    </div>
                </div>

            </fieldset>
        }

            <div id="progress" style="display: none;">
                <img src="/Content/images/process.gif" alt="loader" />
            </div>

        @*tag's managment*@
        <div>
            @{
                Html.RenderPartial("..//Tag//_tagSelectionView", Model.TagList);
            }
        </div>

        @*author's managment*@
        <div>
            @{
                Html.RenderPartial("..//Profile//_authorsAttachingView", Model.AuthorList);
            }
        </div>

    </div>
</div>


<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>