﻿@model PascalWeb.DB.PageModels.ProgramThemePageModel

    @Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css")
    @Styles.Render("~/Content/RoxieTheme/css/style-custom-theme.css")
    @Styles.Render("~/Content/RoxieTheme/css/style-custom-blogs.css") 


    @Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ", "Подкасты"))
    @Html.Partial("_HeadNavigation", 1)

    <!-- CONTENT -->
    <div class="l-content">
        <div class="container b-theme">
            <aside class="col-240-fix">
                @Html.ActionLink("популярные", "Index", "Program", null, htmlAttributes: new { @class = "b-blck b-blck_bg-green ", @style="width:100%", withpjax = "withpjax" })

                <div class="b-rating">

                    <ul class="nav nav-tabs">
                        @{
                            //string activeThemeTab = Model.ChosenAuthorID.HasValue == false ? " active " : "";
                            //string activeAuthorTab = Model.ChosenAuthorID.HasValue == true ? " active " : "";
                            //string showAll = !Model.ChosenThemeID.HasValue && !Model.ChosenAuthorID.HasValue ? " background-color:#b8e2da; " : "";
                            var activeThemeTab = "active";
                            var activeAuthorTab = "";
                                    
                            <li class= "@activeThemeTab"><a href="#themes" data-toggle="tab">Темы</a></li>
                            <li class= "@activeAuthorTab"><a href="#authors" data-toggle="tab">Авторы</a></li>
                        }
                    </ul>
    
                    <div class="tab-content">
                        <div class="tab-pane @activeThemeTab" style="background-color: transparent;border-width: 0px;" id="themes">
                            <div class="b-rating__list b-main_color"  >
                                @for (int i = 0; i < Model.ThemeWithProgramsList.Count; i++)
                                {
                                    var item = Model.ThemeWithProgramsList[i];
                                    string themeWithCount = string.Concat(item.ThemeName, " (" + item.ChildList.Count().ToString() + ")"); 


                                    <a href="#theme_@i" title="" class="list-group-item" data-toggle="collapse" style="color:#16A085; ">@item.ThemeName
                            @*            <span class="b-list-prog__item__link__count" style="top: 6px;">@item.ProgramList.Count().ToString()</span>*@
                                    </a>
                                    if (item.ChildList.Count() > 0)
                                    {
                                        <div class="panel-collapse collapse" id ="theme_@i">
                                            <div class="panel-body">
                                                @for (int j = 0; j < item.ChildList.Count(); j++)
                                                {
                                                    @Html.ActionLink(@item.ChildList.ElementAt(j).Name, "Index", "Program", new {programID = @item.ChildList.ElementAt(j).ID}, htmlAttributes: new { @class = "list-group-item", @style = "background-color: transparent; border-width: 0px; margin-left:5px;color:#16A085; ", withpjax = "withpjax" })
                                                }
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>

                        <div class="tab-pane @activeAuthorTab" style="background-color: transparent;border-width: 0px;" id="authors">
                            <div class="b-rating__list b-main_color">
                               
                                @*@Html.ActionLink("Все", "Index", "Home", null, new { @class = "list-group-item", @style="color:#16A085;;background-color:white;" + showAll, withpjax = "withpjax"})*@
                                @for (int i = 0; Model.PopularAuthorList != null && i < Model.PopularAuthorList.Count; i++)
                                {
                                    var item = Model.PopularAuthorList[i];
                                    //string activeKeyword = Model.ChosenAuthorID == item.UserID ? "background-color:#b8e2da;" : "";
                                    //string activeKeyword = "";
                                    
                                    
                                     <a href="#author_@i" class="list-group-item " data-toggle="collapse" >
                                         
                                            @if (!string.IsNullOrEmpty(@item.PhotoStr))
                                            {
                                                @:<img src="@item.PhotoStr" alt="" class="b-rating__list__item__img" style="vertical-align:middle">
                                            }
                                            else
                                            {
                                                @:<img alt="" class="b-main_image_default_user_small b-rating__list__item__img"  style="vertical-align:middle">
                                            }
                                         <span class="b-rating__list__item__name" style="height: auto;">@item.FullName</span>
                                        </a>
                                   
                                    
                                    if (item.ProgramList.Count() > 0)
                                    {
                                        <div class="panel-collapse collapse" id ="author_@i">
                                            <div class="panel-body">
                                                @for (int j = 0; j < item.ProgramList.Count(); j++)
                                                {
                                                    @Html.ActionLink(item.ProgramList[j].Name, "Index", "Program", new {programID = item.ProgramList[j].ID}, htmlAttributes: new { @class = "list-group-item", @style = "background-color: transparent; border-width: 0px; margin-left:5px;color:#16A085; ", withpjax = "withpjax" })
                                                }
                                            </div>
                                        </div>
                                    }                      
                                }                                        

                            </div>
                        </div>

                    </div>
                   
                </div>

                    
            </aside>
            @if (Model.ChosenProgram != null)
            {
                <div id="" class="col-ml-240">
                    @{Html.RenderPartial("_smallProgramView", model: Model.ChosenProgram);}
                </div>
            } else
            {
                <div id="programInfo" class="col-ml-240">
                    @{Html.RenderPartial("_popularPrograms", model: Model.PopularProgramList);}
                </div>
            }
        </div>
    </div>






 <script type="text/javascript">
     @{
        long editionID = 0;
        if (Model.ChosenProgram != null && Model.ChosenProgram.LastProgramEditions != null &&
            Model.ChosenProgram.LastProgramEditions.Data != null && Model.ChosenProgram.LastProgramEditions.Data.LastProgramEditions != null &&
            Model.ChosenProgram.LastProgramEditions.Data.LastProgramEditions.Count > 0)
        {
            editionID = @Model.ChosenProgram.LastProgramEditions.Data.LastProgramEditions[0].Edition.ID;
        }
        //else if (@Model.PopularProgramList != null && @Model.PopularProgramList.Count() > 0)
        //{
        //    editionID = @Model.PopularProgramList.ElementAt(0).ID;
        //}
        ViewBag.firstEditionToSet = editionID;
     }
    $(document).ready(function () {
        audio = $('audio');
        editionID = @ViewBag.firstEditionToSet;
        
        // load next edition if nothing plays and something exists
        if (audio[0].currentTime == "0" && editionID != 0) {
            try {
                // загрузить первый выпуск - обращение к серверу
                $.ajax({
                    url: '/Home/AudioElement',
                    data: { programEditionID: editionID},
                    success: function (result) {
                        $('#mainAudio').html(result);
                    }
                });
            } catch (err) {
                alert('error');
            }
        }
    })
</script>