﻿@model int

<div class="masthead">
    <ul class="nav nav-justified"> 

        @{
            if(Model == 1)
            {
                <li class="active">@Html.ActionLink("Последние выпуски", "Index", "Program", null, new { withpjax = "withpjax" })</li>
            }
            else{
                <li class="">@Html.ActionLink("Последние выпуски", "Index", "Program", null, new { withpjax = "withpjax" })</li>
            }
            
            
            if(Model == 2)
            {
                <li class="active">@Html.ActionLink("Темы", "ShowProgramsByTheme", "Program", null, new { withpjax = "withpjax" })</li>   
            }
            else{
                <li>@Html.ActionLink("Темы", "ShowProgramsByTheme", "Program", null, new { withpjax = "withpjax" })</li>   
            }
            
            
            if(Model == 3)
            {
                <li class="active">@Html.ActionLink("Авторы", "ShowProgramsByAuthors", "Program", null, new { withpjax = "withpjax" })</li> 
            }
            else{
                <li>@Html.ActionLink("Авторы", "ShowProgramsByAuthors", "Program", null, new { withpjax = "withpjax" })</li> 
            }
            
        }
@*        <li class="active">@Html.ActionLink("Последние выпуски", "Index", "Program", null, new { withpjax = "withpjax" })</li>
        <li>@Html.ActionLink("Темы", "ShowProgramsByTheme", "Program", null, new { withpjax = "withpjax" })</li>   
        <li>@Html.ActionLink("Авторы", "ShowProgramsByAuthors", "Program", null, new { withpjax = "withpjax" })</li> *@

    </ul>
</div>
