﻿@model PascalWeb.DB.PageModels.ProgramThemePageModel

    @Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css")
    @Styles.Render("~/Content/RoxieTheme/css/style-custom-theme.css")

@Styles.Render("~/Content/RoxieTheme/css/style-custom-blogs.css") 


    @Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ", "Подкасты по темам"))
    @Html.Partial("_HeadNavigation", 1)

    <!-- CONTENT -->
    <div class="l-content">
        <div class="container b-theme">
            <aside class="col-240-fix">
@*                @Html.ActionLink("популярные", "ShowProgramsByTheme", "Program", null, htmlAttributes: new { @class = "b-blck b-blck_bg-green ", @style="width:100%", withpjax = "withpjax" })*@

@*                <ul class="b-list-prog">
                    @for (int i = 0; i < Model.ThemeWithProgramsList.Count; i++)
                    {
                        var item = Model.ThemeWithProgramsList[i];
                        string themeWithCount = string.Concat(item.ProgramThemeName, " (" + item.ProgramList.Count().ToString() + ")"); 

                        <li class="b-list-prog__item">
                            <a href="" title="" class="b-list-prog__item__link dropdown-toggle" data-toggle="dropdown">@item.ProgramThemeName<span class="b-list-prog__item__link__count">@item.ProgramList.Count().ToString()</span></a>
                            @if (item.ProgramList.Count() > 0)
                            {
                                <ul class="dropdown-menu b-dropdownlist" role="menu">
                                    @for (int j = 0; j < item.ProgramList.Count(); j++)
                                    {
                                        
                                        <li class="b-dropdownlist__item" style="vertical-align:middle">
                                            @Html.ActionLink(@item.ProgramList.ElementAt(j).Name, "ShowProgramsByTheme", "Program", new {programID = @item.ProgramList.ElementAt(j).ID}, htmlAttributes: new { @class = "", @style = "background-color: transparent;border: 0; margin-left:5px", withpjax = "withpjax" })
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }

                </ul>*@

                @*  Ex http://www.bootply.com/129547*@
@*                <div class="panel-group b-list-prog">
    
                    @for (int i = 0; i < Model.ThemeWithProgramsList.Count; i++)
                    {
                        var item = Model.ThemeWithProgramsList[i];
                        string themeWithCount = string.Concat(item.ProgramThemeName, " (" + item.ProgramList.Count().ToString() + ")"); 

                        <div class="panel panel-default" style="background-color: transparent;border-width: 0px;">
                            <a href="#theme_@i" title="" class="list-group-item" data-toggle="collapse" style="background-color: transparent;">@item.ProgramThemeName
                                <span class="b-list-prog__item__link__count" style="top: 6px;">@item.ProgramList.Count().ToString()</span>
                            </a>
                            @if (item.ProgramList.Count() > 0)
                            {
                                <div class="panel-collapse collapse" id ="theme_@i">
                                    <div class="panel-body">
                                        @for (int j = 0; j < item.ProgramList.Count(); j++)
                                        {
                                            @Html.ActionLink(@item.ProgramList.ElementAt(j).Name, "ShowProgramsByTheme", "Program", new {programID = @item.ProgramList.ElementAt(j).ID}, htmlAttributes: new { @class = "list-group-item", @style = "background-color: transparent; border-width: 0px; margin-left:5px", withpjax = "withpjax" })
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }
                   
                </div>*@


                <div class="b-rating">

                    <ul class="nav nav-tabs">
                        @{
                            //string activeThemeTab = Model.ChosenAuthorID.HasValue == false ? " active " : "";
                            //string activeAuthorTab = Model.ChosenAuthorID.HasValue == true ? " active " : "";
                            //string showAll = !Model.ChosenThemeID.HasValue && !Model.ChosenAuthorID.HasValue ? " background-color:#b8e2da; " : "";
                            var activeThemeTab = "active";
                            var activeAuthorTab = "";
                                    
                            <li class= "@activeThemeTab"><a href="#themes" data-toggle="tab">Темы</a></li>
                            <li class= "@activeAuthorTab"><a href="#authors" data-toggle="tab">Авторы</a></li>
                        }
                    </ul>
    
                    <div class="tab-content">
                        <div class="tab-pane @activeThemeTab" style="background-color: transparent;border-width: 0px;">
                            <div class="b-rating__list b-main_color"  >
                                @for (int i = 0; i < Model.ThemeWithProgramsList.Count; i++)
                                {
                                    var item = Model.ThemeWithProgramsList[i];
                                    string themeWithCount = string.Concat(item.ProgramThemeName, " (" + item.ProgramList.Count().ToString() + ")"); 


                                    <a href="#theme_@i" title="" class="list-group-item" data-toggle="collapse" style="background-color: transparent;">@item.ProgramThemeName
                                        <span class="b-list-prog__item__link__count" style="top: 6px;">@item.ProgramList.Count().ToString()</span>
                                    </a>
                                    if (item.ProgramList.Count() > 0)
                                    {
                                        <div class="panel-collapse collapse" id ="theme_@i">
                                            <div class="panel-body">
                                                @for (int j = 0; j < item.ProgramList.Count(); j++)
                                                {
                                                    @Html.ActionLink(@item.ProgramList.ElementAt(j).Name, "ShowProgramsByTheme", "Program", new {programID = @item.ProgramList.ElementAt(j).ID}, htmlAttributes: new { @class = "list-group-item", @style = "background-color: transparent; border-width: 0px; margin-left:5px", withpjax = "withpjax" })
                                                }
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                   
                </div>


@*                <h2 class="b-title-h2">теги</h2>
                <div class="b-list-tags">
                    <a href="" title="" class="b-list-tags__item">Поиск работы</a>
                    <a href="" title="" class="b-list-tags__item">Лето</a>
                    <a href="" title="" class="b-list-tags__item">Здоровое питание</a>
                    <a href="" title="" class="b-list-tags__item">Собеседование</a>
                    <a href="" title="" class="b-list-tags__item">Профессия</a>
                    <a href="" title="" class="b-list-tags__item">Резюме</a>
                    <a href="" title="" class="b-list-tags__item">Работа</a>
                    <a href="" title="" class="b-list-tags__item">Профессия</a>
                    <a href="" title="" class="b-list-tags__item">Резюме</a>
                    <a href="" title="" class="b-list-tags__item">Работа</a>
                    <a href="" title="" class="b-list-tags__item">Здоровое питание</a>
                    <a href="" title="" class="b-list-tags__item">Собеседование</a>
                    <a href="" title="" class="b-list-tags__item">Профессия</a>
                </div>*@
                    
            </aside>
            @if (Model.ChosenProgram != null)
            {
                <div id="" class="col-ml-240">
                    @{Html.RenderPartial("_smallProgramView", model: Model.ChosenProgram);}
                </div>
            } else
            {
                <div id="programInfo" class="col-ml-240">
                    @{Html.RenderPartial("_popularPrograms", model: Model.PopularProgramList);}
                </div>
            }
        </div>
    </div>
