﻿@model PascalWeb.DB.PageModels.ProgramAuthorPageModel


@Styles.Render("~/Content/RoxieTheme/css/style-custom-author.css")
@*@Styles.Render("~/Content/RoxieTheme/css/style-custom-podcast.css") *@

@Styles.Render("~/Content/RoxieTheme/css/style-custom-program.css") 

@Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css")

@Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ", "Подкасты по темам"))
@Html.Partial("_HeadNavigation", 1)

<!-- CONTENT -->
<div class="l-content">
    <div class="container b-author">
        <aside class="col-240-fix">
@*            <form action="#" method="post" class="b-form-search-l">
                <fieldset class="b-form-search-l__field">
                    <input type="text" placeholder="Поиск по автору" class="b-form-search-l__field__inp">
                    <input type="button" class="b-form-search-l__field__btn">
                </fieldset>
            </form>*@
            @Html.ActionLink("популярные", "ShowProgramsByAuthors", "Program", null, htmlAttributes: new { @class = "b-blck b-blck_bg-green ", @style="width:100%", withpjax = "withpjax" })

            <h2 class="b-title-h2">авторы подкастов</h2>
            <div class="b-rating__list">
                <ul>
                    @for (int i = 0; i < Model.AuthorList.Count; i++)
                    {
                        var item = Model.AuthorList[i];
                         <li>
                            <span class="b-rating__list__item__rate"></span>
                             @if (!string.IsNullOrEmpty(@item.PhotoStr))
                             {
                                @:<img src="@item.PhotoStr" alt="" class="b-rating__list__item__img">
                             } else
                             {
                                @:<img alt="" class="b-main_image_default_user_small b-rating__list__item__img">
                             }
                            @Html.ActionLink(@item.FullName, "ShowProgramsByAuthors", "Program", new { userID = @item.UserID }, htmlAttributes: new { @class = "b-rating__list__item__name", withpjax = "withpjax" })
                        </li>
                    }
                </ul>
            </div>
        </aside>
        <div class="col-ml-240">
            @if (Model.AuthorInfo != null)
            {
                var item = Model.AuthorInfo;
                if (item.BlogSubscription.Key.HasValue && item.BlogSubscription.Key.Value > 0)
                {
                    <div id="@("_updateBlogSubscribeButton" + item.BlogSubscription.Key.ToString())">
                        @Html.Partial("..//Subscription//_updateBlogSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(item.BlogSubscription.Key.Value, item.BlogSubscription.Value, true))
                    </div>
                }

                <div class="b-title-h1 b-title-h1_fs22">
                    <a class="b-user-ava b-user-ava_120" title="" href="#">
                        @if (!string.IsNullOrEmpty(@item.UserData.UserInfo.MediumLogoPath))
                        {
                            @:<img src="@item.UserData.UserInfo.MediumLogoPath" alt="" class="b-title-h1__img">
                        } else
                        {
                        @:<img alt="" class="b-main_image_default_user_med b-title-h1__img">
                        }
                    </a>
                    @PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(item.UserData.UserAuth.Surname, item.UserData.UserAuth.Name)

                </div>
                    
                <div class="b-title b-my-program">Мои подкасты:</div>@*
                
                <div class="b-list-programs table-responsive">*@
                    <table class="b-list-programs__item table">
                        @for(int i =0; i<item.UserData.UserPrograms.Count; i++)
                        {
                            var program = item.UserData.UserPrograms[i];
                            <tr class="b-list-program">
                                <td>
                                    @if (!string.IsNullOrEmpty(program.Key.SmallLogoPath))
                                    {
                                        @:<img src="@program.Key.SmallLogoPath" alt="" class="b-my-program-list__item__img">
                                    } else
                                    {
                                        @:<img alt="" class="b-main_image_default_program_small b-my-program-list__item__img">
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(@program.Key.Name, "Details", "Program", routeValues: new { id = @program.Key.ID },
                                        htmlAttributes: new { @class = "b-my-program-list__item__title", withpjax = "withpjax"})
                                </td>
                                <td>
                                    <span class="b-list-program__descr">@program.Key.Description</span>
                                </td>   
                                <td>
                                    <div class="pull-right" id="@("_updateProgramSubscribeButton" + program.Key.ID.ToString())">
                                        @Html.Partial("..//Subscription//_updateProgramSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(program.Key.ID, program.Value, true))
                                    </div>
                                </td>
                            </tr>
                        }
                    </table> 

                
                <div class="b-title b-last-activity">Последняя активность:</div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#pilots" data-toggle="tab">выпуски подкастов</a></li>
                    <li><a href="#records" data-toggle="tab">записи блога</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pilots">
                        @{
                            Html.RenderPartial("..//ProgramEdition//_TileListView", item.lastEditions);
                        }

@*                        <div class="b-pager">
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive"><</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_active">1</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">...</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">5</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">19</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">20</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">></a>
                        </div>*@
                    </div>
                    <div class="tab-pane" id="records">

                        <section class="b-news">
                            @for (int i = 0; i < item.lastBlogRecords.Count(); i++)
                            {
                                Html.RenderPartial("..//BlogRecord//_blogRecordListElement", item.lastBlogRecords[i]);
                            }               
                        </section>

@*                        <div class="b-pager">
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive"><</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_active">1</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">...</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">5</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">19</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">20</a>
                            <a href="#" title="" class="b-pager__link b-pager__link_unactive">></a>
                        </div>*@
                    </div>
                </div>
            } else
            {
                // popular authors
                <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Популярные авторы</h1>

                <div class="b-list-programs table-responsive">
                    <table class="b-list-programs__item table">
                        @for (int i = 0; i < Model.PopularAuthors.Count(); i++)
                        {
                            var author = Model.PopularAuthors[i];
                            <tr class="b-list-program">
                                <td>
@*                                    <img src="@author.SmallLogoPath" alt="" class="b-my-program-list__item__img">*@
                                    @if (!string.IsNullOrEmpty(author.SmallLogoPath))
                                    {
                                        @:<img src="@author.SmallLogoPath" alt="" class="b-my-program-list__item__img">
                                    } else
                                    {
                                        @:<img alt="" class="b-main_image_default_user_small b-my-program-list__item__img">
                                    }

                                </td>
                                <td>
                                    @Html.ActionLink(PascalWeb.DB.AuxiliaryModels.UserInfoModel.getFullName(author.Surname, author.Name), "ShowProgramsByAuthors", "Program", routeValues: new { userID = @author.ID },
                                        htmlAttributes: new { @class = "b-list-program__title", withpjax = "withpjax"})
                                </td>
                                <td>
                                    <span class="b-list-program__descr">@author.UserInfo.Info</span>
                                </td>   
                                <td>
                                    <a href="#" title="" class="b-list-program__author">
                                        @for (int j = 0; j < author.ProgramAuthors.Count(); j++)
                                        {
                                            var pa = author.ProgramAuthors.ElementAt(j);
                                            @Html.ActionLink(@pa.Program.Name, "Details", "Program", routeValues: new { id = @pa.ProgramID },
                                                htmlAttributes: new { @class = "b-list-program__author", withpjax = "withpjax"})
                                            if(j != author.ProgramAuthors.Count() - 1)
                                                {@:,
                                                }
                                        }
                                    </a>
                                </td>
                            </tr>
                        }
                    </table> 
                </div>     
            }
        </div>
    </div>
</div>
