﻿@model IEnumerable<PascalWeb.DB.Blog>


<div class="b-rating__list">
    <ul>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var item = @Model.ElementAt(i);
        
            <li>
                <span class="b-rating__list__item__rate"></span>
                @if (!string.IsNullOrEmpty(item.SmallLogoPath))
                {
                    @:<img src="@item.SmallLogoPath" alt="" class="b-rating__list__item__img" style="min-width:40px">
                } else
                {
                    @:<img alt="" class="b-main_image_default_blog_small b-rating__list__item__img" style="min-width:40px">
                }
                @Html.ActionLink(@item.Name, "Index", "BlogRecord", new { blogID = @item.ID }, htmlAttributes: new { @class = "b-rating__list__item__name", withpjax = "withpjax" })
            </li>
        }  
    </ul>
</div>