﻿@model PascalWeb.DB.AuxiliaryModels.ExpandingContainerModel<List<PascalWeb.DB.BlogRecord>>


    @{
        Guid guid;
        guid = Guid.NewGuid();
        string key = guid.ToString();
        key = key.Replace("-", "");
    }

    <section class="b-news" id="_moreblogRecords_@(key)">
        @{
            if (Model.Data != null)
            {
                Html.RenderPartial("..//BlogRecord//_blogRecordList", Model.Data);
            }
        }           
    </section>

    <button class="b-blck b-blck_bg-green" style="margin: 10px auto;" onclick="loadAdditionalBlogRecords_@(key)()">Больше</button>



<script type="text/javascript">
    var pageBlogRecords_@(key) = 0;
    var _inCallbackBlogRecords_@(key) = false;

    function loadAdditionalBlogRecords_@(key)() {
 
        if (pageBlogRecords_@(key) > -1 && !_inCallbackBlogRecords_@(key)) {
            _inCallbackBlogRecords_@(key) = true;
            pageBlogRecords_@(key)++;
            $('#loadLayout').show();
            
            $.post("@Url.Action(Model.ActionName, 
                Model.ControllerName)", { "pageNumber": pageBlogRecords_@(key) }, function (data) {
                if (data != '') {
                    $("#_moreblogRecords_@(key)").append(data);
                }
                else {
                    pageBlogRecords_@(key) = -1;
                }

                _inCallbackBlogRecords_@(key) = false;
                $('#loadLayout').hide();
            });
        }
    }
</script>