﻿@model PascalWeb.DB.BlogRecord

@{
    var blogTagList = PascalWeb.Controllers.TagController.stringToTagList(Model.TagString);
    
    string formatDate = GeneralMethods.getFormatedDateAndTime(Model.CreationDate);
    <article class="b-news__item" style="background-color:white">
        <div class="b-news__item__head">
            <span class="b-news__item__head__date">@formatDate</span>
@*            <a href="#" title="" class="b-news__item__head__title">@Model.Blog.Name</a>*@
            @Html.ActionLink(Model.Blog.Name, "Index", "BlogRecord", new { blogID = Model.BlogID}, htmlAttributes: new { @class = "b-news__item__head__title", withpjax = "withpjax" })
        </div>
        <a href="#" title="" class="b-news__item__link">
            <span>@Html.ActionLink(Model.Title, "Details", "BlogRecord", routeValues: new { id = Model.ID },
                    htmlAttributes: new { @class = "b-news__item__title", withpjax = "withpjax" })</span>
            <span class="b-news__item__desrc">
                 @Html.Raw(@Model.NoteFragment)
            </span>

            @*читать далее*@
            @if(Model.Note != Model.NoteFragment){
                <span class="b-news__item__desrc" style="text-align:center">
                    @Html.ActionLink("читать далее", "Details", "BlogRecord", routeValues: new { id = Model.ID }, htmlAttributes: new { @class = "b-main_color", @style="text-decoration: underline;", withpjax = "withpjax" })
                </span>
            }
        </a>
        <div class="b-news__item__foot">
            <span>@Html.ActionLink(Model.CommentsCounter.ToString(), "Details", "BlogRecord", null, null, "_userCommentBox", routeValues: new { id = Model.ID },
                htmlAttributes: new { @class = "b-news__item__head__comment", @style="margin-right:20px", withpjax = "withpjax" })</span>

        @{    
            for(int i=0; i<blogTagList.Count; i++)
            {
                <span>@Html.ActionLink(blogTagList[i], "Search", "Search", routeValues: new { query = "#" + blogTagList[i] },
                    htmlAttributes: new { @class = "b-news__item__foot__item", withpjax = "withpjax" })</span>
            }
        }
        </div>
    </article>
    
}