﻿@model IEnumerable<PascalWeb.DB.BlogRecord>
 
@* Read the current page and total pages *@
 
@{
    
    var currentPage = ViewContext.RequestContext.HttpContext.Request["p"] != null 
        ? int.Parse(ViewContext.RequestContext.HttpContext.Request["p"]) 
        : 1;
     
  var totalPages = Math.Ceiling((double)Model.Count() / 1);  
}
 
@* Check do we need to display pagination links *@
 
@if (currentPage > 1 || currentPage < totalPages)
{
 /* var p = string.Format("p={0}", currentPage - 1);
  var n = string.Format("p={0}", currentPage + 1);
 
  @* If the view is rendered for "search" action append the pagination value with "&" *@
   
  if (ViewContext.RouteData.Values["action"].ToString()
    .Equals("search", StringComparison.OrdinalIgnoreCase))
  {
    var s = String.Format("?s={0}", ViewContext.RequestContext.HttpContext.Request.QueryString["s"]);
    p = String.Format("{0}&{1}", s, p);
    n = String.Format("{0}&{1}", s, n);
  }
  else
  {
    p = String.Concat("?", p);
    n = String.Concat("?", n);
  }*/
   
  <!--pagination links-->
  <div class="pager">
   
        @if (currentPage > 1)
        {
            @Ajax.ActionLinkTo("<< previous", "Index", "BlogRecord", "", "Загрузка...", routeValues: new { id = currentPage - 1})
        }
        @if(currentPage < totalPages)
        {
            @Ajax.ActionLinkTo("next >>", "Index", "BlogRecord", "", "Загрузка...", routeValues: new { id = currentPage + 1})
        }


@*    <a href="@p" title="Previous" class="previous"
        style="visibility:@(currentPage > 1 ? "visible" : "collapse")"><< previous</a>
         
    <a href="@n" title="Next" class="next"
        style="visibility:@(currentPage < totalPages ? "visible" : "collapse")">next >></a>*@
         
  </div>
}