﻿@model PascalWeb.DB.BlogRecord

@Html.Partial("_PageTittle", "PascalFM - Запись блога")
@Html.Partial("_HeadNavigation", 4)


<div class="l-content">
    <div class="container">

        @if (Model == null || Model.ID <= 0)
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Добавление записи</h1>
        }
        else
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Редактирование записи</h1>
        }

        <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 form-horizontal">
            @{
                List<PascalWeb.DB.Tag> tagList = null;
                if(Model != null) {
                    tagList = Model.BlogRecordAndTag.Select(obj => obj.Tag).ToList();
                }
                <div >
                    @{Html.RenderPartial("..//Tag//_tagSelectionView", tagList);}
                </div>
            }
        </div>

        @using (Html.BeginForm("CreateOrEdit", "BlogRecord", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            @class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 form-horizontal",
            role = "form",
            @style = "margin:0px"
        }))
        {

            @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

            <fieldset>      
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CreationDate)
                @Html.HiddenFor(model => model.BlogID)
                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.IsModerated)
                @Html.HiddenFor(model => model.ViewedCounter)
                @Html.HiddenFor(model => model.CommentsCounter)
                @Html.HiddenFor(model => model.Published)

                @Html.ValidationMessageFor(model => model.NoteFragment, null, htmlAttributes: new { @style = "color:red;"})

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control input-md", placeholder= "Название" })
                        @Html.ValidationMessageFor(model => model.Title, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-lg-offset-2">
                        <p style ="margin:20px">Чтобы отделить краткое описание текста от всего текста записи, используйте выделенную красным кнопку 
                            <img src="~/Content/img/help/page_breaker.jpg" width="150"/>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "col-md-2 control-label" })
                    <div class="col-md-9 col-md-9">
                        @Html.TextAreaFor(model => model.Note, htmlAttributes: new { @style = "min-height:500px"})
                        @Html.ValidationMessageFor(model => model.Note, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:center;">
@*                    <button type="button" class="btn btn-default" style="width:100px"  onclick="backToPreviousPage();">Отмена</button>*@
                    @Html.ActionLink("Отмена", "AdminBlogView", "Admin", 
                            new { blogID = Model.BlogID}, htmlAttributes: new { @class = "btn btn-default", @style="width:100px", withpjax = "withpjax" })
                    <button name="action:Edit" type="submit" class="btn btn-success " style="width:100px;margin-left:10px">Сохранить</button>
                </div>
            </fieldset>
        }

@*        <script type="text/javascript">
            $(document).ready(function () {
                alert('1');
                $('#tinymce').init(
                    {
                        width: "1000"
                    });

                alert('2');
            })
        </script>*@

        <div>

            <h3>Загрузка изображений для записи</h3>
            @using (Html.BeginForm("UploadImage", "BlogRecord", FormMethod.Post, 
	            new { enctype = "multipart/form-data", id="ImgForm", 
		            name="ImgForm", target="UploadTarget",
                    @style="margin-top:20px"
                }))
            {
	            <input class="btn btn-info col-xs-3" style="height:40px;min-width:300px" type="file" name="imageFile" />
	            <input class="btn btn-info col-xs-3" style="height:40px;min-width:300px;margin-left:10px" type="button" value="Добавить изображение" onclick="UploadImage()" />
            }
            <br />
            <iframe id="UploadTarget" name="UploadTarget" onload="UploadImage_Complete();" style="position: absolute; left: -999em; top: -999em;"></iframe>
            <div id="Images" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>

        </div>
    </div>
</div>

<script type="text/javascript">
	var isFirstLoad = true;

	function UploadImage() {
		$("#ImgForm").submit();
	}

	function UploadImage_Complete() {
		//Check to see if this is the first load of the iFrame
		if (isFirstLoad == true) {
			isFirstLoad = false;
			return;
		}

		//Reset the image form so the file won't get uploaded again
		document.getElementById("ImgForm").reset();

		//Grab the content of the textarea we named jsonResult .  This shold be loaded into 
		//the hidden iFrame.
		var newImg = $.parseJSON($("#UploadTarget").contents().find("#jsonResult")[0].innerHTML);

		//If there was an error, display it to the user
		if (newImg.IsValid == false) {
			alert(newImg.Message);
			return;
		}

		//Create a new image and insert it into the Images div.  Just to be fancy, 
		//we're going to use a "FadeIn" effect from jQuery
		var imgDiv = document.getElementById("Images");
		var img = new Image();
		img.src = newImg.ImagePath;
	//	img.width = 200;

        // create textbox with uri
		var input = document.createElement('input');
		input.type = "text";
		input.value = newImg.ImagePath;
		input.readOnly = true;

	    // create label
		var label = document.createElement('label');
		label.textContent = "Ссылка на изображение";
        
        // create separator
		var separator = document.createElement('hr');

        // br
		var br = document.createElement('br');

		//Hide the image before adding to the DOM
		$(img).hide();
		//imgDiv.appendChild(label);
		//imgDiv.appendChild(input);
		imgDiv.appendChild(br);
		imgDiv.appendChild(img);
		imgDiv.appendChild(separator);

		//Now fade the image in
		$(img).fadeIn(300, null);
	}

</script>


  <!-- TinyMCE Script Reference -->
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <!-- Script to wire up your TinyMCE editor -->
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor colorpicker textpattern"
            ],
            toolbar1: "insertfile undo redo | styleselect | forecolor backcolor emoticons | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent",
            toolbar2: "link image media pagebreak | preview ",
            image_advtab: true,
            default_link_target: "_blank"
            //,
            //templates: [
            //    { title: 'Test template 1', content: 'Test 1' },
            //    { title: 'Test template 2', content: 'Test 2' }
            //]
        });
    </script>


  <!--http://www.codeproject.com/Articles/830925/Integrating-TinyMCE-into-an-MVC-Project -->