﻿@model  PascalWeb.DB.Blog

@{
    ViewBag.Title = "Edit";
}

@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">

            @if (Model == null || Model.ID <= 0)
            {
                <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Создание блога</h1>
            }
            else
            {
                <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Редактирование информации блога</h1>
            }

        @using (Html.BeginForm("CreateOrEditBlog", "BlogRecord", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            @class = "col-md-12 col-lg-12 form-horizontal", role = "form"}))
        {
            @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

            <fieldset>

                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.CreationDate)
                @Html.HiddenFor(model => model.AuthorID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-md", placeholder= "Название" })
                        @Html.ValidationMessageFor(model => model.Name, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control input-md", placeholder= "Описание" })
                        @Html.ValidationMessageFor(model => model.Description, null, htmlAttributes: new { @style = "color:red;"})
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-md-4 control-label">Загрузить логотип (логотип квадратный, размер до 200 пикс на 200 пикс)</label>
                    <div class="col-md-6">
                        @if (@Model.SmallLogoPath != null)
                        {
                            string imageSrc = @Model.SmallLogoPath;
                            <img src="@imageSrc" width=100 height = 100 style="margin-right:10px;margin-bottom:10px;"  />
                            <br />
                            <label>Заменить:</label>
                        } 
                        <input type="file" name="file"/>
                    </div>
                </div>  

                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" class="btn btn-default col-md-3" onclick="backToPreviousPage();">Отмена</button>
                        <button name="action:Edit" type="submit" class="btn btn-success col-md-3" style="margin-left:10px">Сохранить</button>
                    </div>
                </div>

            </fieldset>
        }
    </div>
</div>

        @*<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>*@
