﻿@model PascalWeb.DB.PageModels.BlogRecordModel

    @Html.Partial("_HeadNavigation", 3)

    @Styles.Render("~/Content/RoxieTheme/css/style-custom-blog.css") 
    @Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css") 
    @Styles.Render("~/Content/RoxieTheme/css/style-custom-comment.css") 

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('pjax:success', function (event, data, status, xhr, options) {
            document.body.scrollTop = document.documentElement.scrollTop = 0;
         //   alert(window.location);
       //     window.location.hash = '#_userCommentBox';
        });
    })
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('pjax:success', function (event, data, status, xhr, options) {
         //   alert(window.location);
       //     window.location.hash = '#_userCommentBox';
        });
    })
</script>*@

<script type="text/javascript">
    //$(document).on('pjax:success', function (event, data, status, xhr, options) {
    //    //alert(window.location.hash);


    ////    alert(hash);
    //   // if (window.location.hash != "")

    //       // window.location.hash = '#_userCommentBox';
        
    //  //  history.back(1);

    //    //$('html, body').animate({
    //    //    scrollTop: $('#_userCommentBox').offset().top
    //    //}, 1000);


    //    //alert('sd');

    //    //$(window).scroll(0);

    //    //// run "custom_success" method passed to PJAX if it exists
    //    //if (typeof options.custom_success === 'function') {
    //    //    options.custom_success();
    //    //}
    //});


</script>

@if(Model != null){
    ViewBag.SocialInfo = "Блог " + Model.BlogRecord.Blog.Name;
    @Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ", Model.BlogRecord.Title))

    string creationDateStr = GeneralMethods.getFormatedDate(Model.BlogRecord.CreationDate);    

    
     <!-- CONTENT -->
    <div class="l-content">
        <div class="container b-blogs">
            <div class="">
                <section class="b-news b-news_blog" >
                    <article class="">  @*class="b-news__item"*@
                        <div class="b-news__item__head">
                            <span class="b-news__item__head__date">@creationDateStr</span>
                           @* <a href="#" title="" class="b-news__item__head__comment"  onClick="window.location.hash = '_userCommentBox'">@Model.BlogRecord.CommentsCounter.ToString()</a>*@
                            <span class="b-news__item__head__comment" >@Model.BlogRecord.CommentsCounter.ToString()</span>
                            <span class="b-news__item__head__count-watch">@Model.BlogRecord.ViewedCounter.ToString()</span>
                            @Html.ActionLink(@Model.BlogRecord.Blog.Name, "Index", "BlogRecord", new { blogID = @Model.BlogRecord.Blog.ID }, htmlAttributes: new { @class = "b-news__item__head__title", withpjax = "withpjax" })
                        </div>
                        <div class="b-news__item__wrap">
                            <div class="display: inline-block;" >
                                <span class="b-news__item__title-cat">@Model.BlogRecord.Title</span>
                            </div>
                            <br />
                            <span class="b-news__item__desrc">
                                @Html.Raw(@Model.BlogRecord.Note)
                            </span>
                        </div>
                        <div class="b-news__item__foot b-news__item__foot_mtb">
                            <div class="b-news__item__foot__social pull-right">
                                <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook" data-yashareTheme="counter"></div>

@*                                <a onclick="Share.vkontakte('PascalFM.ru','Pascal FM Программа','www.google.it/images/nav_logo195.png','Подробно')"> {шарь меня полностью}</a>*@

                            </div>
                            <div class="b-hashtags">
                                @{
                                    var tagList = PascalWeb.Controllers.TagController.stringToTagList(Model.BlogRecord.TagString);
                                    
                                    for (int i = 0; i < tagList.Count; i++)
                                    {
                                        <span>@Html.ActionLink(tagList[i], "Search", "Search", routeValues: new { query = "#" + tagList[i] },
                                            htmlAttributes: new { @class = "b-news__item__foot__item", withpjax = "withpjax" })</span>
                                    }
                                }
                            </div>
                        </div>
                    </article>
                </section>

                <div id="_userCommentBox">
                    @Html.Partial("..//ProgramEdition//_ViewCommentBox", Model.Comments)
                </div>
            </div>
        </div>
    </div>
}
