﻿@model PascalWeb.DB.PageModels.AdminBlogPageModel


@Html.Partial("_PageTittle", "PascalFM - Блоги")
@Html.Partial("_HeadNavigation", 2)

@Styles.Render("~/Content/RoxieTheme/css/style-custom-blogs.css")
@Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css")

<!-- CONTENT -->
<div class="l-content">
    <div class="container b-blogs">
        <aside class="col-240-fix">
@*            <span class="b-blck b-blck_bg-green">мои подписки</span>*@
            @Html.ActionLink("последние записи", "Index", "BlogRecord", null, htmlAttributes: new { @class = "b-blck b-blck_bg-green", @style="width:100%", withpjax = "withpjax" })

                <div class="b-rating">

                    <ul class="nav nav-tabs">
                        @{
                            //string activeThemeTab = Model.ChosenAuthorID.HasValue == false ? " active " : "";
                            //string activeAuthorTab = Model.ChosenAuthorID.HasValue == true ? " active " : "";
                            //string showAll = !Model.ChosenThemeID.HasValue && !Model.ChosenAuthorID.HasValue ? " background-color:#b8e2da; " : "";
                            var activeThemeTab = "active";
                            var activeAuthorTab = "";
                                    
                            <li class= "@activeThemeTab"><a href="#themes" data-toggle="tab">Темы</a></li>
                            <li class= "@activeAuthorTab"><a href="#authors" data-toggle="tab">Авторы</a></li>
                        }
                    </ul>
    
                    <div class="tab-content">
                        <div class="tab-pane @activeThemeTab" style="background-color: transparent;border-width: 0px;" id="themes">
                            <div class="b-rating__list b-main_color"  >
                                @for (int i = 0; i < Model.ThemeList.Count; i++)
                                {
                                    var item = Model.ThemeList[i];
                                    //string themeWithCount = string.Concat(item.ThemeName, " (" + item.ChildList.Count().ToString() + ")"); 


                                    <a href="#theme_@i" title="" class="list-group-item" data-toggle="collapse" style="color:#16A085; ">@item.ThemeName
                            @*            <span class="b-list-prog__item__link__count" style="top: 6px;">@item.ProgramList.Count().ToString()</span>*@
                                    </a>
                                    if (item.ChildList.Count() > 0)
                                    {
                                        <div class="panel-collapse collapse" id ="theme_@i">
                                            <div class="panel-body">
                                                @for (int j = 0; j < item.ChildList.Count(); j++)
                                                {
                                                    @Html.ActionLink(@item.ChildList.ElementAt(j).Name, "Index", "BlogRecord", new {blogID = @item.ChildList.ElementAt(j).ID}, htmlAttributes: new { @class = "list-group-item", @style = "background-color: transparent; border-width: 0px; margin-left:5px;color:#16A085; ", withpjax = "withpjax" })
                                                }
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>

                        <div class="tab-pane @activeAuthorTab" style="background-color: transparent;border-width: 0px;" id="authors">
                            <div class="b-rating__list b-main_color">
                               
                                @for (int i = 0; Model.PopularAuthorList != null && i < Model.PopularAuthorList.Count; i++)
                                {
                                    var item = Model.PopularAuthorList[i];
                                    //string activeKeyword = Model.ChosenAuthorID == item.UserID ? "background-color:#b8e2da;" : "";
                                    //string activeKeyword = "";
                                    
                                    
                                     <a href="#author_@i" class="list-group-item " data-toggle="collapse" >
                                         
                                            @if (!string.IsNullOrEmpty(@item.PhotoStr))
                                            {
                                                @:<img src="@item.PhotoStr" alt="" class="b-rating__list__item__img" style="vertical-align:middle">
                                            }
                                            else
                                            {
                                                @:<img alt="" class="b-main_image_default_user_small b-rating__list__item__img"  style="vertical-align:middle">
                                            }
                                         <span class="b-rating__list__item__name" style="height: auto;">@item.FullName</span>
                                        </a>
                                   
                                    
                                    if (item.Blog != null)
                                    {
                                        <div class="panel-collapse collapse" id ="author_@i">
                                            <div class="panel-body">
                                                @Html.ActionLink(item.Blog.Name, "Index", "BlogRecord", new {blogID = item.Blog.ID}, htmlAttributes: new { @class = "list-group-item", @style = "background-color: transparent; border-width: 0px; margin-left:5px;color:#16A085; ", withpjax = "withpjax" })
                                            </div>
                                        </div>
                                    }                      
                                }                                        

                            </div>
                        </div>

                    </div>
                   
                </div>
                    
        </aside>

        <div class="col-ml-240" id="bloginfo">
            @if(Model.Blog != null)
            {               
                <div id="@("_updateBlogSubscribeButton" + Model.Blog.ID.ToString())" style="" class="pull-right">
                    @Html.Partial("..//Subscription//_updateBlogSubscribeButton", new PascalWeb.DB.PageModels.Specific.SubscriptionButtonModel(Model.Blog.ID, Model.UserIsSubscribed, true))
                </div>
                <div style="display:inline-block;width:80%" >
                    <h1 class="b-title-h1 b-title-h1_fs22" style="text-align:center">@Model.Blog.Name</h1>
                    <h4 class="b-copyright__text" style="text-align:center">@Model.Blog.Description</h4>
                </div>
            } 
            else 
            {
                <h1 class="b-title-h1 b-title-h1_fs22" style="text-align:center" >Последние записи</h1>
            }
            @{
                Html.RenderPartial("_blogRecordListWithPagination", Model);
            }
                    
        </div>
       
    </div>
</div>
