﻿@model PascalWeb.DB.PageModels.AdminBlogPageModel    


@Html.Partial("_PageTittle", "PascalFM - Новости")
@Html.Partial("_HeadNavigation", 3)

@Styles.Render("~/Content/RoxieTheme/css/style-custom-news.css")
@Styles.Render("~/Content/RoxieTheme/css/style-custom-articles.css")


<!-- CONTENT -->
<div class="l-content">
    <div class="container">
        <h1 class="b-title-h1 b-title-h1_news b-title-h1_fs22">новости</h1>
        @{
            Html.RenderPartial("_blogRecordListWithPagination", Model);
        } 
    </div>
</div>