﻿@model PascalWeb.DB.PageModels.TagViewCommonModel

<div class="well" style="overflow: auto;padding:10px"> 
          
    @if (Model.Tags != null) 
    {
        foreach (var item in Model.Tags)
        {
             using (Ajax.BeginForm(Model.ManageViewCommonModel.ActionName, Model.ManageViewCommonModel.ControllerName, new { tagID = @item.ID }, new AjaxOptions
             {
                 HttpMethod = "GET",
                 InsertionMode = InsertionMode.Replace,
                 UpdateTargetId = Model.ManageViewCommonModel.UpdateTargetID,
                 LoadingElementId = "progress",
             }, new { @style = "float:left;margin:5px" }))
             {
                  @*<input type="submit" class="btn-default btn-xs" value="@item.Name @Model.ManageViewCommonModel.ControlActionName" />*@
        
        	    <div style="border:1px solid gray;float:left;border-radius: 5px;padding:3px">
                    <span class="input-sm" >@item.Name</span>
                    @if (@Model.ManageViewCommonModel.ActionType == PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel.eActionType.Add)
                    {    
                        <input type="submit" class="btn-info btn-xs" value="+" />
                    } 
                    @if (@Model.ManageViewCommonModel.ActionType == PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel.eActionType.Delete)
                    {    
                        <input type="submit" class="btn-danger btn-xs" value="–" />
                    } 
                </div>
             }
        }
    }

</div>