﻿@model IEnumerable<PascalWeb.DB.Tag>

<div class="panel panel-primary col-xs-12 col-sm-12 col-md-6 col-lg-6   col-md-offset-4 col-lg-offset-4" style="padding:10px">

    <div id="progress_tag" style="display: none;">
        <img src="/Content/images/process.gif" alt="loader" class="ajax-loader"/>
    </div>

    <div class="panel-heading">
        <h3 class="panel-title">Управление тегами</h3>
    </div>
    <h4>Ранее добавленные</h4>
    <div id="tagProgramView">
        @{
            PascalWeb.DB.PageModels.TagViewCommonModel @tagListModel = new PascalWeb.DB.PageModels.TagViewCommonModel(Model,
                new PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel("Tag", "DeleteTag", "tagProgramView", " (удалить)", PascalWeb.DB.AuxiliaryModels.ManageViewCommonModel.eActionType.Delete));
            Html.RenderPartial("..//Tag//_tagCommonView", model: tagListModel);
        }
    </div>

    <h4 style="padding-top:0px">Найти и добавить</h4>
    @using (Ajax.BeginForm( actionName:"TagSearch", controllerName:"Tag", routeValues: null, ajaxOptions: new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tagSearchResult",
        LoadingElementId = "progress_tag"
    }, htmlAttributes: new { @style = "padding-bottom:10px" }))
    {          
        <input type="text" class="" name = "tagFilter"  style="width:49%;height:35px" placeholder="Название тега">
        <input type="submit" class="btn btn-info"  style="width:49%;height:35px" value="Найти тег"/>
    }

    <div id="tagSearchResult" style="width:100%">
    </div>

</div>