﻿@model PascalWeb.DB.Tag


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    @if(Model.ID == 0){
        <h4 class="modal-title" id="">Создание тега</h4>
    } else
    {
        <h4 class="modal-title" id="">Редактирование тега</h4>
    }
</div>


@using (Ajax.BeginForm("Create", "Tag", null, AjaxHelpers.generateOptionsPost(), new
{
    @class = "col-md-12 col-lg-12 form-horizontal",
    role = "form",
    @style = "margin:0px;background-color:white"
}))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red;" })

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Level)
    @Html.HiddenFor(model => model.ParentTagID)

    <fieldset>


        <div class="form-group" style="">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-md", placeholder = "Название" })
                @Html.ValidationMessageFor(model => model.Name, null, htmlAttributes: new { @style = "color:red;" })
            </div>
        </div>

@*        <div class="form-group">
            @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Level, new { @class = "form-control input-md", placeholder= "Уровень" })
                @Html.ValidationMessageFor(model => model.Level, null, htmlAttributes: new { @style = "color:red;"})
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelForRequired(model => model.Level, htmlAttributes: new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Level, (SelectList)ViewBag.LevelList, "---Выберите уровень ---", htmlAttributes: new { @class = "form-control input-md", @disabled = false })  
                @Html.ValidationMessageFor(model => model.Level, null, htmlAttributes: new { @style = "color:red;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentTagID, htmlAttributes: new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.ParentTag.Name, new { @class = "form-control input-md", placeholder = "Тег предыдущего уровня", @readonly = "readonly" })
@*                @Html.ValidationMessageFor(model => model.ParentTagID, null, htmlAttributes: new { @style = "color:red;" })*@
            </div>
        </div>

        <div class="modal-footer ">
 @*            <button class="btn" data-dismiss="modal">Отмена</button>
           <input class="btn btn-primary" type="submit" value="Удалить" />*@
            <div class="col-md-offset-4">
                <button type="button" class="btn btn-default col-md-3" data-dismiss="modal">Отмена</button>
                <input  type="submit" class="btn btn-success col-md-3" style="margin-left:10px" value="Сохранить">
            </div>
        </div>

    </fieldset>
}