﻿@model List<PascalWeb.DB.PageModels.TagShowModel>

@Html.Partial("_PageTittle", "PascalFM - Управление тегами")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">
        
        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление тэгами</h1>
        @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
        <br />
        <br />

        <br />
        <div>
            <p style="text-align:justify;text-indent:25px;">Страница управления тегами предназначена для добавления, редактирования, удаления (если возможно) тегов, прикрепляемых к контенту.</p>
            <p style="text-align:justify;text-indent:25px;">У каждого тега есть обязательные атрибуты: "имя", "уровень" (от 1 до 4). Атрибут "тэг предыдущего уровня" необязателен для тэгов уровня 1.
                Смысл вновь добавляемого тэга должен соответствовать тэгу верхнего уровня (должен его уточнять).
            </p>
        </div>
        <br />

        <div class=" ">
            <span>Добавить новый тег первого уровня - </span>
            @Html.ActionLink("Добавить тег первого уровня", "CreateChildTag", "Tag", new { parentTagID = new int?(), isFirstLevelTag = true},
                    new { data_modal = "", id = "btnCreateModal", @class = "btn btn-small btn-primary" })
        </div>

        <div class="" style="margin-top: 20px;">
            <h4 style="padding-top:0px">Поиск пользователя</h4>
            @using (Html.BeginForm("Index", "Tag", FormMethod.Get, new
            {
                @class = "",
                role = "form",
                withpjax = "withpjax"
            }))
            {
                <input type="text" class="" name = "query"  style="width:49%;height:35px" placeholder="Поиск">
                <input type="submit" class="btn btn-primary pull-right"  style="width:49%;height:35px" value="Найти"/>
            }    
        </div>
        <br />

        <table id="userSearchResult" class="table table-bordered" style="width:100%">
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Уровень</th>
                <th>Тэг предыдущего уровня</th>
                <th>Дочерние теги</th>
                <th>Управление</th>
            </tr>
            @for(int i=0; i<Model.Count; i++)
            {
                var tagModel = @Model[i];
                <tr>
                    <td>@tagModel.OrdinalNumber</td>
                    <td>@tagModel.Name</td>
                    <td>@tagModel.Level</td>
                    <td>@tagModel.ParentTag</td>
                    <td>
                        @if(tagModel.SubTags != null)
                        {
                            for (int j = 0; j < tagModel.SubTags.Count; j++)
                            {
                                <li>@tagModel.SubTags[j]</li>
                            }
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Add child", "CreateChildTag", "Tag", new { parentTagID = tagModel.ID, isFirstLevelTag = false},
                            new { data_modal = "", @class = "btn btn-info btn-xs btn-block", withpjax = "withpjax" })
                        @Html.ActionLink("Edit", "Edit", "Tag", new { id = tagModel.ID},
                            new { data_modal = "", @class="btn btn-info btn-xs btn-block", withpjax = "withpjax" })
                        @Html.ActionLink("Del", "Delete", "Tag", new { id = @Model[i].ID }, 
                            new {  data_modal = "", id = "btnDeleteModal", @class="btn btn-danger btn-xs btn-block" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}*@


@*<div class="l-content">
    <div class="container">

        <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Управление тэгами</h1>
        @Html.ActionLink("Назад к профилю", "Index", "Profile", null, htmlAttributes: new { @class = "btn btn-small btn-primary pull-right", withpjax = "withpjax" })
        <br />
        <br />

        <br />
        <div>
            <p style="text-align:justify;text-indent:25px;">Страница управления тегами предназначена для добавления, редактирования, удаления (если возможно) тегов, прикрепляемых к контенту.</p>
            <p style="text-align:justify;text-indent:25px;">У каждого тега есть обязательные атрибуты: "имя", "уровень" (от 1 до 4). Атрибут "тэг предыдущего уровня" необязателен для тэгов уровня 1.
                Смысл вновь добавляемого тэга должен соответствовать тэгу верхнего уровня (должен его уточнять).
            </p>
        </div>
        <br />
        <style type="text/css">
            .dataTables_filter {
                 display: none;
            }
        </style> 

        <div class=" ">
            <span>Добавить новый тег первого уровня - </span>
            @Html.ActionLink("Добавить тег первого уровня", "CreateChildTag", "Tag", new { parentTagID = new int?(), isFirstLevelTag = true},
                    new { data_modal = "", id = "btnCreateModal", @class = "btn btn-small btn-primary" })
        </div>
          <br />

        <table id="tagTable" class="display" style="width:95%">

                <thead id="tagTableHead">
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Уровень</th>
                        <th>Тэг предыдущего уровня</th>
                        <th>Дочерние теги</th>
                        <th>Управление</th>
                    </tr>
                </thead>
 
                <tfoot>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Уровень</th>
                        <th>Тэг предыдущего уровня</th>
                        <th>Дочерние теги</th>
                        <th>Управление</th>
                    </tr>
                </tfoot>

                <tbody>
                @for(int i=0; i<Model.Count; i++)
                {
                    var tagModel = @Model[i];
                    <tr>
                        <td>@tagModel.OrdinalNumber</td>
                        <td>@tagModel.Name</td>
                        <td>@tagModel.Level</td>
                        <td>@tagModel.ParentTag</td>
                        <td>
                            @if(tagModel.SubTags != null)
                            {
                                for (int j = 0; j < tagModel.SubTags.Count; j++)
                                {
                                    <li>@tagModel.SubTags[j]</li>
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Add child", "CreateChildTag", "Tag", new { parentTagID = tagModel.ID, isFirstLevelTag = false},
                                new { data_modal = "", @class = "btn btn-info btn-xs btn-block", withpjax = "withpjax" })
                            @Html.ActionLink("Edit", "Edit", "Tag", new { id = tagModel.ID},
                                new { data_modal = "", @class="btn btn-info btn-xs btn-block", withpjax = "withpjax" })
                            @Html.ActionLink("Del", "Delete", "Tag", new { id = @Model[i].ID }, 
                                new {  data_modal = "", id = "btnDeleteModal", @class="btn btn-danger btn-xs btn-block" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/Content/additional/DataTables/css/jquery.dataTables.css">

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/Content/additional/DataTables/js/jquery.dataTables.js"></script>


<!--https://datatables.net/examples/api/-->
<script>

    //data tables
    $(document).ready(function () {

        $('#tagTable').dataTable({
            "iDisplayLength": 25,
            "columnDefs": [
                { "width": "5%", "targets": 0 },
                { "width": "5%", "targets": 2 }
            ]

        });

        // Setup - add a text input to each footer cell
        $('#tagTable tfoot th').each(function () {
            var title = $('#tagTable thead th').eq($(this).index()).text();
            if (title == "Название" || title == "Уровень" || title == "Тэг предыдущего уровня") {
                $(this).html('<input type="text" placeholder="Поиск ' + title + '" />');
            } else {
                $(this).html('');
            }
        });

        // DataTable
        var table = $('#tagTable').DataTable();

        // Apply the search
        table.columns().eq(0).each(function (colIdx) {
            $('input', table.column(colIdx).footer()).on('keyup change', function () {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    });

</script>*@
