﻿@model PascalWeb.DB.PageModels.SearchModel


<div class="b-text b-message">По запросу &laquo;<span class="b-semibold">@Model.Query</span>&raquo; найдено <span class="b-semibold">@Model.NumberOfResults.ToString()</span> результатов</div>
<div id="searchResultItems" style="width:100%">
    <ol class="b-list-result">
        @if (Model != null)
        {
            for (int i = 0; i < Model.SearchResultList.Count; i++)
            {
                PascalWeb.DB.PageModels.SearchResult item = Model.SearchResultList[i];
                 <li class="b-list-result__item">
                    <img src="@item.ImagePath" alt="" class="b-list-result__item__img">
                    <div style="display:inline-block">
                        @if (item.ResultType == PascalWeb.DB.PageModels.SearchResult.SearchResultType.ProgramEdition)
                        {
                            <span>Подкасты / </span>@Html.ActionLink(item.ParentName, "Details", "Program", routeValues: new { id = item.ParentID },
                                htmlAttributes: new { @class = "b-list-result__item__cat", @style="display:inline", withpjax = "withpjax"});
                        } else
                        {
                            <span>Блоги / </span>@Html.ActionLink(item.ParentName, "Index", "BlogRecord", routeValues: new { blogID = item.ParentID },
                                htmlAttributes: new { @class = "b-list-result__item__cat", @style="display:inline", withpjax = "withpjax"});
                        }
                    </div>
                    <a href="#" title="">
                        @if (item.ResultType == PascalWeb.DB.PageModels.SearchResult.SearchResultType.ProgramEdition)
                        {
                            @Html.ActionLink(item.RecordName, "Details", "ProgramEdition", routeValues:new { id = item.RecordID }, 
                                htmlAttributes: new { @class = "b-semibold b-list-result__item__title", @style="margin-top:10px", withpjax = "withpjax"})
                            <div class="b-list-result__item__txt">@item.Description</div>
                        } else
                        {
                            @Html.ActionLink(item.RecordName, "Details", "BlogRecord", routeValues:new { id = item.RecordID }, 
                                htmlAttributes: new { @class = "b-semibold b-list-result__item__title", @style="margin-top:10px", withpjax = "withpjax"})
                            <span class="b-news__item__desrc">
                                @Html.Raw(@item.Description) 
                            </span>
                        }
                    </a>
                </li>
            }

        }  
    </ol>     
</div>