﻿@model PascalWeb.DB.PageModels.SearchModel

@Html.Partial("_PageTittle", GeneralMethods.concatenateStrings("PascalFM", " - ", "Результаты поиска"))


@Styles.Render("~/Content/RoxieTheme/css/style-custom-search.css")

@Html.Partial("_HeadNavigation", 0)
       
 <!-- CONTENT -->
        <div class="l-content">
            <section class="b-search">
                <div class="container">
                    <h1 class="b-title-h1 b-title-h1_fs25">результаты поиска</h1>
                    <div style="display:inline">
                        @using (Ajax.BeginForm(actionName: "PartialSearch", controllerName: "Search", routeValues: new { modelData1 = @Model }, ajaxOptions: new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "searchResultItems",
                            LoadingElementId = "progress"
                        }, htmlAttributes: new { @class = "b-form" }))
                        {        
                            <div style="display:inline">
                                @Html.TextBoxFor(m => Model.Query, new { @class = "b-form__inp", @style = "width:100%;height:35px;", placeholder = "Поиск" })
                                <input type="submit" class="btn btn-primary pull-right"  style="width:19%;height:35px" value="Найти"/>
                            </div>
                        }
                    </div>


@*                    <form class="b-form" action="#" method="post">
                        <input type="text" class="b-form__inp" placeholder="Собеседование">
                        <div class="b-form__check_bg">*@
@*                            <input id="programm" data-toggle="checkbox-x" value="1" data-three-state="false">
                            <label for="programm" class="b-form__label">Программы</label>
                            <input id="blogs" data-toggle="checkbox-x" value="1" data-three-state="false">
                            <label for="blogs" class="b-form__label">Блоги</label>*@
@*                            @Html.CheckBoxFor(m => m.IsHashTag, new { @class="b-form___checkbox", @checked = "checked"})
                            @Html.CheckBoxFor(m => m.IsHashTag, new { @class="b-form___checkbox", @checked = "checked"})*@
@*                        </div>
                        <input type="button" value="поиск" class="btn btn-primary">*@
@*                    </form>*@

@*                    <div class="b-text b-message">По запросу &laquo;<span class="b-semibold">@Model.Query</span>&raquo; найдено <span class="b-semibold">@Model.NumberOfResults.ToString()</span> результатов</div>*@
                    <div id="searchResultItems">
                        @{
                            Html.RenderPartial("_resultItems", Model);
                        }
                    </div>
                </div>
            </section>
@*            <div class="b-pager">
                <a href="#" title="" class="b-pager__link b-pager__link_unactive"><</a>
                <a href="#" title="" class="b-pager__link b-pager__link_active">1</a>
                <a href="#" title="" class="b-pager__link b-pager__link_unactive">...</a>
                <a href="#" title="" class="b-pager__link b-pager__link_unactive">5</a>
                <a href="#" title="" class="b-pager__link b-pager__link_unactive">19</a>
                <a href="#" title="" class="b-pager__link b-pager__link_unactive">20</a>
                <a href="#" title="" class="b-pager__link b-pager__link_unactive">></a>
            </div>*@
        </div>

<script src="@Url.Content("/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>