﻿@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{

}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <fieldset id="socialLoginList">
    @*        <p>
            @foreach (AuthenticationClientData p in Model)
            {
                <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
            }
            </p>*@

            <div class="b-share b-custom-style">
                <button class="b-share__icon b-share__icon_facebook" type="submit" name="provider" value="@PascalWeb.DB.Enumerators.eAuthType.facebook" title="" style="border:none;"/>
                <button class="b-share__icon b-share__icon_vkontakte" type="submit" name="provider" value="@PascalWeb.DB.Enumerators.eAuthType.vkontakte" title="" style="border:none;"/>


                @*<a class="b-share__icon b-share__icon_facebook" href="@Url.Action("ExternalLogin", "Account", new { provider = PascalWeb.DB.Enumerators.eAuthType.facebook, returnUrl = ViewBag.ReturnUrl })" title="">facebook</a>*@   

@*                <a class="b-share__icon b-share__icon_vkontakte" href="#" title="">vkontakte</a>
                <a class="b-share__icon b-share__icon_twitter" href="#" title="">twitter</a>
                <a class="b-share__icon b-share__icon_gplus" href="#" title="">gplus</a>*@
            </div>
        </fieldset>
    }
}
