﻿@Html.Partial("_PageTittle", "PascalFM - Соглашение")
@Html.Partial("_HeadNavigation", 4)

@*converted from doc to html by http://word2cleanhtml.com/cleanit*@

<div class="l-content">
    <div class="container">

        <div id="main">
            <br />
	        <div id="content">
                
<p style="margin:0cm;margin-bottom:.0001pt;text-align:center;
line-height:150%" align="center"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Условия
использования</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:center;
line-height:150%" align="center">&nbsp;</p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">1. Вступление в силу
настоящего Пользовательского соглашения</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Настоящее
пользовательское соглашение (далее – «Соглашение») представляет собой публичную
оферту и вступает в силу с момента Вашей регистрации на сайте</span><a href="http://www.pascal.fm/"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black;text-decoration:none;text-underline:none"> </span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:#1155CC">www.pascal.fm</span></a><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"> (далее – «Сайт»).
Соглашение является юридически обязывающим договором между Пользователем и
администрацией Сайта и регламентирует использование Пользователем Сайта и
Сервисов Pascal.FM.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Регистрируясь
на Сайте путем нажатия на кнопку «Зарегистрироваться», Вы приобретаете статус
«Пользователь» и подтверждаете администрации Сайта, что полностью
&nbsp;ознакомились с содержанием Соглашения и выражаете свое безусловное
согласие с его условиями без каких-либо ограничений, оговорок, исключений.
Соглашение признается заключенным с момента успешного завершения процедуры
регистрации. Положения Соглашения являются обязательными для всех
регистрирующихся и ранее зарегистрированных Пользователей.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Все
изменения и/или дополнения к Соглашению, равно как и новая редакция ПС,
размещаются администрацией Сайта взамен старого и вступают в силу по истечении
3 (трех) календарных дней с момента его публикации, если иное не предусмотрено
новой редакцией Соглашения. Действующая редакция Соглашения всегда находится на
вышеуказанной странице. Пользователь вправе отвергнуть дополнительные внесения
либо изменения в Соглашение, производимые администрацией Сайта, что означает
полный отказ Пользователя от услуг Сайта и расторжение Соглашения.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">2. Предмет Соглашения</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Сервисы
Pascal.FM</span></b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">
– это, среди прочего, сервисы для работы с подкастами, дающие возможность
публикации одного или серии аудио и/или видео-передач в сети Интернет в
различных форматах сжатия, при котором они анонсируются особым образом,
позволяющим автоматизировать загрузку новых выпусков на устройство
воспроизведения Пользователя.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">3. Общие положения</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">После
завершения процесса регистрации Вы несете ответственность за безопасность
Вашего логина и пароля, а также за все, что будет сделано на Сайте под Вашим
логином и паролем. Вы соглашаетесь с тем, что Вы обязаны немедленно уведомить
Сайт о любом факте несанкционированного доступа под Вашим логином и паролем
и/или о любом нарушении безопасности.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Администрация
Сайта обращает внимание Пользователей, что Сервисы Pascal.FM, могут содержать
информацию, предназначенную только для совершеннолетних лиц. Соглашение
предписывает лицам, не достигшим 18 лет, воздержаться от доступа к такой
информации и таким сервисам. В интересах лиц, не достигших совершеннолетия либо
ограниченно дееспособных, Соглашение может быть заключено только их законными
представителями (родителями, опекунами и т.д.), попечителем.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">В
случае если законодательство государства, на территории которого находится
Пользователь, содержит ограничения и/или запрет на использование Сервисов
Pascal.FM или иных услуг администрации Сайта, включая ограничения по возрасту
допуска к таким услугам, предоставляемым в соответствии с Соглашением,
Пользователь самостоятельно несет ответственность за несоблюдение требований такого
законодательства.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
принимает и соглашается с тем, что Сайт, Сервисы Pascal.FM могут содержать
ссылки на сайты и ресурсы третьих лиц. В связи с этим, администрация Сайта не
несет никакой ответственности за доступность, достоверность и безопасность этих
ссылок, ресурсов и за их содержание, а равно за любые последствия, связанные с
использованием таких ссылок, ресурсов и их содержания.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Принимая
условия Соглашения, Пользователь подтверждает свою готовность предоставить
Администрации Сайта право на обработку (в т.ч. право запросить, собирать и
хранить, с учетом положений ФЗ «О персональных данных») персональных данных
Пользователя, включая полученную от Пользователя информацию о фамилии, имени,
отчестве, поле, возрасте, адресе зарегистрированного или фактического
пребывания, контактных телефонах или адресах электронной почты или иных средств
электронной коммуникации, данные о платежных реквизитах Пользователя.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователю
в процессе пользования Сайтом, равно как и Сервисами Pascal.FM, предоставляется
(если иное прямо не указано иное) непередаваемое, неотчуждаемое, безвозмездное
право использовать программное обеспечение, получаемое Пользователем в процессе
пользования Сайтом, Сервисами Pascal.FM, при условии, что ни сам Пользователь,
ни любые иные лица при содействии со стороны Пользователя не будут изменять
предоставляемое программное обеспечение; создавать программы, производные от
предоставляемого программного обеспечения; проникать в программное обеспечение
с целью получения кодов программ; осуществлять продажу, уступку, сдачу в
аренду, прокат, передачу третьим лицам в любой иной форме прав в отношении
программного обеспечения администрации Сайта, предоставленных Пользователю, а
также модифицировать функционал Сайта, Сервисы Pascal.FM, в том числе с целью
получения несанкционированного доступа к ним.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Администрация
Сайта управляет Сайтом, равно как и Сервисами Pascal.FM, исключительно по
своему усмотрению. Для сбора статистических данных, соблюдения действующего
законодательства, пресечения его нарушений, администрация Сайта может
отслеживать и сохранять информацию об IP-адресах доступа Пользователя к Сайту,
использовать файлы технической информации (cookies), размещаемые на локальном
терминале Пользователя и/или посетителя Сайта.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
принимает и соглашается с тем, что Сайт и Сервисы Pascal.FM предоставляются
"как есть" и что администрация Сайта не несет никакой ответственности
ни за какие загрузки, задержки, сбои, неверную или несвоевременную доставку,
удаление, утерю или не сохранность какой-либо информации, ее качество и
достоверность, в том числе информации Пользователя, а равно возникшие в связи с
такими событиями, в том числе в связи с заявлениями и действиями пользователей,
третьих лиц прямые и косвенные убытки (реальный ущерб и упущенную выгоду). Все
вопросы приобретения Пользователями прав доступа в Интернет, покупки и
настройки соответствующего оборудования и программного обеспечения решаются
Пользователями самостоятельно и не подпадают под действие Соглашения. В любом
случае, Пользователь соглашается с тем, что ответственность администрации Сайта
ограничивается суммой, выплаченной Пользователем в пользу администрации Сайта
за пользование Сайтом и/или Сервисами Pascal.FM в течение не более одного
календарного года.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
признает и соглашается с тем, что Сайт и Сервисы Pascal.FM, равно как и все
необходимые программы защищены авторскими правами, торговыми марками,
патентами, законами об интеллектуальной собственности и прочими
соответствующими российскими и международными законами.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
признает и соглашается с тем, что администрация Pascal.FM имеет право на
размещение рекламного ролика в официальных программах Pascal.FM.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">4. Регистрация, пароль и
безопасность.</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Для
получения доступа к Сервисам Pascal.FM, Вы обязуетесь пройти процедуру
регистрации, предусмотренную Сайтом, при прохождении которой Вы соглашаетесь
предоставить точную и правдивую информацию о себе в соответствии с вопросами,
представленными в форме регистрации, и поддерживать эту информацию в актуальном
состоянии. В случае если Пользователь предоставляет неверную информацию или у
администрации Сайта возникнут серьезные основания полагать, что предоставленная
Пользователем информация неточна или неверна, администрация Сайта вправе
удалить учетную запись такого Пользователя или отказать ему в праве доступа и
пользования всех или части Сайта, Сервисов Pascal.FM.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">По
завершении процесса регистрации Пользователь получает логин и пароль для
доступа к персонализированной части Сайта и Сервисов Pascal.FM. Администрация
Сайта вправе запретить использование определенных логинов и/или изъять их из
обращения. Зарегистрировавшись на Сайте, Пользователь получает непередаваемое
право пользования своей учетной записью для доступа к Сайту и Сервисам
Pascal.FM.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Во
всякое время Пользователь самостоятельно несет ответственность за безопасность
полученных им логина и пароля, а также за все, что будет сделано под указанными
логином и паролем на Сайте и с Сервисами Pascal.FM. Пользователь обязуется
хранить в тайне полученный им Логин и Пароль. Администрация Сайта ни в коей
мере не отвечает за возможную потерю или порчу данных, которая может произойти,
в частности из-за нарушения Пользователем положений Соглашения, а также за
последствия такой утери.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Поскольку
пароли Пользователей хранятся в зашифрованном виде, администрация Сайта не
имеет возможности их читать, а значит и передавать их третьим лицам.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:36.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
не вправе передавать свою учетную запись третьим лицам, а также получать от
третьих лиц учетные записи, кроме как с письменного разрешения администрации
Сайта. Пользователь соглашается с тем, что он обязан немедленно уведомить
администрацию Сайта о любом случае несанкционированного (не разрешенного
Пользователем) доступа с его учетной записи или о любом нарушении безопасности,
а также с тем, что Пользователь самостоятельно осуществляет завершение работы
под своей учетной записью (кнопка "Выход") по окончании каждой сессии
работы с Сайтом и Сервисами Pascal.FM.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и соглашается с тем, что администрация Сайта оставляет за собой право
прекращения по своему безапелляционному усмотрению действия учетной записи
Пользователя и удалить любые размещенные Пользователем данные по любой причине,
в том числе при неиспользовании доступа или при нарушении Соглашения.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и соглашается с тем, что администрация Сайта оставляет за собой право
блокировать подозрительные учетные записи, и только после предоставления
достаточных доказательств невиновности со стороны Пользователя и подробной
перепроверки учетная запись Пользователя может быть разблокирована. При
обнаружении учетной записи, содержание которой квалифицируется администрацией
Сайта как нарушающее Соглашение, такая запись может быть заблокирована до
выяснения подробностей. При неоднократных нарушениях Соглашения Пользователю
может быть отказано в предоставлении любых сервисов. Вместе с тем, такой отказ
- явление исключительное, и может произойти только при игнорировании
Пользователем предупреждений со стороны администрации Сайта.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и соглашается с тем, что он не вправе осуществлять какие-либо
действия, направленные на получение несанкционированного доступа, в том числе
привилегированного, к ресурсам Сайта и Сервисам Pascal.FM (компьютерам, другому
оборудованию или программному обеспечению), а также не вправе осуществлять
последующее использование такого доступа, уничтожение или модификацию
программного обеспечения или данных, не принадлежащих Пользователю.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и признает, что администрация Сайта вправе устанавливать ограничения в
использовании Сайта и Сервисов Pascal.FM, в том числе: срок хранения и
максимальное количество личных сообщений, получаемых Пользователями, Сервисов
Pascal.FM, максимальное количество сообщений, которые могут быть посланы
зарегистрированным Пользователем, максимальный размер отправляемого
Пользователем сообщения и пр. Пользователь понимает и признает, что
Администрация Сайта вправе изменить правила и ограничения в любое время, с или
без предварительного уведомления.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">5. Обязательства
Пользователя</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и соглашается с тем, что он самостоятельно несет полную единоличную
ответственность за все возможные последствия, которые могут возникнуть в
результате получения доступа, размещения Пользователем информации (данных,
текстов, графики, фотографий, сообщений и других материалов) для общего доступа
или в результате передачи им такой информации в частном порядке, в том числе
информации, введенной в качестве регистрационной, либо любым другим способом,
при пользовании Сервисами Pascal.FM. Администрация Сайта не контролирует
информацию, переданную Пользователями через сеть Интернет, Сервисы Pascal.FM,
и, следовательно, не гарантирует ее качество, точность и полноту. Администрация
Сайта не несет никакой ответственности по договорам между Пользователем и
любыми третьими лицами.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и соглашается с тем, что, используя Сервисы Pascal.FM, осуществляя
навигацию по Сайту, он может встретить информацию других Пользователей, которая
является оскорбительной, недостойной или недостоверной.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
обязуется не предъявлять напрямую к администрации Сайта любые претензии, не
принимать в отношении администрации Сайта напрямую или косвенно любые меры и не
становиться инициатором мер, препятствующих обычной работе Сайта, Сервисов
Pascal.FM. Вышеуказанные претензии, опровержения, Пользователь обязуется всякий
раз направлять автору (владельцу) такой информации любыми средствами, но, как
минимум, посредством Сайта. Пользователь соглашается с тем, что споры в
отношении достоверности представленной на Сайте информации иных пользователей
должны быть разрешены только органами, специально уполномоченными на
рассмотрение таких споров, или судом.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
обязуется не использовать Сайт, Сервисы Pascal.FM для:</span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">хранения, размещения, переадресации и рассылки данных и
информации, являющихся незаконными, вредоносными, экстремистскими, угрожающими,
клеветническими, оскорбляющими нравственность, нарушающих авторские и другие
права на объекты интеллектуальной собственности, пропагандирующих
безнравственность или дискриминацию людей по расовому, этническому, половому,
религиозному, социальному признакам, содержащих оскорбления в адрес конкретных
лиц или организаций, призывы к террористической, экстремистской, разжигающей
национальную, религиозную и иную рознь деятельности;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">ущемления прав меньшинств, нарушения прав несовершеннолетних лиц
и/или причинение им вреда в любой форме;</span><span style="font-size:11.5pt;
line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">выдачи и/или попытки выдачи себя за другого человека, представителя
организации или сообщества без достаточных на то прав, в том числе за
сотрудников администрации Сайта, а также введения в заблуждение относительно
свойств или характеристик каких-либо субъектов или объектов;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">публикации, размещения и/или рассылки данных, программ и
информации, которые Пользователь не вправе делать доступными по закону РФ и/или
согласно каким-либо контрактным/договорным, иным отношениям;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">публикации, рассылки и/или прочего размещения, а равно
копирования, продажи, перепродажи, иного коммерческого/некоммерческого
использования данных и информации (в частности, являющихся содержимым Сайта или
его частью, Сервиса Pascal.FM), которые нарушают какой-либо патент, торговую
марку, коммерческую тайну, копирайт или прочие права собственности, авторские
или смежные с ними права третьих лиц и сторон (за исключением случаев получения
прямого письменного согласия Компании, в частности, по соответствующему
договору);</span><span style="font-size:11.5pt;line-height:150%;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">размещения, переадресации и рассылки любой рекламной информации
(за исключением случаев размещения такой информации с письменного согласия
Компании по соответствующему договору), персональных данных третьих лиц, схем
многоуровневого "сетевого" маркетинга (MLM), систем
интернет-заработка или email-бизнесов, "писем счастья", писем,
программ и информации религиозной, в особенности сектантской направленности;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l1 level1 lfo1;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">осуществления массовой, свыше 10 (десяти) адресатов,
несанкционированной и/или неожидаемой получателями почтовой рассылки рекламного
характера - спам, а равно ее переадресации, а также неоднократной
несогласованной посылки писем одному адресату без его документально
подтвержденного согласия. Под спамом также понимается:</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">- Использование рекламных
текстов, не имеющих прямого отношения к тематике Сайта, Сервиса Pascal.FM;</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">- Использование нескольких
учетных записей для искусственного увеличения популярности подкаста/слайдкаста;</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">- Использование на
страницах Сайта технических средств отображения рекламы или другой информации
при помощи скриптов, апплетов или других программных модулей;</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">- Ссылки на сайты третьих
лиц с большим количеством pop-up окон или автоматической переадресацией на
другие ресурсы.</span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l0 level1 lfo2;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">размещения, переадресации и рассылки данных и информации,
содержащих вирусы и/или другие компьютерные коды, файлы и программы,
предназначенные для нарушения, уничтожения и/или ограничения функциональности
любого компьютерного или телекоммуникационного оборудования или программ, для
осуществления несанкционированного доступа, а также серийные номера к
коммерческим программным продуктам и программы для их подбора и генерации,
логины, пароли и прочие средства для получения несанкционированного доступа к
платным Интернет-ресурсам, а так же размещения ссылок на вышеуказанную
информацию;</span><span style="font-size:11.5pt;line-height:150%;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l0 level1 lfo2;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">умышленного нарушения применимого российского законодательства или
норм международного права;</span><span style="font-size:11.5pt;line-height:
150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l0 level1 lfo2;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">отправки и передачи личных сообщений в чей-либо адрес, содержащих
грубые, нецензурные и оскорбительные выражения и предложения, а также отправки
таких писем в службу технической поддержки администрации Сайта;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l0 level1 lfo2;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">сбора и хранения персональных данных других лиц;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l0 level1 lfo2;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">умышленного нарушения нормальной работы любого из Сервисов
Pascal.FM;</span><span style="font-size:11.5pt;line-height:150%;font-family:
&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l0 level1 lfo2;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">размещения ссылок на ресурсы Интернет, содержание которых
противоречит действующему законодательству РФ.</span><span style="font-size:
11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">При голосовании за
подкасты/слайдкасты Сайта Пользователю запрещается:</span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l3 level1 lfo3;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">Использование любых технических средств, позволяющих
автоматизировать процесс голосования;</span><span style="font-size:11.5pt;
line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l3 level1 lfo3;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">Осуществлять попытки каким-либо образом обмануть, повлиять на
систему определения рейтинга, а также попытки давления на администрацию Сайта с
целью изменения рейтинга.</span><span style="font-size:11.5pt;line-height:150%;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l3 level1 lfo3;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">Осуществлять критику существующей системы определения рейтинга и
администрации Сайта без предложения к рассмотрению своих вариантов, а также без
наличия фактических, документально подтвержденных доказательств, подтверждающих
неэффективность существующей системы или ошибочность ее работы.</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и признает, что сообщения от администрации Сайта Пользователям,
содержащие организационно-техническую и прочую информацию о Сайте, его
администрации, Сервисах Pascal.FM не считаются спамом.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:18.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь
понимает и признает и соглашается, что администрация Сайта может размещать без
каких-либо ограничений рекламные материалы других Пользователей в подкастах
Пользователя и на их страницах Пользователя на Сайте по своему усмотрению, но в
соответствии с действующим законодательством РФ.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь соглашается с
тем, что его учетная запись на Сайте, а также его логин(ы) может(гут) быть
удален(ы) без предварительного уведомления, в случаях:</span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">использования на Сайте и в Сервисах Pascal.FM любых оскорбительных,
ненормативных, угрожающих, унижающих других Пользователей фраз и выражений, а
также информации, имеющей целью опорочить администрацию Сайта, Пользователя или
группу Пользователей исключительно по признакам пола, возраста, расовой или
национальной принадлежности, языка, отношения к религии, профессии, места
жительства и работы, а также в связи с их политическими убеждениями;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">использования Сайта и Сервисов Pascal.FM в целях совершения
уголовно наказуемых деяний, а именно: разглашения сведений, составляющих
государственную или иную специально охраняемую законом тайну; сведений о
способах, методах разработки, изготовления и использования, местах приобретения
наркотических веществ и их прекурсоров; пропаганды каких-либо преимуществ
использования отдельных наркотических средств, психотропных веществ, их
аналогов и прекурсоров, для осуществления экстремистской, террористической,
незаконной политической, религиозной, общественной и иной деятельности, для
распространения, переадресации информации, пропагандирующей порнографию, культ
насилия и жестокости, а также распространение иной информации, распространение
которой запрещено российским законодательством;</span><span style="font-size:
11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">ведения, за исключением прямо разрешенной в письменном виде на
Сайте, предпринимательской деятельности, продвижения иных сайтов, групп в
социальных сетях;</span><span style="font-size:11.5pt;line-height:150%;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">формирования или организации группы на Сайте, основанной на
клеветнической или человеконенавистнической философии, проповедующие расовую
ненависть и/или религиозную, иную нетерпимость;</span><span style="font-size:
11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">совершение любых действий, которые затруднят администрации Сайта
поддержку работоспособности Сайта и Сервисов Pascal.FM;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">передачи на оборудование Сайта и Сервисов Pascal.FM бессмысленной
и/или бесполезной информации, создающей паразитную нагрузку на такое
оборудование, в объемах, превышающих минимально необходимые для проверки
связности ресурсов и доступности отдельных их элементов;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">представления Пользователя любым доступным в рамках Сайта и
Сервисов Pascal.FM средством коммуникации, сотрудником администрации Сайта,
службы технической поддержки Сайта или другим Пользователем;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">нарушения требований сотрудников администрации Сайта, ее
оскорбления и хамские высказывания;</span><span style="font-size:11.5pt;
line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">умышленного искажения принятых норм русского языка, этикета и
сетевого общения. Использования ненормативной лексики, сленга, жаргона (за
исключением профессиональных терминов и жаргонизмов или когда это одобрено
администрацией Сайта). Использования подобного рода слов в частично измененной,
но узнаваемой форме. Исключение составляют подкасты, в которых ненормативная лексика
является средством выражения экспрессии и органично вписывается в контекст;</span><span style="font-size:11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">публикации обвинений в адрес других пользователей или
администрации Сайта без предъявления доказательств в письменном виде.
Распространения заведомо ложной информации;</span><span style="font-size:11.5pt;
line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin-top:0cm;margin-right:0cm;margin-bottom:0cm;margin-left:36.0pt;
margin-bottom:.0001pt;text-align:justify;text-indent:-18.0pt;line-height:150%;
mso-list:l2 level1 lfo4;tab-stops:list 36.0pt;vertical-align:baseline"><span style="font-size:10.0pt;mso-bidi-font-size:11.5pt;line-height:150%;font-family:
Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black"><span style="mso-list:Ignore">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:black">иного нарушения условий Соглашения.</span><span style="font-size:
11.5pt;line-height:150%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black"></span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><b><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">6. Заключительные
положения</span></b></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Все
претензии, запросы, вопросы, любая иная корреспонденция, должны направляться
для администрации Сайта по адресу: </span><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;
color:#1155CC">support@pascal.fm</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Пользователь соглашается
на то, что все возможные споры по поводу Соглашения будут разрешаться в
соответствии с действующего законодательства Российской Федерации.</span></p>

<p style="margin:0cm;margin-bottom:.0001pt;text-align:justify;text-indent:35.0pt;
line-height:150%"><span style="font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:black">Ничто
в Соглашении не может пониматься как установление между Пользователем и
администрацией Сайта агентских отношений, отношений простого товарищества, отношений
по совместной деятельности, отношений личного найма, либо каких-то иных
отношений, прямо не предусмотренных Соглашением.</span></p>
            </div>
        </div>  

    </div>
</div>
