﻿@model PascalWeb.DB.PageModels.Registration.ChangePasswordModel

@Styles.Render("~/Content/RoxieTheme/css/style-custom-enter.css")


@Html.Partial("_PageTittle", "PascalFM - Смена пароля")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content l-content_enter">
    <section class="b-auth">
        <h1 class="b-title-h1 b-title-h1_fs25">Смена пароля</h1>

        @using (Ajax.BeginForm(actionName: "UpdatePassword", controllerName: "Account", routeValues: null, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ajax_main_container",
            LoadingElementId = "loadLayout"
        }, htmlAttributes: new { @class = "b-auth-form", @style = "padding-bottom:10px" }))
        {
            @Html.AntiForgeryToken()

            <div style="text-align:center;">
                @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })
            </div>

            @Html.HiddenFor(model => Model.UserID)

            <div style="display:block">
                @Html.ValidationMessageFor(model => model.PasswordObject.Password, null, htmlAttributes: new { @style = "color:red;" })
            </div>
            <div style="display:block">
                @Html.ValidationMessageFor(model => model.PasswordObject.PasswordConfirmation, null, htmlAttributes: new { @style = "color:red;" })
            </div>
            <br />
            
            <div class="b-auth-form__item">
                @Html.LabelForRequired(model => model.Email, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                @Html.TextBoxFor(model => model.Email, new { @class = "b-form__inp b-auth-form__item__inp", placeholder = "Email", @Autocomplete= "off", @readonly = "readonly" })
            </div>


            <div class="b-auth-form__item">
                @Html.LabelForRequired(model => model.PasswordObject.Password, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                @Html.PasswordFor(model => model.PasswordObject.Password, new { @class = "form-control js-require", placeholder = "Пароль" })
                @*<input type="password" name="Password" id="Password" value="@Model.PasswordObject.Password" class="b-form__inp b-auth-form__item__inp"  placeholder = "Пароль" Autocomplete= "off"/>*@
            </div>

            <div class="b-auth-form__item">
                @Html.LabelForRequired(model => model.PasswordObject.PasswordConfirmation, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                @Html.PasswordFor(model => model.PasswordObject.PasswordConfirmation, new { @class = "form-control js-require", placeholder = "Подтверждение пароля" })
                @*<input type="password" name="PasswordConfirmation" id="PasswordConfirmation" value="@Model.PasswordObject.PasswordConfirmation" class="b-form__inp b-auth-form__item__inp"  placeholder = "Подтверждение пароля" Autocomplete= "off"/>*@
            </div>
                        
            <div class="b-reg-form__item-btn"><input type="submit" value="Сохранить" class= "btn btn-primary" style="width:100%; margin-bottom:10px"></div>
        }
    </section>
</div>