﻿@model PascalWeb.DB.PageModels.Registration.WizardRegistrationModel

@Html.Partial("_PageTittle", "PascalFM - Редактирование анкеты")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content">
    <div class="container">

        @if(Model.Step1.ID.HasValue)
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Редактирование анкеты пользователя</h1>
        

            using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data",
                    @class = "col-md-12 col-lg-12 form-horizontal", role = "form", @style="margin:0px"}))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

                <fieldset>

                    @Html.HiddenFor(model => model.Step1.ID)

@*                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step1.Login, htmlAttributes: new { @class = "col-md-4 control-label" }) 
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Step1.Login, new { @class = "form-control input-md", placeholder= "Логин", @readonly="readonly"})
                            @Html.ValidationMessageFor(model => model.Step1.UserName, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>*@

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step1.Email, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Step1.Email, new { @class = "form-control input-md", placeholder= "E-mail", @readonly="readonly" })
                            @Html.ValidationMessageFor(model => model.Step1.Email, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step1.Birthdate, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Step1.Birthdate, "{0:yyyy-MM-dd}", new {  @class = "form-control input-md date form_datetime ", @readonly="readonly"})
                            @Html.ValidationMessageFor(model => model.Step1.Birthdate, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>

                    <hr style="height:1px;border:none;color:#333;background-color:#808080;" />

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step1.UserName, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Step1.UserName, new { @class = "form-control input-md", placeholder= "Имя" })
                            @Html.ValidationMessageFor(model => model.Step1.UserName, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>

                     <div class="form-group">
                        @Html.LabelForRequired(model => model.Step1.UserSurname, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Step1.UserSurname, new { @class = "form-control input-md", placeholder= "Фамилия" })
                            @Html.ValidationMessageFor(model => model.Step1.UserSurname, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.GenderIndex, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Step2.GenderIndex, (SelectList)ViewBag.UserGenders, "---Выберите пол ---", htmlAttributes: new { @class = "form-control input-md" })  
                            @Html.ValidationMessageFor(model => model.Step2.GenderIndex, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.MaritalStatusID, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Step2.MaritalStatusID, (SelectList)ViewBag.MaritalStatuses, "---Выберите статус ---", htmlAttributes: new { @class = "form-control input-md"})  
                            @Html.ValidationMessageFor(model => model.Step2.MaritalStatusID, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.EducationStatusID, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Step2.EducationStatusID, (SelectList)ViewBag.EducationStatuses, "---Выберите образование ---", htmlAttributes: new { @class = "form-control input-md"})  
                            @Html.ValidationMessageFor(model => model.Step2.EducationStatusID, null, htmlAttributes: new { @style = "color:red;"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.UserOccupationID, htmlAttributes: new { @class = "col-md-4 control-label" })
                        <div class="col-md-6">
                            @Html.DropDownListFor(model => model.Step2.UserOccupationID, (SelectList)ViewBag.UserOccupations, "---Выберите род занятий ---", htmlAttributes: new { @class = "form-control input-md" })  
                            @Html.ValidationMessageFor(model => model.Step2.UserOccupationID, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.UserInterests, htmlAttributes: new { @class = "col-md-4 control-label" })  
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Step2.UserInterests, new { @class = "form-control input-md"})
                            @Html.ValidationMessageFor(model => model.Step2.UserInterests, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                    </div>                    
                    
                    <div class="form-group">
                        <label class = "col-md-4 control-label">Загрузить фотографию (фотография квадратная, размер до 200 на 200 пикселей)</label>
                        <div class="col-md-6">
                            @if (@Model.Step1.SmallLogoPath != null)
                            {
                                string imageSrc = @Model.Step1.SmallLogoPath;
                                <img src="@imageSrc" width=50 height = 50 style="margin-right:10px;margin-bottom:10px;"  />
                                <br />
                                <label>Заменить:</label>
                            } 
                            <input type="file" name="file"/>
                        </div>
                    </div>  

                    @{

            
                        var isAdmin = User.IsInRole(PascalWeb.DB.Enumerators.eUserRoles.admin.ToString());
                        var isSuperadmin = User.IsInRole(PascalWeb.DB.Enumerators.eUserRoles.superadmin.ToString());

                        if (isAdmin || isSuperadmin)
                        {
                            <hr style="height:1px;border:none;color:#333;background-color:#808080;" />
            
                            <div class="form-group">
                                @Html.LabelForRequired(model => model.Step1.UserRoleID, htmlAttributes: new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.Step1.UserRoleID, (SelectList)ViewBag.UserRoles, "---Выберите роль ---", htmlAttributes: new { @class = "form-control input-md"})  
                                    @Html.ValidationMessageFor(model => model.Step1.UserRoleID, null, htmlAttributes: new { @style = "color:red;"})
                                </div>
                            </div>
            
                            <div class="form-group">
                                @Html.LabelForRequired(model => model.Step1.IsActivated, htmlAttributes: new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.CheckBoxFor(model => model.Step1.IsActivated, htmlAttributes: new { @class = "form-control input-md"})  
                                    @Html.ValidationMessageFor(model => model.Step1.IsActivated, null, htmlAttributes: new { @style = "color:red;"})
                                </div>
                            </div>
            
                            <div class="form-group">
                                @Html.LabelForRequired(model => model.Step1.IsLocked, htmlAttributes: new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.CheckBoxFor(model => model.Step1.IsLocked, htmlAttributes: new { @class = "form-control input-md"})  
                                    @Html.ValidationMessageFor(model => model.Step1.IsLocked, null, htmlAttributes: new { @style = "color:red;"})
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(model => model.Step1.IsActivated);
                            @Html.HiddenFor(model => model.Step1.IsLocked);
                            @Html.HiddenFor(model => model.Step1.UserRoleID);
                        }
            
                    }
        
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <button type="button" class="btn btn-default col-md-3" onclick="backToPreviousPage();">Отмена</button>
                            <input type="submit" value="Сохранить" class="btn btn-success col-md-3" style="margin-left:10px"/>
                    </div>

                </fieldset>
            }
        }

    </div>
</div>

    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 4,
            forceParse: 1,
            showMeridian: 1,
            minuteStep: 120,
            minView:2
        });
    </script> 

