﻿@model PascalWeb.Models.LoginModel


@Styles.Render("~/Content/RoxieTheme/css/style-custom-enter.css")

@Html.Partial("_PageTittle", "PascalFM - Вход")
@Html.Partial("_HeadNavigation", 4)


<div class="l-content l-content_enter">
    <section class="b-auth">
        <h1 class="b-title-h1 b-title-h1_fs25">авторизация</h1>

        @using (Ajax.BeginForm(actionName: "Login", controllerName: "Account", routeValues: null, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ajax_main_container",
            LoadingElementId = "loadLayout"
        }, htmlAttributes: new { @class = "", @style = "padding-bottom:10px" }))
        {
            @Html.AntiForgeryToken()

            <div style="text-align:center;">
                <div style="display:block">
                    @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })
                </div>
                <div style="display:block">
                    @Html.ValidationMessageFor(m => m.Email, null, htmlAttributes: new { @style = "color:red;" })
                </div>
                <div style="display:block">
                    @Html.ValidationMessageFor(m => m.Password, null, htmlAttributes: new { @style = "color:red;" })                
                 </div>
            </div>
            <br />

            <div class = "b-auth-form">
                <div class="b-auth-form__item">
                    @Html.TextBoxFor(m => m.Email, new { @class = "b-form__inp b-auth-form__item__inp", placeholder = "Email" })
                </div>
                <div class="b-auth-form__item">
                    @Html.PasswordFor(m => m.Password, new { @class = "b-form__inp b-auth-form__item__inp", placeholder = "Пароль" })
                </div>
                <div class="b-auth-form__item">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "b-form___checkbox", @checked = "checked" })
                    @Html.Label("Запомнить меня", new { @class = "b-form__label b-form__label__check b-form__txt_fs-12" })

                    @Html.ActionLink("Забыли пароль?", "Restore", "Account", null, new { @class = "b-form__link b-form__txt_fs-12", withpjax = "withpjax"})
                </div>
                <div class="" style="display:block">
                    <input type="submit" value="Войти" class= "btn btn-primary" style="width:100%; margin-bottom:10px"/>
                    @Html.ActionLink("Регистрация", "RegStepOne", "Account", null, new { @class = "btn btn-primary", @style = "width:100%;", withpjax = "withpjax" })
                </div>
            </div>
        }



        <h3 class="b-title-h3">войти через социальную сеть</h3>
       
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        
@*         <div class="b-share b-custom-style">
            <a class="b-share__icon b-share__icon_facebook" href="@Url.Action("ExternalLogin", "Account", new { provider = PascalWeb.DB.Enumerators.eAuthType.facebook, returnUrl = ViewBag.ReturnUrl })" title="">facebook</a>   

            <a class="b-share__icon b-share__icon_vkontakte" href="#" title="">vkontakte</a>
            <a class="b-share__icon b-share__icon_twitter" href="#" title="">twitter</a>
            <a class="b-share__icon b-share__icon_gplus" href="#" title="">gplus</a>
        </div>*@
    </section>
</div>




@*<div class="l-content l-content_enter">
    <section class="b-auth">
        <h1 class="b-title-h1 b-title-h1_fs25">авторизация</h1>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "b-auth-form", withpjax = "withpjax" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

        <div class="b-auth-form__item">
            @Html.TextBoxFor(m => m.UserName, new { @class = "b-form__inp b-auth-form__item__inp", placeholder= "Логин" })
            @Html.ValidationMessageFor(m => m.UserName, null, htmlAttributes: new { @style = "color:red;"})
        </div>
        <div class="b-auth-form__item">
            @Html.PasswordFor(m => m.Password, new { @class = "b-form__inp b-auth-form__item__inp", placeholder= "Пароль" })
            @Html.ValidationMessageFor(m => m.Password, null, htmlAttributes: new { @style = "color:red;"})
        </div>
        <div class="b-auth-form__item">
            @Html.CheckBoxFor(m => m.RememberMe, new { @class="b-form___checkbox", @checked = "checked"})
            @Html.Label("Запомнить меня", new { @class="b-form__label b-form__label__check b-form__txt_fs-12" })
            <a href="#" title="" class="b-form__link b-form__txt_fs-12">Забыли пароль?</a>
        </div>
        <div class="" style="display:block">
            <input type="submit" value="Войти" class= "btn btn-primary" style="width:100%; margin-bottom:10px"/>
            @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "btn btn-primary", @style="width:100%", withpjax = "withpjax"})
        </div>
    }
    <h3 class="b-title-h3">войти через социальную сеть</h3>
    <div class="b-share b-custom-style">
        <a class="b-share__icon b-share__icon_facebook" href="#" title="">facebook</a>
        <a class="b-share__icon b-share__icon_vkontakte" href="#" title="">vkontakte</a>
        <a class="b-share__icon b-share__icon_twitter" href="#" title="">twitter</a>
        <a class="b-share__icon b-share__icon_gplus" href="#" title="">gplus</a>
    </div>
    </section>
</div>*@