﻿@model PascalWeb.DB.PageModels.UserUnitedModel


@Html.Partial("_PageTittle", "PascalFM - Регистрация")
@Html.Partial("_HeadNavigation", 4)


<div class="l-content">
    <div class="container">
        
        @if(Model.UserAuth.ID == 0)
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Регистрация</h1>
        }
        else
        {
            <h1 class="b-title-h1 b-title-h1-center b-title-h1_fs22">Редактирование анкеты пользователя</h1>
        }


        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            @class = "col-md-12 col-lg-12 form-horizontal",
            role = "form",
            @style = "margin:0px"
        }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

            <fieldset>


                @Html.HiddenFor(model => model.UserAuth.ID)
                @Html.HiddenFor(model => model.UserAuth.CreationDate)
                @Html.HiddenFor(model => model.UserAuth.NewEmailKey)
                @Html.HiddenFor(model => model.UserAuth.PasswordHash)
                @Html.HiddenFor(model => model.UserAuth.PasswordSalt)
                @Html.HiddenFor(model => model.UserAuth.UserRoleID)

                @Html.HiddenFor(model => model.UserAuth.IsActivated)
                @Html.HiddenFor(model => model.UserAuth.IsLocked)

                <div class="form-group">
                    @Html.LabelForRequired(model => model.RegisterModel.UserName, htmlAttributes: new { @class = "col-md-4 control-label" })   @*htmlAttributes: new { @class = "col-md-4 control-label" }*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.RegisterModel.UserName, new { @class = "form-control input-md", placeholder = "Логин" })
                        @Html.ValidationMessageFor(model => model.RegisterModel.UserName, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelForRequired(model => model.UserAuth.Email, htmlAttributes: new { @class = "col-md-4 control-label" })   @*htmlAttributes: new { @class = "col-md-4 control-label" }*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.UserAuth.Email, new { @class = "form-control input-md", placeholder = "E-mail" })
                        @Html.ValidationMessageFor(model => model.UserAuth.Email, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(model => model.RegisterModel.Password, htmlAttributes: new { @class = "col-md-4 control-label" })   @*htmlAttributes: new { @class = "col-md-4 control-label" }*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.RegisterModel.Password, new { @class = "form-control input-md", placeholder = "Пароль" })
                        @Html.ValidationMessageFor(model => model.RegisterModel.Password, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(model => model.RegisterModel.ConfirmPassword, htmlAttributes: new { @class = "col-md-4 control-label" })   @*htmlAttributes: new { @class = "col-md-4 control-label" }*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.RegisterModel.ConfirmPassword, new { @class = "form-control input-md", placeholder = "Подтверждение пароля" })
                        @Html.ValidationMessageFor(model => model.RegisterModel.ConfirmPassword, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                @*---------------------------------------------------------------*@

                <div class="form-group">
                    @Html.LabelForRequired(model => model.UserInfo.Birthdate, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.UserInfo.Birthdate, new { @class = "form-control input-md date form_datetime ", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.UserInfo.Birthdate, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <hr style="height:1px;border:none;color:#333;background-color:#808080;" />

                 <div class="form-group">
                    @Html.LabelForRequired(model => model.UserAuth.Surname, htmlAttributes: new { @class = "col-md-4 control-label" })   @*htmlAttributes: new { @class = "col-md-4 control-label" }*@
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.UserAuth.Surname, new { @class = "form-control input-md", placeholder = "Фамилия" })
                        @Html.ValidationMessageFor(model => model.UserAuth.Surname, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(model => model.UserAuth.Name, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.UserAuth.Name, new { @class = "form-control input-md", placeholder = "Имя" })
                        @Html.ValidationMessageFor(model => model.UserAuth.Name, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelForRequired(model => model.UserInfo.GenderIsMale, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        <span>М:</span>
                            @Html.RadioButtonFor(model => model.UserInfo.GenderIsMale, true, new { id = "male", @style = "width:auto;background:none;border:none" })
                        <span>Ж:</span>
                            @Html.RadioButtonFor(model => model.UserInfo.GenderIsMale, false, new { id = "female", @style = "width:auto;background:none;border:none" })
                        @Html.ValidationMessageFor(model => model.UserAuth.Name, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(model => model.UserInfo.MaritalStatusID, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.UserInfo.MaritalStatusID, (SelectList)ViewBag.MaritalStatuses, "---Выберите статус ---", htmlAttributes: new { @class = "form-control input-md" })  
                        @Html.ValidationMessageFor(model => model.UserInfo.MaritalStatusID, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelForRequired(model => model.UserInfo.EducationStatusID, htmlAttributes: new { @class = "col-md-4 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.UserInfo.EducationStatusID, (SelectList)ViewBag.EducationStatuses, "---Выберите образование ---", htmlAttributes: new { @class = "form-control input-md" })  
                        @Html.ValidationMessageFor(model => model.UserInfo.EducationStatusID, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>


                <div class="form-group">
                    <label class = "col-md-4 control-label">Загрузить фотографию</label>
                    <div class="col-md-6">
                        <input type="file" name="file"/>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" class="btn btn-default col-md-3" onclick="backToPreviousPage();">Отмена</button>
                        <input type="submit" value="Сохранить" class="btn btn-success col-md-3" style="margin-left:10px"/>
                </div>

            </fieldset>
        }
    </div>
</div>

    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 4,
            forceParse: 1,
            showMeridian: 1,
            minuteStep: 120,
            minView:2
        });
    </script> 
