﻿@model PascalWeb.DB.PageModels.Registration.RegistrationStepOneModel


@Styles.Render("~/Content/RoxieTheme//css/style-custom-registration.css") 
@Styles.Render("~/Content/RoxieTheme//css/media.css") 
@Styles.Render("~/Content/RoxieTheme//css/jquery.fileupload.css") 

@Html.Partial("_PageTittle", "PascalFM - Регистрация")
@Html.Partial("_HeadNavigation", 4)

 <div class="l-content l-content_enter">
            <div class="container">
                <section class="b-reg">
                    <h1 class="b-title-h1 b-title-h1_fs25">регистрация</h1>

                    @using (Html.BeginForm("RegStepTwo", "Account", FormMethod.Post, new
                    {
                        enctype = "multipart/form-data",
                        @class = "b-form b-reg-form",
                        role = "form",
                        @style = "margin:0px"
                    }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => Model.CaptchaObject.CaptchaImageString)

                        @Html.HiddenFor(model => Model.Image)
                        @Html.HiddenFor(model => Model.ImageType)

                     @*   @Html.HiddenFor(model => Model.PasswordObject.Password)
                        @Html.HiddenFor(model => Model.PasswordObject.PasswordConfirmation)*@

                        @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })
                        @*<div style="display:block">
                            @Html.ValidationMessageFor(model => model.Login, null, htmlAttributes: new { @style = "color:red;" })
                        </div>*@
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.Email, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.PasswordObject.Password, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.PasswordObject.PasswordConfirmation, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.UserName, null, htmlAttributes: new { @style = "color:red;" })         
                        </div>
                        <div style="display:block">  
                            @Html.ValidationMessageFor(model => model.UserSurname, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.Birthdate, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.CaptchaObject.CaptchaEnterCode, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <div style="display:block">
                            @Html.ValidationMessageFor(model => model.CaptchaObject.ConfirmationOfDataProcession, null, htmlAttributes: new { @style = "color:red;" })
                        </div>
                        <br />
            
                        <fieldset class="b-reg-form__step b-reg-form__step_first g-clearfix js-step-active">

@*                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.Login, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control js-require", placeholder = "Логин", @Autocomplete= "off" })
                                </div>
                            </div>*@

                            <div class="g-clearfix b-reg-form__item" style="width:100%">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.Email, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label"})  
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control js-require", @style = "width:100%", placeholder = "Email", @Autocomplete= "off" })
                                </div>
                            </div>

                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.PasswordObject.Password, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                                    @*<input type="password" name="Password" id="Password" value="@Model.PasswordObject.Password" class="form-control js-require"  placeholder = "Пароль" />*@
                                                @Html.PasswordFor(model => model.PasswordObject.Password, new { @class = "form-control js-require", placeholder = "Пароль" })
                                </div>
                            </div>

                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.PasswordObject.PasswordConfirmation, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                                    @*<input type="password" name="PasswordConfirmation" id="PasswordConfirmation" value="@Model.PasswordObject.PasswordConfirmation" class="form-control js-require"  placeholder = "Подтверждение пароля"/>*@
                                    @Html.PasswordFor(model => model.PasswordObject.PasswordConfirmation, new { @class = "form-control js-require", placeholder = "Подтверждение пароля" })
                                </div>
                            </div>

                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.UserName, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Имя" })
                                </div>
                            </div>

                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.UserSurname, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                                    @Html.TextBoxFor(model => model.UserSurname, new { @class = "form-control", placeholder = "Фамилия" })
                                </div>
                            </div>

                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    @Html.LabelForRequired(model => model.Birthdate, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                                    @Html.TextBoxFor(model => model.Birthdate, new { @class = "form-control input-md date form_datetime ", @style="background-color:white", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="g-clearfix b-reg-form__item">
                                <div class="form-group">
                                    <label class="b-form__label b-reg-form__item__label">Введите код *</label>
                                    <div class="b-captcha">
                                        <img src="@Model.CaptchaObject.CaptchaImageString" alt="" class="b-captcha__img">
            @*                                        <input type="text" placeholder="" name="captcha" class="form-control b-captcha__inp js-require" value="" data-type="captcha">*@
                                                                             
                                        @Html.TextBoxFor(model => model.CaptchaObject.CaptchaEnterCode, new { @class = "form-control b-captcha__inp js-require", placeholder = "Код" })
                                    </div>
                                </div>
                            </div>
                            <div class="b-reg-form__item_file">
                                <div id="fileDiv" class="b-form__file">
                                    @if(Model.Image == null)
                                    {
                                        @:<span id="uploadSPAN">Нажмите на кнопку, чтобы загрузить Ваше фото</span>
                                    } else
                                    {
                                        @:<span id="uploadSPAN">ИЗОБРАЖЕНИЕ ЗАГРУЖЕНО</span>                                        
                                    }
                                        
                                </div>
                                <span class="btn btn-primary fileinput-button">
                                    <span>Загрузить фото</span>
                                    <input id="file" type="file" name="file" onchange="fileinfo()">
                                </span>
                            </div>

                            <div class="g-clearfix b-message">
                                <div class="b-form__check_bg b-message__item">
                                    @*   <input id="consent" data-toggle="checkbox-x" value="0" data-three-state="false" class="b-form___checkbox" data-size="xs" tabindex="3">*@
                                    @Html.CheckBoxFor(model => model.CaptchaObject.ConfirmationOfDataProcession, new { @class = "b-form___checkbox", placeholder = "Код" })
@*                                    <label for="consent" class="b-form__label">Я согласен на <a href="" title="" class="b-message__item__link" target="_blank" onClick="window.open('PrivacyAgreementText.html', '_blank')">обработку персональных данных*</a></label>*@
                                    <label for="consent" class="b-form__label">Я согласен на @Html.ActionLink("обработку персональных данных*", "Agreement", "Account", null, htmlAttributes: new { @class="b-main_color", @style="text-decoration: underline;", @target="_blank"})</label>
                              
                                </div>
                                <div class="b-message__item">
                                    <span class="b-message__item__sign">*</span> &ndash; поля обязательны для заполнения
                                </div>
                            </div>
                        </fieldset>
                        
                        <div class="b-reg-form__item-btn"><input type="submit" value="Далее" class="btn btn-primary js-btn" style="height: 40px;"></div>
                    }
                </section>
            </div>
        </div>



    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 4,
            forceParse: 1,
            showMeridian: 1,
            minuteStep: 120,
            minView:2
        });
    </script> 


    <script type="text/javascript">
        function fileinfo() {
            document.getElementById("uploadSPAN").textContent = "ИЗОБРАЖЕНИЕ ЗАГРУЖЕНО";
        }
    </script>

