﻿@model PascalWeb.DB.PageModels.Registration.WizardRegistrationModel


@Styles.Render("~/Content/RoxieTheme//css/style-custom-registration.css") 
@Styles.Render("~/Content/RoxieTheme//css/media.css") 
@Styles.Render("~/Content/RoxieTheme//css/jquery.fileupload.css") 

@Html.Partial("_PageTittle", "PascalFM - Регистрация")
@Html.Partial("_HeadNavigation", 4)


 <div class="l-content l-content_enter">
            <div class="container">
                <section class="b-reg">
                    <h1 class="b-title-h1 b-title-h1_fs25">регистрация</h1>
      @*              <form action="#" method="post" class="b-form b-reg-form">*@


        @using (Html.BeginForm("FinishRegistration", "Account", FormMethod.Post, new
        {
            enctype = "multipart/form-data",
            @class = "b-form b-reg-form",
            role = "form",
            @style = "margin:0px"
        }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red" })

            
            @Html.HiddenFor(model => Model.Step1);
            //            @Html.Hidden("step1", Model.Step1);

            <fieldset class="b-reg-form__step b-reg-form__step_second b-reg-form_active">

                <div class="b-reg-form__item  b-reg-form__item_left">
                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.GenderIndex, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })
                        @Html.DropDownListFor(model => model.Step2.GenderIndex, (SelectList)ViewBag.UserGenders, "---Выберите пол ---", htmlAttributes: new { @class = "form-control" })  
                        @Html.ValidationMessageFor(model => model.Step2.GenderIndex, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="b-reg-form__item b-reg-form__item_right">
                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.MaritalStatusID, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })
                        @Html.DropDownListFor(model => model.Step2.MaritalStatusID, (SelectList)ViewBag.MaritalStatuses, "---Выберите статус ---", htmlAttributes: new { @class = "form-control" })  
                        @Html.ValidationMessageFor(model => model.Step2.MaritalStatusID, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

@*                <div class="b-reg-form__item  b-reg-form__item_left">
                    <div class="form-group">
                        <label class="b-form__label b-reg-form__item__label">Страна:</label>
                        <select class="form-control" id="sel3">
                            <option>Россия</option>
                            <option>Индия</option>
                            <option>Китай</option>
                        </select>
                    </div>
                </div>*@


@*                <div class="b-reg-form__item b-reg-form__item_right">
                    <div class="form-group">
                        <label class="b-form__label b-reg-form__item__label">Город:</label>
                        <select class="form-control" id="sel4">
                            <option>Москва</option>
                            <option>Душанбэ</option>
                            <option>Торонто</option>
                        </select>
                    </div>
                </div>*@

                <div class="b-reg-form__item  b-reg-form__item_left">
                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.UserOccupationID, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })
                        @Html.DropDownListFor(model => model.Step2.UserOccupationID, (SelectList)ViewBag.UserOccupations, "---Выберите род занятий ---", htmlAttributes: new { @class = "form-control" })  
                        @Html.ValidationMessageFor(model => model.Step2.UserOccupationID, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="b-reg-form__item b-reg-form__item_right">
                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.EducationStatusID, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })
                        @Html.DropDownListFor(model => model.Step2.EducationStatusID, (SelectList)ViewBag.EducationStatuses, "---Выберите образование ---", htmlAttributes: new { @class = "form-control" })  
                        @Html.ValidationMessageFor(model => model.Step2.EducationStatusID, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>

                <div class="b-reg-form__item-txtarea">
                    <div class="form-group">
                        @Html.LabelForRequired(model => model.Step2.UserInterests, htmlAttributes: new { @class = "b-form__label b-reg-form__item__label" })  
                        @Html.TextAreaFor(model => model.Step2.UserInterests, new { @class = "b-form__textarea"})
                        @Html.ValidationMessageFor(model => model.Step2.UserInterests, null, htmlAttributes: new { @style = "color:red;" })
                    </div>
                </div>
                            
            </fieldset>
            <div class="b-reg-form__item-btn"><input type="submit" value="Отправить" class="btn btn-primary js-btn" alt=""></div>       
        }
        </section>
    </div>
</div>