﻿@model PascalWeb.DB.PageModels.Specific.RestorePasswordModel

@Styles.Render("~/Content/RoxieTheme/css/style-custom-enter.css")

@Html.Partial("_PageTittle", "PascalFM - Вход")
@Html.Partial("_HeadNavigation", 4)

<div class="l-content l-content_enter">
    <section class="b-auth">
        <h1 class="b-title-h1 b-title-h1_fs25">Восстановление пароля</h1>

        @using (Ajax.BeginForm(actionName: "SendRestoreMessage", controllerName: "Account", routeValues: null, ajaxOptions: new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "ajax_main_container",
            LoadingElementId = "loadLayout"
        }, htmlAttributes: new { @class = "", @style = "padding-bottom:10px" }))
        {
            @Html.AntiForgeryToken()

            <div style="text-align:center;">
                <p>Для восстановления пароля введите, пожалуйста, e-mail, который Вы указывали при регистрации</p>
                @Html.ValidationSummary(true, null, htmlAttributes: new { @style = "color:red;" })
                @Html.ValidationMessageFor(m => m.Email, null, htmlAttributes: new { @style = "color:red;" })
            </div>
            <br />
            
            <div class="b-auth-form">
                <div class="b-auth-form__item">
                    @Html.TextBoxFor(m => m.Email, new { @class = "b-form__inp b-auth-form__item__inp", placeholder = "Email" })
                </div>
                <div class="" style="display:block">
                    <input type="submit" value="Восстановить" class= "btn btn-primary" style="width:100%; margin-bottom:10px"/>
                </div>
            </div>
            
        }


    </section>
</div>
